.radio-cirle{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.radio-cirle li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.radio-cirle li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.radio-cirle li label{
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    padding: 2px 0 0px 25px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    margin-bottom: 0;
}

.radio-cirle li .check{
    display: block;
    position: absolute;
    border: 2px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.radio-cirle li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.radio-cirle input[type=radio]:checked ~ .check {
    border: 2px solid #1688e5;
}

.radio-cirle input[type=radio]:checked ~ .check::before{
    background: #1688e5;
}

.radio-cirle input[type=radio]:checked ~ label{
    color: $text-color;
}