@import "../app.scss";
@import "../includes/navbar.scss"; 
@import "../includes/footer.scss";
@import "../../plugin/animate.scss";
@import "../../plugin/jquery.selectBoxIt.css";
@import "../client/single-service-questions.scss";
#contact-us .selectArrow {
  z-index: 9 !important;
}

#contact-us .selectboxit-container {
  width: 263px;
}

#contact-us .selectboxit-container .selectboxit-btn {
  width: 100% !important;
}

#contact-us .selectboxit-container .selectboxit-btn .selectboxit-text {
  max-width: inherit !important;
}

#contact-us .selectboxit-container span {
  max-width: 100% !important;
}

#contact-us .form-group .selectboxit-container .selectboxit-list {
  width: inherit !important;
}

.selectboxit-container span {
  max-width: 158px !important;
  color: #555555 !important;
  margin-right: 26px;
  margin-bottom: 18px;
  padding: 11px 12px 14px 12px;
  height: 48px;
  border-radius: 0;
  font-size: 15.5;
  font-weight: 400;
  text-align: left;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.selectboxit-container .selectboxit {
  border-radius: 0;
  border: 1px solid #ccd0d2;
  height: 48px;
  width: 158px !important;
  margin-top: 0px;
  background: #fff;
}

.selectboxit-container .full-width {
  width: 273px !important;
  max-width: 273px !important;
  padding: 10px 0 14px 13px !important;
  margin-right: 2px;
  margin-bottom: 0px;
  font-size: 16px;
}

.selectboxit-container .full-width span {
  padding: 0 !important;
  max-width: 273px !important;
  margin-bottom: 0;
}

.selectboxit-container .selectboxit-options {
  border-radius: 0 !important;
}

.selectboxit-container .selectboxit-options .selectboxit-option {
  padding: 0 !important;
  border-bottom: 1px solid #b1b1b1;
  text-align: center;
  /*margin: 4px 0;*/
  border-radius: 0;
}

.selectboxit-container .selectboxit-options .selectboxit-option a:hover {
  background-color: #e6e6e6;
  color: #027dca;
}

.selectboxit-container .selectboxit-options .selectboxit-option .selectboxit-option-anchor {
  line-height: 40px;
  /*margin: 4px 0;*/
  display: block;
  color: #333333;
  font-size: 14px;
  padding: 0;
  height: 36px;
}

.selectboxit-container .selectboxit-options .selectboxit-focus:hover {
  background-color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.about-us{
    background-color:$white;

    .headline{
        .service-oriented-wrapper {
            padding-top: 70px;
            padding-bottom: 70px;
            @media screen and (max-width:767px){
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }
        h3{
            font-size: 42px;
            font-weight: 100;
            margin-bottom: 40px;
            color:$black-text;
        }
        .headline-heading>*{
            font-size: 33px;
            font-weight: 600;
            font-family: lato;
            margin-bottom: 40px;
            color: #444444;
            line-height: 44px;
        }
        .headline-heading {
            p{
                margin-top: 0px;
                margin-left: 0px;
                padding-top: 0;
                @media screen and (max-width:767px){
                    text-align:center;
                }
            }
        }
        p{
            color:$grey-text;
            font-size: 16px;
            font-weight: 400;
            margin-left: 15px;
            /*margin-bottom: 110px;*/
        }
    }
    .comprehensive-process{
        padding: 40px 15px;
        h3,.comprehensive-process-heading>*{
            position: absolute;
            top: 50%;
            margin: 0;
            transform: translate(0%,-50%);
            font-weight: 100;
            font-size: 40px;
            color:$black-text;
            span{
                color:$green;
            }
        }
        ul{
            li{
                color: $grey-text;
                font-size: 27px;
                font-weight: 100;
                padding: 10px 0px;
            }
        }
    }
    .over-hidden{
        overflow:hidden; 
        margin:0px;
        background-color: #fff;
    }
    #team-member-outer{
        width:200%;
        float:left;
        overflow:hidden;
        #all-team-members,#single-team-member{
            width:50%;
            float:left;
        }
        #all-team-members{
            z-index: 1;
            background-color: $white;
            overflow: hidden;
        }
        #single-team-member{
            z-index: 2;
            background-color: $white;
            opacity: 1;
            height: auto;
            position: fixed;
            top: 80px;
            right: 80px;
            left: 100%;
            bottom: 0;
            margin: 0;
            width: 100%;
            overflow-y: auto;
        }
        .our-team-wrapper{
            padding-top:70px;
            @media screen and (max-width:767px){
                padding-top:35px;
            }

            .text-center {
                text-align: left;
                font-size: 33px;
                font-weight: 600;
                font-family: lato;
                margin-top: 0;
                color: #444444;
                line-height: 44px;
                @media screen and (max-width:767px){
                    text-align:center;
                }
            }
        }
    }
    .team-list{
        padding-bottom: 80px;
        h3{
            margin-top: 60px;
            font-size: 40px;
            font-weight: 100;
            margin-bottom: 50px;
            color: #444444;
        }
        .single-employee{
            margin-bottom: 30px;
            overflow: hidden;
            &:nth-child(3n+4){
                clear: both;
            }
            .inner-div{
                border:1px solid #b8babc;
                h4{
                    margin: 10px 0px 3px 15px;
                    color:$black-text;
                    font-weight:700;
                    span{
                        padding:0px 15px;;
                        color: #002d62;
                        cursor: pointer;
                    }
                }
                p{
                    margin: 0px 0px 2px 15px;
                    color: $grey-text;
                    font-weight: 400;
                    font-size: 15px;
                    @media screen and (max-width:767px){
                        text-align:center;
                        margin:0;
                    }
                }
            }
            .employee-details{ 
                position: absolute;
                top: 0;
                background: #f5f8fa;
                left: 16px;
                right: 16px;
                top: 1px;
                bottom: 1px;
                display:none;
                overflow:hidden;
                .employee-header{
                    position: relative;
                    width: 100%;
                    float: left;
                    border-bottom: 1px solid #b8babc;
                    padding-left: 15px;
                    h4{
                        margin-bottom: 5px;
                    }
                    h5{
                        margin-top: 0;
                        color: $grey-text;
                    }
                    .close{
                        top: 0px;
                        position: absolute;
                        right: 8px;
                        color: $dark-blue;
                        opacity: 1;
                        font-size: 36px;
                        font-weight: 400;
                        outline: none;
                    }
                }
                .employee-body{
                    width: 100%;
                    float: left;
                    padding: 15px;
                    word-wrap: break-word;
                    p{
                        font-size: 14px;
                        margin: 0;
                        color: $grey-text; 
                    }
                }
                .employee-footer{
                    width: 100%;
                    float: left;
                    position: absolute;
                    bottom: 0px;
                    padding: 20px 0px;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 800;
                    background-color:#f5f8fa;
                    a{
                        color: $dark-blue;
                        cursor:pointer;
                        font-size: 16px;

                        &:hover,&:focus{
                            text-decoration: none;
                            color:#01142a;
                        }
                    }
                }
            }   
        }
    }
    .our-mission{  


        .our-mission-wrapper {
            padding-top: 70px;
            padding-bottom: 70px;
            @media screen and (max-width:767px){
                padding:35 15px;
            }
        }
        background-color: #334353;
        /*padding: 70px 15px;*/
        .our-mission-heading{
            font-size: 36px;
            font-family: lato;
            font-weight: 600;
            color: white;
            line-height: 42px;

            /*            position: absolute;
                        top: 50%;
                        margin: 0;
                        -webkit-transform: translate(0%, -50%);
                        transform: translate(0%, -50%);
                        font-weight: 100;
                        font-size: 40px;
                        color: $white;*/
            span{
                color: #2079ed;
            }
        } 
        .our-process-wrapper {
            padding-top: 60px;
            padding-bottom: 60px;
            @media screen and (max-width:767px){
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }

        h4,.our-mission-description>*{
            color: $white;
            line-height: 32px;
            /*            font-size:28px;
                        font-weight: 100;
                        line-height: 40px;*/
        }
        .our-mission-description{
            padding-left:15px !important;
            ul{
                padding-left:15px;
                text-align: left;
            }
        }
    }
    .questions{ 
        padding: 70px 15px;
        h2,.questions-heading{
            font-size: 32px;
            font-weight: 700;
            margin-top: 0;
            color: #444444;  
            line-height: 27px;
            font-family: lato; 
            padding-left: 100px;

        }

        span{
            font-size: 33px;
            font-weight: 100;
            display: block;
            font-weight: 800;
            color:rgb(31, 122, 237);
            padding-left: 100px;
            padding-top: 22px;
            a{
                color: $dark-blue;
            }
        }
        .questions-heading, span {
            @media screen and (max-width:991px){
                padding-left:0;
            }
        }
        .warrior-img{
            margin-top: 10px;
        }
    }
    .relative{
        position: relative;
    }
    .static{
        position: static;
    }
    hr{
        border-top: 1px solid #d7d8d9;
    }

    @media screen and (max-width:767px) {
        padding:0px;
        &>.row{
            margin: 0;
        }
        .header{
            padding-top: 110px;
            padding-bottom: 55px;
            h2,.home-heading > *{
                font-size: 45px;
            }
        }
        .headline{
            h3{
                font-size: 35px;
            }
            p{
                margin-bottom: 20px;
            }
        }
        .comprehensive-process{
            padding: 10px 0px;
            h3,.comprehensive-process-heading>*{
                position: static;
                margin-top: 0;
                transform: none;
                font-size: 35px;
            }
            ul{
                margin-top: 15px;
                padding-left: 20px;
                li{
                    font-size: 20px;
                    padding: 0px 0px;
                }
            }
        }
        .team-list{
            padding:30px 0;
            h3{
                margin-top: 10px;
                font-size: 32px;
                margin-bottom: 30px;
            }
            .single-employee{
                margin-bottom: 15px;
                .inner-div .img-responsive{
                    margin: auto;
                }
                .employee-footer{
                    & > div:nth-child(1){
                        text-align: right;
                    }
                    & > div:nth-child(2){
                        text-align: left;
                    }
                }
            }
        }
        .our-mission{
            padding:0px 0;
            h3,.our-mission-heading>*{
                position: static;
                margin-top: 0;
                transform: none;
                text-align: center;
                font-size: 35px;
                line-height: 1;
            }
            h4,.our-mission-description>*{
                font-size: 20px;
                line-height: 30px;
                text-align: center;
            }
            .static{
                margin-bottom: 20px;
            }
        }
        .questions{
            padding:30px 0;
            h2,span,.questions-heading>*{
                font-size: 35px;
                line-height: 1;
                margin-bottom: 5px;
            }
            span {
                padding-left:0;
                padding-top:0;

            }
            .cta{
                margin-bottom: 35px;
                .questions-heading {
                    margin-bottom: 30px;
                    padding-left:0;
                }
            }
        }
    }
}


/*.team-member-outer{
    .team-list {
        .our-team-wrapper{
            padding-top: 70px;
            
            h3 {
                text-align: left;
                color: #444444;
            }
        }
    } 
}*/
.full-bio{
    background-color:$white;
    padding: 30px 15px 50px 15px;
    a{
        display: block;
        cursor: pointer;
        text-decoration:none;
        font-size:15px;
        &.back-arrow{
            color:$dark-blue;
            padding: 30px 15px;
            font-weight: bold;
            span{
                margin-right: 10px;
            } 
            &:hover,&:focus,&:active{
                text-decoration: none;
                outline: 0;
            }
        }
    } 
    h1{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .contact-options{
        a{
            color: $black-text;
            display:inline-block;
            padding: 10px;
            font-size: 24px;
        }
    }
} 

@media screen and (max-width: 767px) {
    .about-us #team-member-outer .full-bio{
        padding:0px;
    }
    .full-bio a.back-arrow{
        padding:30px 0px;
    }
    .about-us #team-member-outer #single-team-member{
        top: 62px;
    } 
}
@media screen and (max-width: 767px) {
    .about-us #single-team-member .col-sm-3,.about-us #single-team-member .col-sm-9{ 
        padding:10px 0px;
    }
}

.page-heading{ 
    min-height:42vh;    
    padding-top:6vw;
    /*    .home-heading {
            padding:0;
        }
        .tag-line {
            padding:0;
        }*/
}