@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss";
@import "../../plugin/sweetalert/sweetalert.scss";
@import "../../plugin/jquery.selectBoxIt.css";
@import "../client/single-service-questions.scss";




/*slide-1*/
#slide1{
    height: 78vh;
    position: relative;
    background-size: cover; 
    background-position: center center;
    .black-bg {
        position: absolute; 
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        .hero-lines{
            padding-top: 28vh;
            width: 100%;
            .hero-heading > *{
                color: $white;
                word-spacing: 7px;
                font-weight:700;
                margin-bottom:25px;
                line-height: 0.8;
                font-family: Lato;
                font-size: 41px;
                text-transform:uppercase;

                span{
                    color: #2179ed !important;
                }
            } 
            h3{
                color: $white;
                max-width: 420px;
                font-size: 23px;
                font-weight: 400;
                font-family: Lato;
                line-height: 32px;
            }
        }
    }
}

*
/*slide-1--end*/

/*slide-2*/
#slide2{
    padding-bottom: 60px;
    background-color: $white;
    .box{

        padding: 15px 20px;
        color: $grey-text;
        font-size: 17px;


        .box-img{
            padding: 25px 0;
            img{
                /*border-radius: 50%;*/
                width: 50px;
            }
        }
        .box-title{
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 700;
            color: #30363D;
            font-family: Lato;
            line-height: 29px;

        }

    }
}
/*slide-2--end*/

#slide3{
    padding-top: 80px;
    padding-bottom: 135px;
    background-color: $white;
    position:relative;
    .p0{
        padding: 0px;
    }
    h2{
        margin-bottom: 25px;
        color: #000;
        font-weight: 700;
        font-family: Lato;
        font-size: 32px;	
        line-height: 44px;
    }
    p{
        margin: 0px 0px 50px;

    } 
    .sub-para {
        color: $grey-text;
        font-size: 18px;
    }
    .getbtn {
        background-color: #2179EE;
        color: #fff;
        font-weight: 700;
        padding: 20px 75px;
        font-size: 22px; 
        border-radius: 5px;
        border: none;
        @media screen and (max-width:991px){
            display: inline-block;
            padding: 15px 48px;
        }
    }
    .getbtn:hover {
        background-color: #0863de;
    }
}

/*slide-3--end*/

/*slide-4*/
#slide4{
    background-color:$navy-blue;
    text-align: center;
    position:relative;
    .left-div{
        position:static;
        .decades-img{
            background-image: url('https://placeholdit.imgix.net/~text?txtsize=16&txt=icon&w=500&h=380');
            background-size: cover;
            background-position: center center;
            min-height: 250px;
            @media screen and (min-width:767px){
                min-height: 365px;
                position: absolute;
                top: 0;
                right: 50%;
                bottom: 0;
                left: 0;
            }
        }
    }
    .right-div{
        color:$white;
        text-align: left;
        max-width: 350px;
        margin: 100px auto;
        .heading-l>*{ 
            margin-bottom:45px;
            margin-top: 60px;
            font-family: Lato;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
            span{
                color: #2179ed !important;
            }
        }
        h1{
            font-size: 40px;
            font-weight: 100;
            margin-bottom:40px;
            margin-top: 50px;
            span{
                color: $green;
            }
        }
        p{
            margin-bottom:40px;
            font-size: 17px;
            font-weight: 400;
            line-height: 1.45;
        }
        .meet-team{
            color: #2179ed;
            cursor: pointer;
            text-decoration: none;
            font-weight: 700;
            i{
                color: #2179ed !important;
                margin: 1px 0 0 8px;
            }
            span{
                margin-left: 10px;
                color: #2179ed !important;
            }
        }
    }
}
/*slide-4--end*/


/*slide-6*/
#slide6{
    background-image: url('../../img/home-flag.jpeg');
    background-size: cover;
    padding:0;
    .right-div{
        color: $white;
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        float: right;
        margin-bottom: 60px;
        text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.6);
        h1{
            margin-bottom: 40px;
            font-family: Lato;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
        }
        p{
            margin-bottom: 40px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.45;

        }
        .discount-service{
            color: $white;
            cursor: pointer;
            text-decoration: none;
            font-weight: 800;
            font-size: 16px;
            span{
                margin-left: 10px;
            }
        }
    }
}
/*slide-6--end*/

/*slide-7*/
#slide7{ 
    color: $white; 
    background-color:  $white;
    padding:60px 0 70px 0;
    text-align:center;
    .m-40{
        margin: 0 -45px;
    }
    h1{
        color: $black-text;
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        padding-bottom: 60px;
    }
    .commentary-box{
        background-size: cover;
        background-position: center center;
        margin: 30px;
        text-align: left; 
        position: relative;
        cursor: pointer;
        min-height: 280px;
        .commentary-bg{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            color: #fff;   
            bottom: 0;
            p{
                border-bottom: 2px solid white;
                position: absolute;
                padding-bottom: 30px;
                left: 20px;
                right: 20px;
                top: 20px;
                span{
                    display: inline-block;
                    padding-left:10px;
                    position:relative;
                    &:before{
                        content:"-";
                        display: block;  
                        position: absolute;
                        left: 2px;
                    }
                }
            }
            h3{ 
                position: absolute;
                margin: 30px 0;
                top: 50%;
                left: 20px;
                transform: translate(0,-50%);
                font-size: 29px;
            }
            @media screen and (max-width:991px){
                margin-left:0px;
                margin-right:0px;
            }
        }
    }
}
/*slide-7--end*/

/*@media screen and (max-width: 767px) { 
    #slide2{
        .box{
            padding: 15px 0px;
            width:100%!important;
        }
    }
}*/
@media screen and (max-width: 767px) { 
    #slide1 {
        .hero-lines{
            width: 100%;
            padding: 25vh 0 0 0;
            h1{
                font-size: 35px;
            }
            h3{
                font-size: 17px;
            }
        }
    }  
    #slide2{
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
        .box {
            padding: 15px 15px;
            text-align: center;
        }
    }
    #slide3{
        padding: 30px 30px 30px 30px;
        .container{
            padding: 0;

            .txt-center{
                text-align: center;

            }
            .search-img {
                padding: 0;
                margin-top: 56px;
                text-align: center;
                .img-responsive {
                    display: inline;
                }
            }
        }
        h2,.heading-l > *{
            padding: 0px 15px;
            font-size: 30px;
            margin-top: 5px;
        }
        p {
            padding: 0 15px;
        }
    }
    #slide4{
        & > div{
            padding:0; 
        }
        .col-sm-6{
            padding:0;
        }
        .right-div{
            padding: 0 15px;
            h1,.heading-l > *{
                font-size: 30px;
            }
        }
    }
    #slide5{
        padding: 58px 15px 80px 15px;
        h1{
            font-size: 30px;
        }
        .investment-form{
            margin-bottom: 30px;
        }
    }
    #slide6 .right-div{
        margin-top: 30px;
        margin-bottom: 30px;
        float: none;
        padding: 0 15px;
        h1{
            font-size: 33px;
            margin-bottom: 20px;  
            p{
                margin-bottom: 20px;
            }
        }
    }
    #slide7{
        padding: 15px 15px 15px 15px;
        .container{
            padding: 0;
        }
        h1{
            font-size: 33px;
            padding-bottom: 0;
        }
    }
}
@media screen and (max-width: 665px) { 
    #slide1 {
        .black-bg {
            .hero-lines{
                .hero-heading > *{
                    line-height: 1;
                }
            } 
        }
    }  
}
