@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss"; 
@import "../../plugin/jquery.selectBoxIt.css";
@import "../client/single-service-questions.scss";

.resources-answer {
    float: left;
    padding-top: 85px;
    @media screen and (max-width:767px){
        padding-top: 35px;
        padding-bottom: 35px;
        text-align:center;
    }
    h2 {
        font-size: 34px;
        font-weight: bold;
        color: #31373e;
        margin-top: 0;
        @media screen and (max-width:767px){
            margin-top:0px;
        }
    }
    p {
        color:#686b70;
        font-size: 16px;
        @media screen and (max-width:767px){
            margin-bottom:0px;
        }
    }
}

.resources-list{ 
    padding-bottom: 40px;
    padding-top: 75px;
    margin-top: -15px;
    @media screen and (max-width:767px){
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .each-resource{
        margin-top:15px;
        a {
            background: #b4bbc5;
            width: 100%;
            min-height: 12vw;
            display:block;
        }
        p {
            font-size: 1.5vw;
            color: #fcfdfd;
            position: absolute;
            top: 50%;
            line-height: 28px;
            left: 50%;
            font-family: lato;
            transform: translate(-50%, -50%);
            display: -webkit-box;
            @media screen and (max-width:767px){
                font-size: 16px;
            }
        }
    }
}

.form-center {
    text-align: center;
    padding: 110px 0 170px 0px;
    background-color: #fff;
    box-sizing: border-box;
    @media screen and (max-width:767px){
        padding-top: 2px;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;


        .row {
            margin-left: -15px;
            margin-right: -15px;

            .investment-intake {
                width: 60%;
                margin:auto;
                form {
                    display: block;
                    margin-top: 0em;

                    input {
                        font-family: inherit;
                        font-size: inherit;
                        line-height: inherit;
                    }  
                }
                .dialogue-1{
                    span {
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 38px;
                        margin-bottom: 0;
                    }

                    .investment-wrapper {
                        position: relative;
                        display: inline-block;
                        max-width: 100%;
                        input {
                            border: none;
                            border-radius: 0px;
                            border-bottom: 1px solid #636b6f;
                            padding-bottom: 3px;
                            font-size: 21px;
                            line-height: 35px;
                            text-align: center;
                            width: 105px;
                            font-weight: 400;
                            display: inline;
                        }
                        span {
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 38px;
                            margin-bottom: 0;
                        }
                    }
                    .btn {
                        background-color: #2179EE;
                        padding: 10px 50px;
                        font-size: 16px;
                        color: #fff;
                        font-weight: 600;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}

.pd0 { 
    padding:0;
}

.blue-bar{
    background-color: $dark-blue;
    @media screen and (max-width:992px){
        height: 125px;
    }
    @media screen and (min-width:992px){
        height: 80px;
    }
    @media screen and (max-width:768px){
        height: 62px;
    }
}
.resources{
    background-color: $white;
    padding: 60px 0 0 0;
    min-height: 577px;
}
.over-hidden{
    overflow:hidden;
    float:left;
    width:100%;
    #resources-outer{
        width:300%;
        float:left;
        #all-resources,#all-resources-topics,#single-resources-topic{
            width:33.333333%;
            float:left;
            overflow: hidden;
        }
        #all-resources{
            z-index: 1;
        }
        #all-resources-topics{
            z-index: 2;
            background-color: $white;
        }
        #single-resources-topic{
            z-index: 3;
            background-color: $white;
        }
        #append-resources-topics{
            width:100%;
            float:left;
            margin-left: -25px;
            margin-right: -25px;
            @media screen and (max-width:768px){
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}
.all-resources-box{
    margin-left: -30px;
    margin-right: -30px;
    @media screen and (max-width:768px){
        margin-left: 0px;
        margin-right: 0px;
    }
}
.resources-box,.resources-topics{
    text-align: left;
    border:5px solid $dark-blue-border;
    border-radius: 4px;
    overflow: hidden;
    position:relative;
    margin: 15px 10px;
    margin-bottom:20px;
    cursor:pointer;
    &:hover{
        box-shadow: 1px 4px 10px 1px rgba(2, 2, 2, 0.28);
    }
    .resources-img{
        margin: auto;
        text-align: center;
        height: 146px;
        background-size: cover;
        background-position: center center;
        position: relative;
        h3{
            text-align: center;
            margin: 0;
            color: $white;
            line-height: 1.25;
            position: absolute;
            width: 100%; 
            padding: 0px 10px;
        }
    }
    .resources-category{
        text-align: center;  
        height: 70px;
        padding: 12px 10px;
        h3{
            font-size: 15px;
            margin-top: 15px;
            text-transform: uppercase;
        }
    }
    .btn-white{ 
        width: 100%;
        border:none;
        border-top:5px solid $dark-blue-border;
        text-transform: uppercase;
        padding: 5px 14px;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
    }
    @media screen and (max-width:992px){
        margin: 15px 0;
    }
    &:hover{
        box-shadow: 1px 4px 10px 1px rgba(2, 2, 2, 0.28);
        .btn-white{
            background-color: $green;
            color: $white;
        }
    }
}
a{
    cursor: pointer;
    text-decoration:none;
    font-size:15px;
    &.back-resources,&.back-categories{
        color:$dark-blue;
        padding:0px;
        .services-arrow-left{
            margin-right: 10px;
        } 
        #categoryName{
            text-transform: capitalize;
        }
        &:hover,&:focus,&:active{
            text-decoration: none;
            outline: 0;
        } 
    }
}
.resources-single-category{  
    background-color: $white;
    padding: 40px 0px;
    border-bottom: 1px solid $dark-grey-border;
    min-height: 577px;
    padding-bottom: 60px;
    a{
        &.back-resources,&.back-categories{
            display: block;
        }
    }
}
.resources-single-topic{
    background-color: $white;
    padding: 40px 0;
    border-bottom: 1px solid $dark-grey-border;
    padding-bottom: 60px;
    min-height: 577px;
    .single-topic-content{
        margin-top: 30px;
        margin-bottom: 30px;
        p.helpful-links{
            color:$dark-blue;
            font-weight: bold;
            margin-bottom: 0;
        }
        ul.files-list{
            float: left;
            padding-left: 20px;
            li{
                a{
                    color:$dark-blue;
                    &:hover,&:focus{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.services-loader{
    color: #444444;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    font-size: 13px;
    display:none;
    transform: translate(-50%,-50%);
}
.service-open-slide{
    .services-loader{ 
        display:block;
    }
    .resources-box{
        opacity:0.6;   
    }
    .resources-topics{
        opacity:0.6;   
    }
}
#slide5 {
    padding:70px 0 140px 0;
    @media screen and (max-width:767px){
        padding-bottom: 55px;
        padding-top: 25px;
    }

    h1 {
        display: none;
    }
}