@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss";

.blue-bar{
    background-color: $dark-blue;
    @media screen and (max-width:992px){
        height: 125px;
    }
    @media screen and (min-width:992px){
        height: 80px;
    }
    @media screen and (max-width:768px){
        height: 62px;
    }
}
.services-nav{
    background-color: $white;
    border-bottom:1px solid $light-grey-border;
    padding:0;
    padding-top: 10px;
    ul{
        text-align: center;
        @extend .list-inline;
        margin-bottom:0;
        li{
            margin-right:20px;
            a{
                color:$grey-text;
                text-decoration: none;
                padding: 8px 0 7px 0;
                display: block; 
                font-size: 13px;
                span{
                    margin-right: 10px;
                }
                img{
                    max-width: 23px;
                    vertical-align: bottom;
                    margin-right: 8px;
                }
            }
            &:last-child{
                margin-right:0; 
            } 
        }
    }
}
.services{
    background-color: $white;
    padding: 0;
    overflow:hidden;
    .page{
        padding: 30px 0;
    }
    #servicesOuter{
        width:200%;
        float:left;
        padding:0;
        #single-service,#all-services{
            width: 50%;
            float: left;
        }
        #all-services{
            z-index: 1;
            overflow: hidden;
        }
        #single-service{
            z-index: 2;
            background-color: #fff;
        }
    }
    .services-lists{
        margin-top: 50px;
        min-height: 430px;
        margin-bottom: 50px;
        margin-left: -30px;
        margin-right: -30px;
        @media screen and (max-width:768px){
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    .services-loader{
        color: #444444;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        font-size: 13px;
        transform: translate(-50%,-50%);
        display:none;
    }
    .service-open-slide{
        .services-loader{
            display:block;
        }
        .service-box{
            opacity:0.6;   
        }
    }
    .service-box{
        text-align: left;
        border:1px solid $dark-grey-border;
        border-radius: 4px;
        overflow: hidden;
        position:relative;
        margin: 15px;
        margin-bottom:20px;
        cursor:pointer;
        .service-img{
            margin: auto;
            /*background-image: url('https://placeholdit.imgix.net/~text?txtsize=16&txt=service&w=253&h=140');*/
            height: 146px;
            background-size: cover;
            background-position: center center;
            position: relative;
            h3{
                text-align: center;
                margin: 0;
                color: $white;
                /*font-size: 26px;*/
                line-height: 1.25;
                position: absolute;
                width: 100%;
                padding: 0px 10px;
            }
        }
        .service-info{
            padding: 0 15px;
            position:relative;
            @media screen and (min-width:768px){
                min-height: 135px;
            }
            @media screen and (min-width:992px){
                min-height: 115px;
            }
            h3{
                font-size: 19px;
                margin-top: 15px;
                display: inline-block;
                height: 60px;
                padding-right: 70px;
                overflow: hidden;
            }
            .icons{
                display: inline-block;
                margin-top: 12px;
                margin-left: 0px;
                float: right;
                position: absolute;
                top: 0px;
                right: 15px;
                img{
                    max-width: 18px;
                    vertical-align: bottom;
                }
            }
            p{
                line-height: 17px;
                font-size: 14px;
            }
        }
        .btn-white{
            width: 100%;
            border:none;
            border-top:1px solid $dark-grey-border;
        }
        @media screen and (max-width:992px){
            margin: 15px 0;
        }
        &:hover{
            box-shadow: 1px 4px 10px 1px rgba(2, 2, 2, 0.28);
            .btn-white{
                background-color: $green;
                color: $white;
            }
        }
    }
    .conditions{
        p{
            font-style: italic;
            @media screen and (max-width:767px){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}
.service-single{
    background-color: $white;
    padding: 20px 0;
    border-bottom: 1px solid $dark-grey-border;
    min-height: 580px;
    margin-left: -15px;
    margin-right: -15px;
    h1{
        padding: 0 15px;
        margin-bottom: 50px;
    }
    a{
        cursor: pointer;
        text-decoration:none;
        font-size:15px;
        &.back-services{
            color:$dark-blue;
            padding: 0 15px;
            span{
                margin-right: 10px;
            } 
        }
        &.fee-schedule{
            color:$dark-blue;
        }
        &.initial-planning{
            color:$dark-blue;
            float: left;
            text-decoration: underline;
            display: block;
            width: 100%;
        }
        &.btn-green{
            padding: 9px 25px;
            border-radius: 4px;
            display: block;
        }
    }
    p.helpful-links{
        color:$dark-blue;
        font-weight: bold;
        margin-bottom: 0;
    }
    ul.files-list{
        float: left;
        padding-left: 20px;
        li{
            a{
                color:$dark-blue;
                &:hover,&:focus{
                    text-decoration: none;
                }
            }
        }
    }
    .start-option{
        float: right;
        margin-right: 90px;
        .help-line{
            display: block;
            color:$grey-text;
            margin-top: 10px;
            text-align: center;
        }
    }
    .title{
        font-size: 19px;
        width: 185px;
        padding: 0 15px;
        float: left;
    }
    .text{
        width: calc(100% - 185px);
        padding: 0 15px;
        float: left;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.3;
        word-spacing: 2px;
    }
    .description, .recommended, .cost{
        position: relative;
        overflow: hidden;
    }
    .description{
        margin-bottom: 50px;
        .left-heading{
            font-size: 18px;
            font-weight: 600;
            padding-left: 0;
            @media screen and (max-width:768px){
                padding:0;
            }
        }
        .right-desc{
            padding-right: 0;
            @media screen and (max-width:768px){
                padding:0;
            }
            h1, h2, h3{
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    .recommended{
        margin-bottom: 15px;
        text{
            position: absolute;
            left: 185px;
            top: 50%;
            transform: translate(0,-50%);
        }
    }
    .cost{
        margin-bottom: 60px;
        .text{
            text-transform: uppercase;
            a{
                text-transform: capitalize;
                font-size: 13px;
                font-weight: 600;
                display: inline-block;
            }
        }
    }
    .start-option{
        float: right;
    }
    @media screen and (max-width:768px){
        .recommended, .cost{
            padding: 0;
        }
        h1{
            padding: 15px;
            text-align: center;
        }
        .title{
            width: 140px;
        } 
        .text{
            width: calc(100% - 140px);
        }
        .initial-planning{
            float: none;
            text-align: center;
            display: block;
        }
        .start-option{
            float: left;
            margin: auto;
            width: 100%;
            margin-top: 20px;
            a{
                display: block;
            }
        }
    }
    @media screen and (max-width:565px){
        .start-option{
            margin-bottom: 40px;
        }
    }
}

#fee-schedule-modal{
    .modal-dialog{
        position: absolute;
        left: 50%;
        margin: 0;
        /*min-height: 300px;*/
        @extend .absolute-center;
        @media screen and (min-width:767px){
            top: 50%;
            transform: translate(-50%, -50%);
            width: 660px;
        }
        @media screen and (max-width:768px){ 
            top: 0;
            transform: translate(-50%, 0);
            width: 400px; 
            margin: 14px 0;
        }
        @media screen and (max-width:440px){
            width: calc(100% - 30px);
            margin: 14px 0;
        }
    }
    .modal-content{
        border-radius: 0;
    }
    .modal-body{
        overflow: hidden;
        width: 100%;
        table{
            width: 100% !important;
            border: 1px solid $dark-grey-border;
            border-radius: 2px;
            tbody{
                tr{
                    td{
                        padding: 5px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .close{
        margin-right: 8px;
        margin-top: 2px;
    }
}
/*blue-help-div*/
.help-div{
    background-color: $dark-blue;
    color: $white;
    h2{
        font-weight:100;
        margin: 30px 0;
        padding: 0 30px;
        span{
            float: right;
        }
        @media screen and (max-width:768px){
            text-align: center;
            span{
                display:block;
                float:none;
                margin-top:5px;
                a{
                    color: $white;
                }
            }
        }
        &.cta{
            @media screen and (max-width:530px){
                display: none;
            }
        }
        &.mobile-cta{
            display: none;
            @media screen and (max-width:530px){
                display: block;
            }
        }
    }
}