@import "../app.scss";
@import "../includes/navbar.scss"; 
@import "../includes/footer.scss";  
@import "../../plugin/jquery.selectBoxIt.css";
@import "../client/single-service-questions.scss";


#terms{
    padding: 0; 
    .blue-bg{
        background-color: $dark-blue; 
        min-height: 350px;
        padding: 130px 0 0 0;
        color:$white;
        text-align: center;
        h3{
            font-size: 58px;
            padding: 0 15px;
            font-weight: 300;
            span{
                color:$green;
            }
        }
        a{
            &.btn-white-bordered{
                margin: 40px 0 30px 0;
                border-radius: 4px;
                padding: 7px 40px;
                font-weight: 300;
            }
        }
        @media screen and (max-width:768px){
            padding: 65px 0 0 0;
        }
    }
    .terms-content{
        background-color: $white;
        min-height: 50vh;
        padding: 40px 0;
        border-bottom: 1px solid $light-grey-border;
    }
}
#contact-us .selectArrow {
  z-index: 9 !important;
}

#contact-us .selectboxit-container {
  width: 263px;
}

#contact-us .selectboxit-container .selectboxit-btn {
  width: 100% !important;
}

#contact-us .selectboxit-container .selectboxit-btn .selectboxit-text {
  max-width: inherit !important;
}

#contact-us .selectboxit-container span {
  max-width: 100% !important;
}

#contact-us .form-group .selectboxit-container .selectboxit-list {
  width: inherit !important;
}

.selectboxit-container span {
  max-width: 158px !important;
  color: #555555 !important;
  margin-right: 26px;
  margin-bottom: 18px;
  padding: 11px 12px 14px 12px;
  height: 48px;
  border-radius: 0;
  font-size: 15.5;
  font-weight: 400;
  text-align: left;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.selectboxit-container .selectboxit {
  border-radius: 0;
  border: 1px solid #ccd0d2;
  height: 48px;
  width: 158px !important;
  margin-top: 0px;
  background: #fff;
}

.selectboxit-container .full-width {
  width: 273px !important;
  max-width: 273px !important;
  padding: 10px 0 14px 13px !important;
  margin-right: 2px;
  margin-bottom: 0px;
  font-size: 16px;
}

.selectboxit-container .full-width span {
  padding: 0 !important;
  max-width: 273px !important;
  margin-bottom: 0;
}

.selectboxit-container .selectboxit-options {
  border-radius: 0 !important;
}

.selectboxit-container .selectboxit-options .selectboxit-option {
  padding: 0 !important;
  border-bottom: 1px solid #b1b1b1;
  text-align: center;
  /*margin: 4px 0;*/
  border-radius: 0;
}

.selectboxit-container .selectboxit-options .selectboxit-option a:hover {
  background-color: #e6e6e6;
  color: #027dca;
}

.selectboxit-container .selectboxit-options .selectboxit-option .selectboxit-option-anchor {
  line-height: 40px;
  /*margin: 4px 0;*/
  display: block;
  color: #333333;
  font-size: 14px;
  padding: 0;
  height: 36px;
}

.selectboxit-container .selectboxit-options .selectboxit-focus:hover {
  background-color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
