@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss";       
@import "signUpOne.scss";       

.navbar.home-navbar{
    background-color: $dark-blue;
    transition-property: all;
    transition-duration: 0.5s;  
    transition-timing-function: ease-in-out;
    border-radius: 0;
}
.home-navbar .navbar-right{
    visibility: hidden;
}
.wrapper {
    min-height: calc(100vh - 253px);
    .center-div {
        float: none;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 130px;
        h2 {
            text-align: center;
            margin-bottom: 25px;
            color: #000;
            font-weight: 700;
            font-family: Lato;
            font-size: 32px;
            line-height: 44px;
        }
        .information {
            padding-left: 44px;
            padding-right: 40px;
            label{
                color: #000;
                font-size: 17px;
            }
            input {
                padding: 11px 12px 14px 12px;
                height: 48px;
                border-radius: 0;
                font-size: 16px;
                box-shadow: none; 
            }
            .blue-font {
                color: #afafaf;
            }
            p {
                float: right;
                padding-right: 46px;
                padding-top: 7px;
                color: green;
            }
            .err-messages.msg-err{
                padding: 0;
                float: left;
                color: #a94442;
                margin-bottom: 20px;
                width: 100%;
            }
            .forgot{
                padding-right: 0;
                font-size: 12px;
            }
            .signup-yet{
                margin-top: 20px;
                text-align: center;
            }
        }
        .loginBtn {
            width:100%;
            padding: 9px 75px;
            font-weight: 700;
            font-size: 22px;
            margin-top: 15px;
        }        
    } 
}
#footer{
    border-top: 1px solid #979797;
}