@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss";
@import "clientLogin.scss";
@import "../../plugin/radio-circle.scss";
@import "../../plugin/jquery.selectBoxIt.css";

body{
    background: #fff; 
}

/* header start*/
.client{
    #header {
        background-color: #fff;
        .account-setup-header {
            border-bottom: 3px solid rgb(202, 199, 199);
            padding: 15px 0;
            .header-logo {
                width: 50px;
                float: left;
                margin-right: 35px;
                img{
                    width: 100%;
                }
            }
            p {
                margin: 0;
                padding: 13px;
                color: #022f63;
                font-weight: 500; 
            }
        }
    }
    /* header end*/

    /* upper body content start
    step 1
    stepOne
    basic info started
    
    */

    #body-content {
        background-color: #fff;
        .right-bottom-border {
            border-bottom: 3px solid rgb(226, 226, 226);
        }
        .left-bottom-border {
            border-bottom: 3px solid rgb(61, 155, 233);
        }
        .content-head {
            padding: 16px 0;
            margin-bottom: -3px;
            margin-top: 0;
            color: #364153;
        }
        .inner-content {
            width: 33%;
            margin: auto;
            text-align: center;
            margin-top: 125px;
            margin-bottom: 100px;
            .form-group {
                margin-bottom: 0;
            }
            .heading-info{
                margin-bottom: 35px;
                color: #6b6b6b;
                font-weight: 100;
                padding-top: 0;
                font-size: 18px;
            }
        }
        .content-heading {
            color: #444444;
        }
        .password-head {
            margin-bottom: 90px;
        }
        .password-head, .basic-information-content{
            .common {
                border: none;
                border-radius: 0;
                border-bottom: 1px solid  #95989a;
                box-shadow: none;
                color: #c0c1c2;
                font-size: 15px;
                padding: 0;
                font-weight: 100;
                padding-top: 8px;
            }
        }
        .basic-information-content{
            .reset-email {
                padding: 11px 12px 14px 12px;
                height: 48px;
                border-radius: 0;
                font-size: 16px;
                box-shadow: none;
                margin: 28px auto;
                width:75%;
            }
        }
        .terms-services {
            margin-top:5px;
            i {
                font-size: 13px;
                font-weight:100;
                a{
                    text-decoration: underline;
                    text-transform: capitalize;
                }
            }

        }

    }

    /* upper body content end
    step1 completed*/

    /* step 1
    stepTwo
    contact info start*/
    #content-information {
        .first-name, .m-i, .last-name, .first-address, .last-address, .city, .s-t, .zip-code, .phone {
            border: none;
            border-bottom: 2px solid rgb(235, 235, 235);
            box-shadow: none;
            border-radius: 0;
            font-size: 17px;
            font-weight: 100;
            padding-bottom: 0;
        }
        .first-err, .city-err {
            width: 40%;
            float: left;
            margin-right: 18px;
            .first-name{
                width: 100%;
            }
            p{
                margin-bottom:0;
            }
        }
        .mi-err, .st-err {
            width: 11%;
            float: left;
            margin-right: 18px;
            .m-i {
                width: 100%;
            }
            p {
                margin-bottom: 0;
            }
        }

        .last-err, .zip-code-err {
            width: 40%;
            float: left;
            .last-name{
                width: 100%;
            }
            p {
                margin-bottom: 0;
            }
        }
        .first-address-err, .last-address-err {
            width: 100%;
            float: left;
            .first-address {
                width: 100%;
            }
            p {
                margin-bottom: 0;
            }
        }
        .phone-err {
            width: 56%;
            float: left;
            margin-bottom: 18px;
            .phone {
                width: 100%;
            } 
            p {
                margin-bottom: 0;
            }
        }
        .mobile-btn-err {
            float: left;
            padding: 0 30px;
            margin-top: 20px;
            width: 44%;
        }
        .submit-btn {
            width: 100%;
            float: left;
        }
    }
    .selectboxit-container{
        width: 100%;
        .selectboxit {
            width: 100% !important;
            border-radius: 0;
            background: #fff;
            border: 1px solid #B9C1CA;
            .selectboxit-arrow-container .selectboxit-arrow{
                margin-top: -2px;
            }
        }
        .selectboxit-options{
            width: 100% !important;
            border-radius: 0;
            background: #fff;
            border: 1px solid #B9C1CA;
            box-shadow: 0px 8px 6px -6px #B9C1CA;
            .selectboxit-focus > .selectboxit-option-anchor{
                background-color: #eeeeee;
                background-image:none;
                color:#000;
            }
            .selectboxit-option-anchor{
                color:#000;
            }
        }
        .dropup .selectboxit-default-arrow {
            border-top: 0;
            border-bottom: 4px solid #000000;
            content: "";
        }
    }
    /* step 2 end*/

    /* button submitted*/
    #button-color{
        .contact-info-button {
            background: #1688e5;
            color: #fff;
            width: 65%;
            padding: 9px 31px;
            font-weight: 700;
            font-size: 16px;
            margin-top: 15px;
            &:hover {
                color: #fff;
                background-color: #1688e5;
                border-color: #1688e5;
                color:#fff;
            }
            &:focus{
                outline: 0;
            }
        }
    }
    /*
    step 2
    formThree
    mobile verification start
    */

    #Verify-Mobile-Number {
        margin-bottom: 40px;
        .mobile-number {
            width: 60%;
            float: left;
            &.second{
                margin-top: 20px;
            }
            .mobile-textbox {
                border: none;
                border-bottom: 2px solid #ebebeb;
                border-radius: 0;
                box-shadow: none;
                font-weight: 100;
                margin-bottom: 30px; 
                padding-left: 0;
                padding-bottom: 0;
            }
        }
        .send-code {
            width: 40%;
            float: left;
            margin-top: 20px;
            &.second{
                margin-top: 40px;
            }
            .send-code-button {
                width: 80%;
                background-color: white;
                color: #6897cf;
                border: 1px solid #6897cf;
                font-size: 10px;
                font-weight: bold;
                &:focus{
                    outline:0;
                }
            }
        }
        .verify-inner-content {
            width: 100%;
            float: left;
            font-size: 13px;
            font-weight: 100;
            margin-top:30px;
            p {
                width: 85%;
                margin: 0 auto;
            }
        }
        .submit-btn {
            padding-bottom: 6px;
        }
        .send-otp-error, .send-otp-success, .verify-otp-error, .verify-otp-success{
            text-align: center;
            width: 100%;
            float: left;
        }
        .send-otp-success, .verify-otp-success{
            color: #0f9411 !important;
        }

    }
    .skip {
        font-size: 12px;
        margin-top: 10px;
        a{
            color:$text-color;
        }
    }

    /* mobile verification end*/

    /*
    step 3
    stepFour
    About You started
    */

    #about-you { 
        .social-security {
            width: 100%;
            float: left;
            margin-bottom: 15px;
            .social-security-number {
                border: none;
                border-bottom: 2px solid #ebebeb;
                border-radius: 0;
                box-shadow: none;
                font-size: 17px;
                padding: 20px 0;
                font-weight: 100;
                padding-bottom: 5px;
            }
        }
        .about-radio {
            float: left;
            margin-left: 0;
            text-align: left;
            width: 100%;
            margin-bottom: 41px;
            input[type="radio"] {
                margin-right: 10px;
            }
        }
    }
    /*
    step 3
    stepFive
    #about you questionnaire 
    */
    #about-you-questionnaire {
        position:relative;
        .content-p-b {
            color: #454f60;
        } 
        .each-question{
            margin: 20px 0;
            .squaredTwo:last-child{
                margin-bottom: 0;
            }
        }
        .submit-btn#button-color{
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 40px;
        }
        #save-answer{
            display:none;
            margin-top: 40px;
            background: #1688e5;
            width: 140px;
            color: #fff;
            padding: 7px 0;
            font-size: 16px;
            margin-bottom: 100px;
            &:focus{
                outline:0;
            }
        }
        #ending-message{
            padding: 70px 0;
            text-align: center;
            font-size: 30px;
            font-weight: 300;
            color: #3c763d;
            display:none;
        }
        #save-answer-out{
            .fa-spinner{
                display:none;
            } 
        }
        #save-answer-out.spin{
            position: relative;
            #save-answer{
                text-align: left;
                padding-left: 42px;
            }
            .fa-spinner{
                position: absolute;
                top: 49px;
                font-size: 23px;
                left: 103px;
                color: #fff;
                display:inline-block;
            }
        }
    }
}

#basic-information{
    .terms-services a{
        font-size: 14px;
        margin-top: 10px;
        display: inline-block;
    }

}
.client-verify-mobile{
    width: 400px;
    margin: auto;
    #Verify-Mobile-Number {
        .send-code{
            text-align: center;
        }
    }
}
.final-step{
    position:relative;
    #settingup-dash{
        display:none;
        text-align: center;
        margin-top: 60px;
        .fa-circle-o-notch{
            font-size: 100px;
            color: #3d9be9;
        }
        p{
            padding: 20px 0;
            text-align: center;
            font-size: 34px;
            font-weight: 300;
        }
    }
    #end-register-error{
        display:none;
        position: absolute;
        top: 0;
        left: 0;
        padding: 100px 60px;
        background-color: #f2dede;
        z-index: 9;
        width: 100%;
        border: 3px solid #a94442;
        text-align: center;
    }
}
.skip-content {
    border : 0;
    background : white left top no-repeat;
    height : 24px;
    width : 115px;
    cursor : pointer;
}
.skip-content:hover, .skip-content:focus {
    text-decoration: underline;
}
.box-error{
    background-color: rgb(242, 222, 222);
    border-bottom: 4px solid #a94442;
    padding: 7px 5px;
    margin-bottom: 10px !important;
}
.box-success{
    background-color: #dff0d8;
    border-bottom: 4px solid #0f9411;
    padding: 5px 10px;
    margin-bottom: 10px !important;
    color: #3c763d !important;
}
#verify-otp{
    .contact-info-button{
        margin-top: 49px;
    }
}
#stripe-payment-form{
    .expires-month{
        padding-left: 0;
    }
    .cvv{
        padding-right: 0;
    }
    .contact-info-button{
        margin-top: 49px !important;
    }
    #form-response{
        background-color: #dff0d8;
        border-bottom: 4px solid #0f9411;
        padding: 5px 10px;
        margin-bottom: 10px !important;
        color: #3c763d !important;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 14px;
        display:none;
    }
}