@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss";  
@import "twpmDashboard.scss"; 
@import "../../plugin/toastr/toastr.scss";
.flash-message{
    max-width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #000; 
}
#dashboard-content{
    & > .container-fluid {
        padding:0;
    }   

}
.dashboard-input{
    border-radius: 0;
    border: 0;
    box-shadow: none;
    &:focus{
        box-shadow: none;
    }
}
.padding-0{
    padding:0;
}

.client-sidebar{
    width:82px;
    float:left;
    background: $dashboard-sidebar;
    color: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    .site-logo{
        text-align: center;
        padding: 10px 0;
        img{
            width: 65%;
        }
    }
    ul{
        li{
            text-align: center;   
            padding: 15px 0;
            font-size: 12px;

            a{
                .icon{
                    display: block;
                    font-size: 25px;
                    img{
                        width: 36%;
                    }
                }
                color: $white; 
                text-decoration:none;
            }
        }
        li.active{
            background-color: #1688e5;
            cursor: pointer;
        }
    }
}

.client-header{
    padding: 10px 0px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 21px;
    margin-top: 5px;
    .heading{
        font-weight: bold;
        font-size: 25px;
        padding: 7px 0px;
        color: #000;
        padding-left: 40px;
    }
    .actions-list{
        margin: 0;
        padding-right: 46px;
        #header-search{
            border: 0;
            background: inherit;
            &:focus{
                outline:none;
            }
        }
        #header-search+.fa{
            cursor: pointer;
        }
        li{
            padding: 10px 11px;
            font-size: 20px;
        }
        #noti-open{
            cursor: pointer;
            .noti-red{
                height: 11px;
                width: 11px;
                border-radius: 50%;
                background: #ff0404;
                display: inline-block;
                vertical-align: top;
                margin-left: -16px;
                margin-top: 5px;
            }
        }
        .dropdown{
            a{
                color: $text-color; 
                text-decoration:none;
                font-size: 16px;
                .fa-angle-down{
                    vertical-align: middle;
                }
            }
            .dropdown-menu{
                margin-top: 12px;
                border-radius: 0;
                right: 0;
                left: auto;
                width: 210px;
                padding: 10px 0;
                border: 1px solid rgba(244, 244, 244, 0.15);
                li{
                    padding:0;
                    font-size: 16px;
                    a{
                        padding: 7px 10px;
                        i{
                            margin-right: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

.right-content{
    width:calc(100% - 82px);
    /*float:left;*/
    background: $white;
    float: right;
    padding-bottom: 50px;
    min-height: 100vh;
    .products-list{
        padding: 40px 40px 60px !important;
        cursor: auto;
    }
    .service-outer:nth-of-type(1){
        padding-left:0;
        /*        .service-name{
                    height: 146px;
                    text-align: center;
                    position: relative;
        
                    p{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        padding: 20px 20px 20px 20px;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        color:#fff;
                    }
                }*/
    }
    .service-outer:nth-of-type(4){
        padding-right:0 !important;
    }
    .service-outer {
        padding-right: 40px;
        margin-bottom: 40px;
        .service-name {
            float: left;
            background-color: #f5f9fc;
            width: 100%;
            color: #000;
            padding: 40px 0 40px 20px;
        }
        .service-name:hover {
            background-color: #1688e5;
            color: #fff;
        }
    }
}  

.dashboard-inner2{
    padding-left: 0px;
    padding-right: 0;
}
.dashboard-inner2-right{
    padding-right: 30px;
    padding-left: 0;
}
#my-tasks-list{
    background: $box-back-light-green;
    padding: 30px 30px 0 30px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
    margin-right: 15px;
    float: left;
    h2{
        font-size: 20px;
        margin-top: 0;
        border-bottom: 1px solid $dashboard-border-color;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    ul{
        li{
            padding: 10px 0;
            border-bottom: 1px solid $dashboard-border-color;
            font-size: 14px;
            span{
                float: right;
                color: #73b7ee;
                &.red{
                    color: #fa6d6e;
                }
            }
        }
    }
}

#commentry{
    background: $box-back-light-green;
    padding: 30px 30px 0 30px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
    margin-left: 15px;
    float: left;
    h2{
        font-size: 20px;
        margin-top: 0;
        border-bottom: 1px solid $dashboard-border-color;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .comment{
        float: left;
        border-bottom: 1px solid #e3e7ea;
        margin-bottom: 15px;
        padding-bottom: 5px;
        position: relative;
        width: 100%;
        .date{
            color: #73b7ee;
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 12px;
            margin-top: 15px;
        }
        .title{
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            color: #636b6f;
        }
        .desc{
            font-size: 14px;
            width: 95%;
            float: left;
            color: #636b6f;
            font-weight: 400;
        }
        .arrow{
            position: absolute;
            top: 50%;
            margin-top: -12.5px;
            right: 0;
            width: 5%;
            height: 25px;
            text-align: center;
            color: $text-color;
        }
    }
}

#document-activity{
    background: $box-back-light-green;
    padding: 30px 30px 30px 30px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
    margin-right: 15px;
    float: left;
    h2{
        font-size: 20px;
        margin-top: 0;
        border-bottom: 1px solid $dashboard-border-color;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .document{
        float: left;
        width: 100%;
        margin-top: 5px;
        .image{
            width: 8%;
            float: left;
            font-size: 30px;
            color: #fa6d6e;
        }
        .details{
            float:left;
            width: 92%;
            .title{
                margin-top: 12px;
                margin-bottom: 0px;
                font-weight: bold;
            }
            ul{
                font-size: 11px;
                li{
                    &:after{
                        content:'\00B7';
                        font-size: 20px;
                        line-height: 11px;
                        vertical-align: sub;
                        margin-left: 10px;
                    }
                    &:last-child:after{
                        content:'';
                        display:none;
                    }
                }
            }
        }
    }
}

#noti-open{position:relative}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 100%;
    margin-left: -220px;
    width: 400px;
    z-index: 200;
    display: none;
    border-top: 6px solid #2079ee;


    #notificationTitle {
        z-index: 1000;
        font-weight: bold;
        padding: 17px;
        font-size: 19px;
        background-color: #ffffff;
        width: 97%;
        margin-left: 5px;
        display: flex;
        align-items: center;

        .out{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            font-size: 23px;
            text-align: center;
            cursor: pointer;

            img {
                height: 25px;
            }
        }
    }


    #notificationsBody {

        padding: 0px 0px 0px 0px !important;
        min-height:300px;

        .list-inline {
            display: flex;
            text-align: center;
            margin-left: 0px;
        }

        .list-inline > a.notification-type {
            width: 50%;
            border-bottom: 4px solid #9c9c9c;
            color: #9c9c9c;
            text-decoration: none;
            font-size: 17px;
            text-transform: uppercase;
        }

        .list-inline > a.notification-type.active {
            border-bottom: 4px solid #2079ee;
            color: #2079ee;
        }

        .notifications-list {

            padding: 10px;
            max-height: 55vh;
            overflow-y: auto;

            li span {
                font-style: italic;
                font-size: 14px;
                padding-left: 10px;
            }

            li {
                display: flex;
                align-items: center;
            }

            li p{ 
                max-width: 72%;
                color: #9c9c9c;
                font-weight: 400;
                font-size: 16px;
                padding: 5px 12px 0px 0px;
            }

            li.active span,
            li.active p{ 
                color: #000000;
                font-weight: 600;
            }
        }
    }
}
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #2079ee;
    margin-top: -26px;
    margin-left: 220px;
}

.client-resources{
    .resources-details{
        padding: 40px;
        .details{
            margin-bottom: 30px;
        }
        .helpful-links{
            color: #002d62;
            font-weight: 700;
            margin-bottom: 0;
        }
        .files-list{    
            float: left;
            padding-left: 20px;
            li{
                a{
                    color: #002d62;
                }
            }
        }
    }
}
#services-inner{
    display:none;
}
.blogs .alert{
    width: calc(100% - 80px);
    float: left;
    border-radius: 0;
    margin: 20px 40px 0 40px;
}

.back {
    display:none;
}
.back-div{
    .back {
        font-size: 13px;
        display: block;
        color: #B6BCC5;
        margin-bottom: -8px;
        font-weight: normal;
        .fa{
            font-size: 12px;
            vertical-align: text-top;
            margin-top: 2px;
            display: inline-block;
            margin-right: 11px;
        }
    } 
    .actions-list{
        margin-top: 16px;
    }
    .heading{
        padding-bottom: 1px;
        padding-top: 1px;
    }
}
.dashboard-messages {
    .alert{
        width: calc(100% - 80px);
        float: left;
        border-radius: 0;
        margin: -15px 0px 0 40px;
        padding: 10px 15px;
        margin-bottom: 30px;
    }
}
.notification-outer .list p {
    font-size: 14px !important;
}
.notification-outer .list p.active {
    color: #fff !important;
}