@import "../app.scss";
@import "dashboard.scss";
@import "finish-account.scss";
@import "../../plugin/radio-switch.scss";
@import "../../plugin/toastr/toastr.scss";
@import "profile.scss";

.uplode-doc-button {
    color: #fff! important;
    background-color: #1688e5;    
    border-color: #ffffff; 
    margin-bottom: 10px;
    padding: 4px 25px;
    border-radius: 2px;
}

.action-button a,
.action-button span {
    color: #b2b3b3;
    cursor: pointer;
    margin-right: 10px;
}

.uplode-doc-button:hover {
    color: #fff! important;
    background-color: #1688e5; 
    border-color: #ffffff;
}
#document-activity {
    padding: 5px 0px !important;
}
.documents-nav {
    display: flex;
    width: 100%;
    float: left;
    background: #fff;
    padding: 22px 5px 0px 5px;
    text-transform: uppercase;
    font-size: 13px;

    ul {
        margin-bottom: 0;

        li {
            margin-right: 25px;

            a {
                color: #b2b3b3;

                &:hover,
                    &:focus {
                    text-decoration: none;
                    color: #73b7ee;
                }
            }
        }
    }
}

.documents-type-table {
    display: none;
}


.documents-nav-list {
    display: none;
}

.documents-nav .list-inline {
    width: 86% !important;
}

.documents-nav_inner {
    padding: 0 40px;
    display: block;
}

.documents-nav {
    .active a {
        color: #73b7ee;
    }
}

.bottom-container {
    text-align: center;
    margin-top: 30px;
}

.upload-btn {
    background-color: #2179EE !important;
    padding: 1px 31px;
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    margin-top: 6px;
}

#uploadDocsModal label {
    font-weight: 400 !important;
    font-size: 14px;
}

.upload-button-div{
    text-align: center;
}
.bottom-upload-button {
    background: #1688e5 !important;
    padding: 1% 6% !important;
    border-radius: 2px;
}

.form-check-label {
    font-size: 12px !important;
    padding-left: 5px;
}

#file-upload-box {
    align-items: center;
    display: flex;
    justify-content: center;
}

#file-dropzone {
    padding: 11% 6%;
    height: 280px;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    text-align: center !important;
    width: 40% !important;
    background: #cccccc24;


    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.file-name-conatiner {
    display: flex;
    font-size: 14px;
    justify-content: center;

    .uploaded-doc-name {
        margin-right: 20px;
    }
}

#file_uploader {
    display: none;
}

.file-info-container {
    display: none;
    padding-left: 32%;

    #done-file-name {
        padding-left: 5px;
    }
}

#remove-file-button {
    display: block;
    margin-bottom: 10px;
}

.file-preview-container {
    display: none;
    text-align: center;
    padding-top: 4%;
}


.modal-header {
    border-bottom: none !important;
}

#pdf-canvas {
    border: 1px solid #ccc;
    height: 270px;
    width: 38%;
}