@import "../app.scss";
@import "../../plugin/selectBoxIt.scss";
@import "signUpOne.scss";
.wrapper {
    background:white;
    .step {
        float:left;  
        width:100%;
        padding-top:16px;
        margin-left:0px;
        p { 
            font-size: 17px;
            color: #404040;
            font-weight: 400;
            padding-bottom: 16px; 
            margin-bottom: 0;
        }
        .blue-line {
            border-bottom: 3px solid #2572b4;


        }
        .grey-line {
            border-bottom: 3px solid #eaeaea;
        }
    } 
    .sections {
        padding-top: 73px; 
        min-height: 69vh;
        .section-left {
            h2 {
                margin-top: 0;
                color: #343a41;
                font-weight: 700;
            }
            h4 {
                font-weight: 700;
                color: #343a41;  
            }
            p {
                margin-bottom: 40px;
            }
        }
        .section-right { 
            font-size: 13px; 
            color: #403f3f;
            .checkbox {
                float: left;
                width: 100%;
                p{
                    width: 86%;
                    float: left;
                    font-weight: 700;
                }
                .authentication  {
                    float: left;
                    width: 100%;

                }
            }
            .tax_filing_status{
                margin-bottom: 20px;
            }
            .checkbox-custom-label{
                input { 
                    width: 21px; 
                    height: 21px;
                    float: left;
                    margin-right: 26px;
                    margin: 0px 7px 0 0;
                    visibility: hidden;
                    position: relative;

                    &:checked{
                        &~.checkbox-icon{
                            &::after { 
                                content: "";
                                position: absolute; 
                                left: 7px !important;
                                top: 0px;
                                width: 7px; 
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                                height: 16px;
                                border-right: 2px solid #707070;
                                border-bottom: 2px solid #707070;
                                border-radius: 2px;
                                visibility: visible;
                            }
                        }
                    }
                }

                .checkbox-icon {
                    width: 21px; 
                    height: 21px;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    visibility: visible;
                    border: 1px solid #a2a2a2;
                }
            }
            .security-questions{
                float: left;
                width: 100%;
                .security-answer {
                    padding-top: 10px;
                    input {
                        width: 273px;
                        margin-right: 26px;
                        margin-bottom: 18px;
                        padding: 11px 12px 14px 12px;
                        height: 48px;
                        border-radius: 0;
                        font-size: 16px; 
                        box-shadow: none;
                    }
                }
            }
            .site-heading-1 {
                float: left;
                width:100%;
                .next-page {
                    text-align:center;
                    padding-top: 37px; 
                    a:hover {
                        text-decoration: none;
                    }
                    &.align-left {
                        text-align: left;
                        p {
                            padding-left: 12px;
                            padding-top: 11px;
                            font-size: 14px;
                            width: 100%;
                        }
                    } 
                    .btn-info{  
                        border-radius: 3px;
                        color: #fff;
                        font-family: Lato;
                        font-size: 18px;
                        line-height: 24px;
                        text-align: center;
                        width: 150px;
                        padding: 10px;
                        background-color: #2179EE;
                    }
                }
                .step8-padding {
                    padding-top: 115px;
                }
            }
            ul {
                float: left;
                width: 100%;
                padding-left: 0;
                li {
                    list-style: none;
                }
            } 


            .selectboxit-list {
                max-height: 223px !important;
            }
            .inner-left{
                .alert-danger {
                    width:273px;
                    margin-top: -18px;
                }

                .financial-info-arrow {
                    position: absolute;
                    left: 90%;
                    top: 56%;
                    font-size: 15px;
                    z-index: 1;
                }
                p {
                    display: inline-block;
                    max-width: 100%;
                    font-size: 14px;
                    margin-bottom: 5px;
                    /*font-weight: bold;*/

                }
                .left-subheading {
                    font-size: 14px;
                    font-weight: 400;
                }
                select {
                    width: 88%;
                    padding: 14px;
                    background-color: transparent;
                    color: #969696;
                    font-size: 15px;
                } 
                .radio-custom-label{
                    width: 100%; 
                    padding-left:0;
                    font-weight:400;
                    position: relative;
                    /*padding-bottom: 5px;*/
                    .male {
                        margin-bottom:22px;
                    }
                    .questions-options {
                        font-size: 13px; 
                        font-weight: 400;
                        padding: 0;
                        margin:0; 
                        color: #7b7b7b;
                    }
                    input { 
                        width: 21px;
                        height: 21px;
                        float: left;
                        margin-right: 26px;
                        margin: 1px 11px 0 0px;
                        visibility: hidden;
                        position: relative;

                        &:checked{
                            &~.radio-icon{
                                &::after { 
                                    content: "";
                                    position: absolute;
                                    left: 7px;
                                    top: 2px;
                                    width: 7px;
                                    -webkit-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    height: 14px;
                                    border-right: 2px solid #707070;
                                    border-bottom: 2px solid #707070;
                                    border-radius: 2px;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    .radio-icon {
                        width: 21px;
                        height: 21px;
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0; 
                        bottom: 0;
                        visibility: visible;
                        border: 1px solid #a2a2a2;
                        border-radius: 50%;
                    }
                }
                input {
                    width: 273px;
                    margin-right: 26px;
                    margin-bottom: 18px;
                    padding: 11px 12px 14px 12px;
                    height: 48px;
                    border-radius: 0;
                    font-size: 16px; 
                    box-shadow: none;
                }
                span { 
                    input {
                        width: 273px;
                        padding-bottom: 14px;
                        padding-top: 10px;
                        margin-right: 26px;
                        margin-bottom: 18px;
                        padding-left: 13px;
                        font-size: 16px;
                    }
                }
            }
            .inner-right{ 
                label {
                    display:block !important;
                }
                i {
                    position: absolute;
                    left: 100%;
                    top: 42px;
                    z-index: 1;
                    font-size: 15px;

                }
                .employement-arrow {
                    left: 90%;
                }
                input {
                    width: 158px;
                    margin-right: 26px;
                    margin-bottom: 18px;
                    padding: 11px 12px 14px 12px;
                    height: 48px;
                    border-radius: 0;
                    font-size: 16px;
                    box-shadow: none;         
                }  
                select {
                    width: 88%;
                    padding: 14px;
                    background-color: transparent
                }   
            }  
            p {
                font-size: 13px; 
                margin-bottom:2px;
                padding-top: 2px;
                line-height:18px;

                span {
                    color: red;
                    line-height: 11px;
                }
            }
            .terms-and-conditions  {
                float:left;
                padding-top:15px;
                padding-left: 12px; 
                p{
                    font-size: 13px;  
                    margin-top: -4px;
                    a{
                        color: #403f3f;
                        &:focus, &:active{
                            color: #403f3f;
                        }
                    }
                }
                span {
                    font-size: 12px; 
                    color: #b1b1b1;
                }
            }
        }
    } 
}


#termsModal {
    .terms-content {
        p{
            font-size: 14px;
            padding: 10px 15px;
            font-family: sans-serif;
        }
    }
    .checkbox-custom-label  {
        padding:0;
    }
    .next-page {
        margin-bottom: 15px;
    }
}

#spouseInfo {
    float:left;
    width: 100%;
    margin-left: 14px;
    p {
        float:left;
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .new-input {
        width: 273px;
        padding-bottom: 23px;
        margin-right: 26px;
        margin-bottom: 18px;
    }
}
.one-time-password {
    float:left; 
    width: 100%;
    margin-left: 14px;
    p {
        float:left;
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .otp {
        width: 273px;
        padding-bottom: 23px;
        margin-right: 26px;
        margin-bottom: 18px;
    }
}

.spouse-account-checkbox {
    float:left;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 14px;
    margin-top: -5px;
}
#contact-us {
    .selectArrow{
        z-index: 9! important;
    }
    .selectboxit-container{
        width: 263px;
        .selectboxit-btn{
            width:100% !important;
            .selectboxit-text{
                max-width: inherit! important;
            }    
        }
        span{
            max-width: 100% !important;
        }
    }

}
#contact-us .form-group .selectboxit-container .selectboxit-list{
    width: inherit! important;
}

.selectboxit-container {
    span {
        max-width: 158px !important;
        color: #555555!important;
        margin-right: 26px;
        margin-bottom: 18px;
        padding: 11px 12px 14px 12px;
        height: 48px;
        border-radius: 0;
        font-size: 15.5;
        font-weight: 400;
        text-align: left;
        box-shadow: none;
    }

    .selectboxit {
        border-radius: 0;
        border: 1px solid #ccd0d2;
        height: 48px;
        width:158px !important;
        margin-top: 0px;
        background: #fff;
    }
    .full-width{
        width: 273px !important;
        max-width: 273px !important;
        padding:10px 0 14px 13px !important;
        margin-right: 2px;
        margin-bottom: 0px;
        font-size: 16px;
        span {
            padding: 0 !important;
            max-width: 273px !important;
            margin-bottom: 0;
        }
    }

    .selectboxit-options{ 
        border-radius:0 !important; 
        .selectboxit-option{
            padding:0 !important;
            border-bottom: 1px solid #b1b1b1;
            text-align:center; 
            /*margin: 4px 0;*/
            border-radius:0; 
            a:hover {
                background-color: #e6e6e6;;
                color: #027dca;
            }
            .selectboxit-option-anchor{
                line-height: 40px;
                /*margin: 4px 0;*/
                display: block;
                color: #333333;
                font-size: 14px; 
                padding: 0;
                height: 36px;
            } 
        }
        .selectboxit-focus:hover  {
            background-color: #fff; 
        }
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}





/**/