@import "../app.scss";


.body-color {
    background-color: white;

}

.info {
    margin: 0 auto;
    float: none;
    padding: 0 25px;
    h1 {
        text-align: center; 
    }
    .credentials{
        p {
            font-weight: 700;
            display: inline;
            font-size: 17px;
            span {
                font-size: 12px;
                color: #2193f7;
                margin-left: 151px;
            }
        }

        input{
            width: 100%;
            height: 53px;
            margin-bottom: 27px;
            border: 1px solid #aba8a8;
            background-color: rgb(255, 254, 193);
            margin-top: 4px;
            font-size: 19px;
            padding: 0 12px;
            font-weight: 100;

        }
    }
    .login {
        margin-top: 7px;

        .btn-info {
            border-radius: 3px;
            color: #fff;
            font-family: Lato;
            font-size: 21px;
            line-height: 24px;
            text-align: center;
            width: 100%;
            font-weight: 700;
            padding: 15px;
            background-color: #2179EE;
            margin-bottom: 22px;

        }
        p {
            text-align:center;
            font-weight:400;
            span {
                font-size: 15px;
                color: #2193f7;
                padding-left: 4px;
            }
        }

    }
}
.footer {
    float: left;
    width: 100%;
    padding-top: 125px;
    background-color: white;
    .description {
        border-top: 2px solid lightgray;
        margin: 0px 0 11px;
        text-align: center;
        font-size: 13px;
        color: #bdb8b8;
        padding-top: 5px; 
    }
    p {
        font-size: 13px;
        color: #bdb8b8;
        border: none;
    }
}