@import "../app.scss";

.header-bar{
    background-color: #fff;
    border-bottom: 2px solid #B6BCC5;
    padding: 10px 0px 10px 0px;
    .p0{
        padding: 0px;
    }
    .logo {
        height: 56px;
        width: 56px;
        float: left;
    }
    p{
        float: left;
        color: #002D62;
        font-family: Lato;
        font-size: 18px;
        line-height: 24px;
        margin: 18px 0px 0px 23px;
    }
}

.first-container{
    background-color: #fff;
    padding: 18px 0px 150px 0px;
    .p0{
        padding: 0px;
    }
    p{
        color: #404040;
        font-family: Lato;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 5px;
    }
    .border-blue{
        border-bottom: 3px solid #2179EE;
    }
    .second-container{
        padding: 45px 80px 30px 80px;
        h2{
            font-family: Lato;
            color: #30363D;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
        }
        p{
            color: #686C73;
            font-size: 16px;
            line-height: 20px;
        }
        .questions {
            padding-top: 28px;
            form{
                font-size: 14px;
                p{
                    color: #30363D;
                    font-family: Lato;
                    font-size: 15px;
                    line-height: 13px;
                    padding: 0px;
                }
                textarea{
                    border: 1px solid #979797;
                    border-radius: 0;
                    width: 85%;
                }
            }
            .secondary-question{
                padding-top: 25px;
            }
            .checkbox{
                padding: 30px 122px 3px 0px;
                label{
                    color: #30363D;
                    font-family: Lato;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 19px;
                }
            }
            p{
                color: #B6BCC5;
                font-family: Lato;
                font-size: 13px;
                line-height: 17px;
                padding-right: 60px;
                padding-bottom: 35px;
            }
            .btn-info{
                border-radius: 3px;
                color: #FFFFFF;
                font-family: Lato;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                width: 150px;
                padding: 10px;
                background-color: #2179EE;
            }
        }
    }

}

.footer {   
    float: left;  
    width: 100%;   
    padding-top: 85px;  
    background-color: #fff;
    padding-bottom: 50px;
    .p0{
        padding: 0px;
    }
    .description {      
        border-top: 2px solid lightgray;   
        margin: 0px 0 11px;      
        text-align: center;       
        font-size: 13px;       
        color:  #bdb8b8;       
        padding: 5px 0px 10px 0px;
    }   
    p {   
        font-size: 13px;  
        color: #bdb8b8; 
        border: none;   
    }
}