@import "../app.scss";
@import "dashboard.scss";
@import "finish-account.scss";
@import "../../plugin/radio-switch.scss";
@import "signUpOne.scss";
@import "../employee/employee-dashboard-services.scss"; 
.padding-0{ 
    padding:0;
}

.profile-nav{
    width: 100%;
    float: left;
    background: #f5f9fc; 
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 14px;
    ul{
        margin-bottom: 0;
        li{
            margin-right: 60px;
            a{
                color: #b2b3b3;
                &:hover, &:focus{
                    text-decoration: none;
                    color:#73b7ee;
                }
            }
        }
    }
}
.profile-lists{
    display:none;
}
.profile_inner{
    padding: 0 40px;
    display:block;
}
.profile-nav{
    .active a{
        color: #73b7ee;
    }
}

.user-details{
    padding: 20px 0;
    h2{
        color: #1688e5;
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
    }
    span.edit-icon{
        width: 30px;
        height: 25px;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
    }
}
#all-profile{
    background: $box-back-light-green;
    padding: 30px 30px 25px 30px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
    margin-right: 15px;
    float: left;
    h2{
        font-size: 20px;
        margin-top: 0;
        border-bottom: 1px solid $dashboard-border-color;
        padding-bottom: 20px;
        margin-bottom: 20px;
        span{  
            float: right;
            line-height: 24px;
            cursor: pointer;
            .fa-pencil{
                cursor:pointer;
            }
        }
    }
    .details{
        font-size: 14px;
        float: left;
        width: 100%;
        .title{
            width: 50%;
            float: left;
            margin: 0;
            color: #b2b3b3;
        }
        .value{
            width: 50%;
            float: left;
            text-align: right;
            margin: 0;
            word-break: break-all;
        }
    }
}
#all-profile.right{
    margin-left: 15px;
    margin-right: 0;
}

.settings-inner{
    padding: 0 40px;
}

.security-inner{
    padding: 0 40px;
    .security-title{
        padding: 20px 0;
        h2{
            margin-top: 0;
            margin-bottom: 0;
        }
        p{
            margin: 0;
        }
    }

    .security-boxes{
        background: $box-back-light-green;
        padding: 30px 30px 25px 30px;
        margin-bottom: 20px;
        width: calc(100% - 15px);
        margin-right: 15px;
        float: left;
        h2{
            font-size: 20px;
            margin-top: 0;
            border-bottom: 1px solid $dashboard-border-color;
            padding-bottom: 20px;
            margin-bottom: 20px;
            span{
                float: right;
                color: #fadd76;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
        p{
            font-size:14px;
        }
        .btn{
            text-transform: capitalize;
            min-width: 260px;
            border-color: #3097D1;
        }
        .sm-btn{
            min-width: 175px;
        }
        .btn-primary {
            border-radius: 3px;
            color: #fff;
            font-family: Lato;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            width: 150px;
            padding: 12px 40px;
        }

        #change-password-div {
            label {
                width:100%;
            }

            input {
                margin-bottom: 15px;
                height: 50px;
                box-shadow: 0;
                font-size: 16px;
                border-radius: 0;
                line-height: 2;
                box-shadow: none;

            }

            .btn-success{
                color:#fff;
                border-radius: 3px;
                color: #fff;
                font-family: Lato;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                width: 150px;
                padding: 12px 40px;
                border: none;
            }
            .btn-danger {
                border: none;
                margin-bottom: 15px;
                box-shadow: none;
                border-radius: 3px;
                color: #fff;
                font-family: Lato;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                width: 150px;
                padding: 12px 40px;
            }
            a {
                color:#fff;

            }

        }

    }
    .security-boxes.right{
        margin-left: 15px;
        margin-right: 0;
    }
}

.settings-inner{
    .settings-title{
        padding: 10px 0 30px 0;
    }
    .settings-boxes{
        background: $box-back-light-green;
        padding: 30px 30px 25px 30px;
        margin-bottom: 20px;
        width: calc(50% - 15px);
        margin-right: 15px;
        float: left;
        h2{
            font-size: 20px;
            margin-top: 0;
            border-bottom: 1px solid $dashboard-border-color;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .details{
            font-size:14px;
            margin-bottom: 20px;
            width: 100%;
            float: left;
            .title{
                width: 50%;
                float: left;
                margin: 0;
                color: #b2b3b3;
            }
            .settings{
                width: 50%;
                float: left;
                margin: 0;
                text-align: right;
                &>div{
                    width: 50%;
                    float: left;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding-right: 5px;
                    &>span{
                        float: left;
                        line-height: 30px;
                    }
                }
                .switch--horizontal{
                    float: right;
                    display: inline-block;   
                    width: 65px;
                    margin-bottom: 0;
                    .toggle-outside{
                        left: 0;
                    }
                    input{
                        left: 0;
                    }
                }
            }
        }
    }
    .settings-boxes.right{
        margin-left: 15px;
        margin-right: 0;
    }
}
.botttom-margin-10{
    margin-bottom: 10px;
}
.err-messages{
    color: #d4332f;
}
.success-message {
    color: #00a65a;
}
#personal-profile-modal, #finance-profile-modal, #name-edit-modal, .all-profile-modal, #employee-info-modal, #financial-back-modal{
    .modal-dialog{
        margin-top: 80px;
        .modal-body{
            padding: 0 30px 25px 30px;
            border-radius: 0; 
            span {
                &.input-span{
                    position: relative;
                    width: 100%;
                    display: block;
                    .fa-angle-down{
                        position: absolute;
                        left: 100%;
                        top: 46px;
                        z-index: 1;
                        font-size: 15px;
                        margin-left: -15px;
                    }
                    .inner-left{
                        padding-left: 0;
                    }
                    .inner-right{
                        padding-right: 0;
                    }
                    &.radio-input{
                        margin-bottom: 15px;
                        .left-subheading{
                            font-size: 13px;
                            color: #403f3f;
                            display: inline-block;
                            max-width: 100%;
                            font-weight: bold;
                            margin-bottom: 0;
                        }
                    }
                }
                label{
                    font-size: 13px;
                    color: #403f3f;
                }
                input {
                    margin-bottom: 15px;
                    height: 50px;
                    box-shadow: 0;
                    font-size: 16px;
                    border-radius: 0;
                    line-height: 29;
                    box-shadow: none;
                }
            }
            .continue-btn {
                text-align: center;
                .contact-info-button {
                    /*                    height: 50px;
                                        font-size: 20px;*/
                }
            }

        }
        .modal-header{
            margin-bottom: 10px;
        }
        .contact-info-button{
            border-radius: 3px;
            color: #fff;
            font-family: Lato;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            width: 150px;
            padding: 12px 40px;
            background-color: #2179EE;
            text-decoration: none;
        }
        #form-response.success, .form-response.success{
            color: #636b6f;
            font-size: 14px;
            text-align: left;
            background: #c1e8b0;
            padding: 10px 15px;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        #form-response.error, .form-response.error{
            color: #a94442;
            font-size: 14px;
            text-align: left;
            background: rgb(242, 222, 222);
            padding: 10px 15px;
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}

/*Employee clients list sidebar*/
#clients-list{
    width: 270px;
    float: left;
    background: #f5f9fc;
    min-height: 100vh;
    margin-left: 82px;
    padding: 50px 0px 50px 20px;
    input{
        border: 0;
        margin-left: 10px;
        border-left: 1px solid #354052;
        line-height: 16px;
        padding: 2px 0 2px 10px;
        background: #f5f9fc;
        &:focus{
            outline:0;
        }
        &:focus::-webkit-input-placeholder{
            color:transparent;
        }
        &:focus:-moz-placeholder { 
            color:transparent; 
        } /* FF 4-18 */
        &:focus::-moz-placeholder { 
            color:transparent;
        } /* FF 19+ */
        &:focus:-ms-input-placeholder{
            color:transparent;
        }/* IE 10+ */
    }

    ul{
        margin-top: 50px;
        height: calc(100vh - 150px);
        overflow-y: scroll;
        li:first-child{
            background: #354052;
            color: #fff;
            text-transform: uppercase;
            margin-top: 0px;
        }
        li{
            padding: 2px 10px 3px 10px;
            margin: 7px 0;
            cursor: pointer;
        }
        li.active{
            background: #1688e5;
            color: #fff; 
        }
    }
}
#clients-list + .right-content{
    width: calc(100% - 352px);
    float: left;
    .actions-list{
        padding-right: 29px;         
    }
    .client-header{
        .heading{
            font-weight: bold;
            font-size: 25px;
            padding: 7px 0px;
            color: #000;
            padding-left: 40px;
        }
    }
    #all-profile{
        h2{
            padding-bottom: 10px;
        }
        ul{
            margin: 20px 0 0 0;
            text-transform: uppercase;
            font-size: 13px;  
            li:first-child{
                padding-left: 0;
            }
            li a{
                color: #b2b3b3;
            }
            li.active a, li a:hover{
                color: #73b7ee;
                text-decoration: none;
            }
        }
    }
    #financial-inner{
        display:none;
    }
    #commentry{
        padding: 0;
        margin: 0;
        width: 100%;
        .notes-plus{
            color:#73b7ee;
            border: 1px solid #73b7ee;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            margin-top: -3px;
            display: inline-block;
            float: right;
        }
        .notes-data { 
            .notes-details {
                .date {
                    margin-bottom: 0;
                    font-size: 12px;
                    color: #00a1ff;
                }
                .note-info {
                    font-size: 14px;
                }
            }
            hr {
                margin-top: 15px;
            }
        }
        .notes-details:nth-child(n+12),hr:nth-child(n+12){
            /*display:none;*/
        }
    }
    #documents-inner, #managed-account-info{ 
        display: none;
    }
    #document-activity{
        padding: 30px 30px 30px 30px;
        .document {
            .image{
                width: 11%;
            }
            .details{
                width: 89%;
                word-wrap: break-word;
            }
        }
    } 
    .mag-0{
        margin:0;
        width:100%;
    }
}
.load-more-btn {
    float: right;
    width: 50%;
    text-align: right;
}

#addNotesModal {

    .modal-content {
        border-radius:0;
        .modal-header {
            background-color: #f3fbff;
            border-bottom: 0;
            .close {
                padding-right: 12px;
                font-size: 29px;
            }

            .modal-title  {
                padding: 0 20px;
            }
        }
        .add-note-input {
            padding: 10px 35px 35px 33px;
            background-color: #f3fbff;
            textarea {
                box-shadow: none;
                border-radius:3px;
            }

        }
        .modal-body {
            overflow: hidden;

            .previous-notes{ 
                padding: 0 20px;
                float: left;
                width: 100%;
                .modal-notes-details {
                    float: left;
                    width: 100%;
                    padding-bottom: 12px;
                    border-bottom: 1px solid #cbcbcb;
                    margin-bottom: 17px;
                    hr {
                        border-top: 1px solid #bcbcbc !important;
                    }
                    .date {
                        color: #cbcbcb;
                        font-size: 12px;
                        margin-bottom: 0;
                        display: inline;
                        float: left;
                    }
                    .employee-name {
                        color: #cbcbcb;
                        font-size: 12px;
                        margin-bottom: 0;
                        display: inline;
                        float: right;
                        font-style: italic;

                    }
                    .note-info{
                        float: left;
                        width: 100%;
                        font-size: 12px;
                    }
                }
            }
            .modal-notes-details:last-of-type{
                border-bottom: 0;
            }
            span {

            }
            .continue-btn {
                input{
                    background-color: #2179EE;
                    padding: 13px 52px;
                    font-size: 16px;
                    color: #fff;
                    font-weight: 600;
                    margin-top: 40px;
                }
            }
        }
    }
}

/*END*/
/*Blogs*/
.right-content.blogs{
    width: calc(100% - 95px);
    .blog-list_inner{
        float: left;
        width: 100%;
        padding: 0 40px;
    }
    .box-title{
        display: inline-block;
    }
    .box-tools{
        margin-top: 20px;
    }
    .w10 {
        width: 10px;
    }
    .w80 {
        width: 120px;
    }
    .bg-green{
        background-color: #00a65a !important;
    }
    .bg-gray {
        color: #000;
        background-color: #d2d6de !important;
    }
    #status{
        vertical-align: bottom;
    }
}

.selectboxit-container {
    width: 100%;
    margin-bottom: 15px;
    span {
        max-width: 100% !important;
        color: #555555!important;
        margin-right: 26px;
        margin-bottom: 18px;
        padding: 11px 12px 14px 12px;
        height: 50px;
        border-radius: 0;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        box-shadow: none;
    }
    .selectboxit {
        border-radius: 0;
        border: 1px solid #ccd0d2;
        height: 48px;
        width:100% !important;
        margin-top: 0px;
        background: #fff;
    }
    .selectboxit-options{ 
        border-radius:0 !important; 
        min-width: 100% !important;
        .selectboxit-option{
            padding:0 !important;
            border-bottom: 1px solid #b1b1b1;
            text-align:center; 
            border-radius:0; 
            a:hover {
                background-color: #e6e6e6;;
                color: #027dca;
            }
            .selectboxit-option-anchor{
                line-height: 40px;
                display: block;
                color: #333333;
                font-size: 14px; 
                padding: 0;
                height: 36px;
            } 
        }
        .selectboxit-focus:hover  {
            background-color: #fff; 
        }
    }
}
.radio-custom-label{
    width: 100%; 
    padding-left:0;
    font-weight:400;
    position: relative;
    .male {
        margin-bottom:22px;
    }
    .questions-options {
        font-size: 13px; 
        font-weight: 400;
        padding: 0;
        margin:0; 
        color: #7b7b7b;
    }
    input { 
        width: 21px;
        height: 21px;
        float: left;
        margin-right: 26px;
        margin: 1px 11px 0 0px;
        visibility: hidden;
        position: relative;
        height: auto !important;
        margin-bottom: 0 !important;
        &:checked{
            &~.radio-icon{
                &::after { 
                    content: "";
                    position: absolute;
                    left: 7px;
                    top: 2px;
                    width: 7px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    height: 14px;
                    border-right: 2px solid #707070;
                    border-bottom: 2px solid #707070;
                    border-radius: 2px;
                    visibility: visible;
                }
            }
        }
    }
    .radio-icon {
        width: 21px;
        height: 21px;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0; 
        bottom: 0;
        visibility: visible;
        border: 1px solid #a2a2a2;
        border-radius: 50%;
    }
}
.spouse-account-checkbox{
    padding-bottom: 0;
    padding-left: 0;
}
.checkbox-custom-label{
    &.input-span{
        position: relative;
        width: 100%;
        display: block;
    }
    input { 
        width: 21px; 
        height: 21px;
        float: left;
        margin-right: 26px;
        margin: 0px 7px 0 0;
        visibility: hidden;
        position: relative;

        &:checked{
            &~.checkbox-icon{
                &::after { 
                    content: "";
                    position: absolute; 
                    left: 7px !important;
                    top: 0px;
                    width: 7px; 
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    height: 16px;
                    border-right: 2px solid #707070;
                    border-bottom: 2px solid #707070;
                    border-radius: 2px;
                    visibility: visible;
                }
            }
        }
    }

    .checkbox-icon {
        width: 21px; 
        height: 21px;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: visible;
        border: 1px solid #a2a2a2;
    }
}
.employee-profile-nav{
    margin-bottom: 15px;
}

.loader {
    float: left;
    width: 100%;
    padding-top:50px;
    .half-size {
        margin:auto;
        height: 28px;
        width: 56px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 0;
        background: #0695ff;
        border-bottom-left-radius: 0;
        -webkit-animation: 1s linear infinite rotate;
        animation: 1s linear infinite rotate;
        transform-origin: 50% 100%;
        position: absolute;
        top: 28px;
    }

    .rotate {
        animation: 1s linear infinite rotate;
        position: relative;
        transform-origin: 50% 100%;
    }

    .top {

        margin:auto;
        height: 28px;
        width: 56px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 0;
        background: e7e7e7;;
        border-bottom-left-radius: 0;
        transform-origin: 50% 100%;
    }
    .bottom {
        margin:auto;
        height: 28px;
        width: 56px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        background: e7e7e7;;
        transform-origin: 50% 100%;
    }
    .top-small {
        margin:auto;
        height: 25px;
        width: 50px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 0;
        background: #fff;
        border-bottom-left-radius: 0;
        transform-origin: 50% 100%;      
        position: relative; 
        top:-53px;
    }
    .bottom-small{
        margin:auto;
        height: 25px;
        width: 50px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        background: #fff;
        transform-origin: 50% 100%;
        position: relative;
        top:-53px; 
    }
}

.client-list-naviagtion {
    display: none;
    a {
        padding: 15px;
        color: #b2b3b3;
        text-decoration: none;
    }
    i {
        margin-right: 15px;
    }
}
.hide-clients-list {
    padding-left: 0px !important;
}


#services-inner {
    #question-431SelectBoxItOptions {
        width: 100% !important;
    }
    .selectboxit-container .selectboxit {
        height: 28px !important;
    }
    .selectboxit-container span {
        padding: 4px 12px 6px 12px !important; 
        margin-right: 0!important;
        line-height: 1 !important;
        margin-bottom: 0 !important;
        text-align: right;
    }
    .selectboxit-container .selectboxit-options .selectboxit-option .selectboxit-option-anchor {
        line-height: 28px !important;
        height: 26px !important;
        overflow: hidden;
        white-sapce: no-wrap;
        text-overflow: ellipsis;
        
    }

    .selectboxit-disabled{
        background: transparent !important;
    }
}
/*END*/