@import "servicesQuestion.scss";
@import "../../plugin/sweetalert/sweetalert.scss";

.wrapper {  
    .get-started {
        border-bottom: 1px solid #f3f3f2;
        float: left;
        width: 100%;
        h2 {
            margin-left: 113px;
            margin-bottom: 0;
            padding-bottom: 10px;
            border:none; 
            margin-top: 0;
        }
    }
    .enrollment {
        h2 {
            font-weight: 700; 
            font-size: 25px;
            padding-bottom: 25px;
            padding-top: 5px;
            color:#000;
        }
    }

    .completed-information {
        color: #212121;
        text-align: center;
        //margin-top: 145px; 
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);

        h2 {
            margin-top: 13px;
            margin-bottom: 19px;
        }

        p{ 
            font-size: 19px;
        }
        .proceed-payment {
            display: inline-block; 
            width: 70%; 
            padding: 12px;
            line-height: 17px;
            background-color: #1688e5; 
            border-radius: 3px;
            font-size: 15px;
            box-shadow: none;
            color: white;
            border: 0;
            margin: 16px 0;
        }
        a:hover {
            text-decoration: none;
        }
        .recommended-services {
            .plans-wrapper {
                text-align: center; 
                padding-left: 7px;
                padding-right: 7px;
                /*                margin-top: 65px;*/   
                a {
                    float: left;
                    width: 100%;
                    text-decoration: none;
                    color: #636b6f;
                }
                &.selected{
                    a{ 
                        color: #ffffff;
                        cursor: pointer;
                        background-color: #2179ee; 
                        p {
                            color: #fff;
                        }  
                    }
                }
                a:hover{ 
                    color: #ffffff;
                    cursor: pointer;
                    background-color: #2179ee; 
                    p {
                        color: #fff;
                    }
                }
                .annual-return {
                    border: 1px solid #b3b0b0;;
                    padding-top: 11px; 
                    min-height: 140px;
                    h4 {
                        font-size: 1.5vw;
                        font-weight: 700;
                        text-align: left;
                        padding-left: 14px;
                        margin-top: 0px;
                        margin-bottom: 15px;
                    }
                    p{
                        font-size: 8px;
                        margin-bottom: 0;
                        font-style: italic;
                        padding-left: 14px;
                        padding-top: 35px;
                        text-align: left;
                    }
                }   
            }
        }
    }   
    .site-heading-1 {
        .align-left {
            text-align: center !important;
            margin-left: 70px;
            padding-top: 25px;
        } 
    }
    .bill-summary {
        //float:left;
        //width:100%;
        padding-top: 0 !important;
        .service-payment{
            background-color: rgb(245, 249, 252);
            margin-top: 10px;
            padding: 10px 25px;
            margin-bottom: 50px;
            .existing-cards {
                text-align: center;
                list-style: none;
                float: left;
                padding:0;
                width:100%;
                li {
                    border: 1px solid #d5d5d5;
                    padding: 10px 50px 14px 50px;
                    margin: 5px 0;
                    font-size: 20px;
                    color: #b6b6b6;
                    margin-bottom: 12px;
                    border-radius: 4px;
                    line-height: 34px;
                    cursor: pointer;
                    &:hover,&.active-card{
                        color:#1688e5; 
                        border-color: #1688e5;
                    }
                    .fa-trash-o{
                        float: right;
                        margin-top: 9px;
                    }
                }
            }
            h5 {
                text-align: center; 
                color: #1688e5;
                letter-spacing: 1px;  
                margin-bottom: 23px;
            }
            p {
                span {
                    color: #1688e5;
                    font-weight:700; 
                    float: left;
                    width:100%;
                    padding-bottom: 10px;
                    padding-top: 7px;
                    font-size: 17px;

                }
            } 
            .grey-text {
                color: darkgrey;
                font-size: 16px;
                float:left;
                width:90%;
            }
            .delete-service {
                color: darkgray;
                float:right;
                padding-right: 26px;
            }
            .italics {
                font-size: 12px;
                border-bottom: 1px solid gainsboro;
                padding-bottom: 57px;
                float: left;
                width:100%;
                margin-bottom: 27px;
                padding-left: 20px;
                span {
                    font-size:13px;
                    font-weight: 400;
                }
            }
            .payment-method{
                button {
                    width: 100%; 
                    color: #afafaf;
                    min-height: 67px;
                    font-size: 16px;
                    text-align: center;
                    border-radius: 4px;
                    border: 1px solid #d2d2d2;
                    background: #f5f9fc;
                    margin: 20px 0 75px 0px;

                    i {
                        padding-right: 6px;
                    }
                }
                button:hover {
                    background-color: rgb(245, 249, 252);       
                }
            }
        }
    }
    .checkout {
        background-color: rgb(245, 249, 252);
    }
    .checkout * {
        margin:0;
        padding:0;
    }
    .checkout {
        .zig-zag-top{
            margin-bottom: 0;
            background: rgb(245, 249, 252);
            padding: 32px 0;
            margin-top: 55px;
            margin-left: 128px;
            width: 29%;
            float: left;
        }
        .zig-zag-top:before{
            background: 
                linear-gradient(-45deg,  rgb(245, 249, 252) 16px, red 16px, blue 16px,  transparent 0), 
                linear-gradient(45deg,  rgb(245, 249, 252) 16px, transparent 0);
            background-position: left top;
            background-repeat: repeat-x;
            background-size: 13px 33px;
            content: " ";
            display: block;
            height: 32px;
            width: 100%;
            position: relative;
            bottom: 64px;
            left:0;
        }

        .checkout div > * {
            margin: 0 40px;
        }
        h5 {
            text-align: center;
            color: #1688e5;
            margin-top: -62px;
            letter-spacing: 1px;  
        }

        .section-left {
            float:left;
            width:100%;
            padding: 0 30px;
            .service-details {
                float: left;
                width: 100%;
                padding-bottom: 122px;
                margin-top:29px;
                .service-name {

                    p {
                        line-height: 20px;
                        padding-bottom: 10px; 
                        color: #4c4c4c;
                    }
                } 
                .amount {
                    p {
                        text-align: right;
                        /*padding-right: 29px;*/
                        font-style: italic;
                        color: #4c4c4c;
                    }
                }
            }
            .due-date {
                float: left;
                width: 100%;
                /*margin-left: 27px;*/
                border-top: 1px solid #1688e5;
               
                .due-today {
                    p {
                        line-height: 20px;
                        color: #4c4c4c;
                    }
                }
                .due-amount {
                    p {
                        text-align: right;
                        color: #4c4c4c;
                    }
                }
                button {
                    width: 100%;
                    padding: 17px;
                    margin-top: 20px;
                    font-size: 18px;
                }
            }
        }
    }
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

@keyframes short-press {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(.9);
  }
  
  100% {
    transform: scale(1);
  }
}

.hide {
  display: none;
}

.submit-button {
  display: block;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 1px;
  height: 60px; 
  width: 120px;
  line-height: 38px;
  overflow: hidden;
  background: #4dbecf;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(black,.1);
  border: 0;
  cursor: pointer;
  transition: all .3s ease;
  padding-top:0px;
  
  &:hover,
  &:focus {
    box-shadow: 0 5px 15px rgba(black,.1);
  }
  
  &.animated {
    animation: .75s short-press cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
  }
  
  > span {
    display: block;
    color: white;
    text-align: center;
    
    &.pre-state-msg {
      transition: all .7s cubic-bezier(0.770, 0.000, 0.175, 1.000);
      transition-delay: .75s;
    }
  }
  
  &.state-1 {
    .pre-state-msg {
      margin-top: -43px;
    }
  }
  
  &.state-2 {
    .pre-state-msg {
      margin-top: -83px;
    }
  }
}

#add-card-modal {
    .modal-dialog {
        width: 500px;
    }
    .modal-content {
        width: 100%;
        overflow:hidden;
        .details {
            padding: 0px 20px;
            label {
                font-size: 12px; 
                /*padding-left: 18px;*/
                margin: 14px 0 10px 0px;
            }
            input {
                width: 100%;
                display: block;
                font-size: 20px;
                min-height:57px;
                border-radius: 5px;
                border: 1px solid #cccccc;
                /*margin: 0 auto;*/
                padding: 14px;
                color: #046eb9;
                box-shadow: none;
                border-radius: 0;
                padding: 15px 12px 14px 12px;
            }
        }
        .inline-details {
            padding:0px 20px; 

            input {
                min-height: 57px;
                border-radius: 5px;    
                font-size: 20px;
                border: 1px solid #cccccc;
                width: 99%;
                margin-bottom: 32px;
                padding: 14px;
                color: #046eb9;
                box-shadow: none;
                border-radius: 0;
                padding: 13px 12px 14px 12px;
                text-align: center;
            }
            .month {
                width: 50%;
                float: left;
                border-right: 0; 
                /*text-align: right;*/
                padding-right: 5px;
            }
            .year {
                width: 50%;
                border-left: 0;
                padding-left: 5px;
            }
            label {
                font-size: 12px;
                margin: 14px 0 10px 0px;
            }
            button {
                width: 100%;
                padding: 15px;
                margin-top: 20px;
                font-size: 21px;
                font-weight: 700;
                margin-bottom: 32px;
            }
        }
    }
}

.wrapper {
    .page-top-bar {
        float:left;
        width:100%;
        border-bottom: 1px solid #f3f3f2;
        .section-top-right {
            float: right;
            padding: 20px 19px 0 0 !important;
            font-size: 18px;
            line-height: 17px;
        }
        .enrollment {
            width: calc(100% - 300px);
            padding-top: 13px;
        }
        .get-started {
            border: none;
        }
    }
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important; 
}

@media screen and (max-width: 767px) {
    .wrapper{
        .completed-information {
            margin-top: 125px;

            .recommended-services {
                .plans-wrapper {
                    /*                    padding-left: 30px;*/
                }
            }
        }
        .service-payment {
            width: 80%;
            margin:auto;
            h5 {
                padding-top: 40px;
            }
        } 
        .checkbox-wrapper {
            margin: 0;
            padding: 0;
            width: 100%;
            float: left;
            background: #f5f9fc;
        }

        .checkout{
            float: left;
            width: 80%;
            margin: auto;
            margin-left: 64px;
            margin-top: 46px;
            .zig-zag-top {
                margin-left:0;
                margin-top:38px;
            }
            .zig-zag-top:before{

                top:-102px;
            }
            .due-date {
                width: 88%;
            }
        }
        .annual-return{
            min-height:142px;
        }
    }
    #add-card-modal {
        .modal-dialog {
            margin: 0 auto;
        }
    }
}
.payment-form{
    .response.alert{
        margin-bottom: 0;
        font-weight: 400;
        color: #818181;
        font-size: 17px;
        max-width: 100% !important;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        padding: 7px 15px;
        border-radius: 0;
    }
}
