@import "finish-account.scss";
@import "dashboard.scss";
@import "../../plugin/toastr/toastr.scss";
@import "profile.scss";

.wrapper {
    #services-question-form {
        float: left;
        width: 100%;
        padding:0;
    } 
    .recommended-service-div{
        /*        padding: 30px 40px 60px !important;*/
        padding: 0px 0px 20px 25px !important; 
    }
    .get-started {
        h2 {
            //margin: 0px 0 10px 116px;
            padding-top: 3px;
            color: #1b1b1b;
            font-weight: 700;
            font-size: 24px;
        }
        .flash-message{
            /*display: grid;*/ 
            max-width: 100%;
            text-align: center;
        }
    } 
    .section-top-right {
        float:right;
        padding: 22px 115px 0 0;
        font-size:18px;
        line-height: 17px;
        i {
            padding-right: 16px;
            padding-left: 5px;
            position: relative;
            top: 2px; 
        }
        p {
            display: inline;
        }
    }
    .sections { 
        padding-top: 0px; 
        margin-top: -20px;
        min-height:49vh;
        .section-left {
            //  margin-left: 76px;
            padding-left: 0;
            h2 {
                margin-top: 0;
                font-size: 21px;
                //  margin-top: 50px;
                margin-left: 0;
            }
            p {
                font-size:13px;
            }
        }
        .input-group {
            margin-top: 26px;
            width: 270px;
            padding-top: 48px;
            padding-bottom: 65px;
        }
        .service-input-group{
            margin:0px 0px 0px 0px ! important; 
            padding: 0! important;
            width:95.5%! important;
            .input-group-addon{
                background-color: #ffffff;
                border-radius:0px;
            }
            .percent-input-group-addon{
                padding-right: 10px! important;
            }
            .borderLeft0{
                border-left: 0px;
            }
            .borderRight0{
                border-right: 0px;
            }
            .full-width{
                width:100%! important;
                margin-right: 0px! important;
            }
            .comprehensive-width-addon{
                width: 210px! important;
                margin-right: 0px! important; 
            }
            .comprehensive-width{
                width: 228px! important;
                margin-right: 0px! important;
            }
            .stock-width{
                width: 228px! important;
                margin-right: 0px! important;

            }
            .coverage-amt-width{
                width:160px! important;
                margin-right: 0px! important;

                border-bottom: 1px solid #ccd0d2;
                border-top: 1px solid #ccd0d2;
                &:focus{
                    outline: none;
                }
            }
        }
        .coverage-input-group{
            width:78.5%! important;
        }
        .benefit-input-group{
            width:89.5%! important;
        }
        .section-right {
            /*margin-top: 50px;*/ 
            .inner-left {
                label.error {
                    /*                    width: 173px;
                                        border: 1px solid #b7aaaa;
                                        padding: 6px;
                                        background: #ffe3e3;
                                        font-weight: 400;
                                        margin-bottom: 18px;*/

                    display: block;
                    border-radius: 0px;
                    width: 261px !important;
                    margin-top: -18px;
                    width: 300px;
                    border-radius: 0;
                    padding: 7px;
                    font-weight: 400;
                    padding-left: 15px;
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;

                }
            }
        }
        .horizontal {

            .headings {
                float:left;
                width:100%;
                .description{
                    display:inline;
                    float:left;
                    width:50%;
                    margin-top: 48px;
                }
                .amount {
                    /*display:inline;*/
                    float:left;
                    width:50%;
                    margin-top: 48px;

                }
            }
            input{
                /*width: 44%;*/
                margin-right: 6%;
                margin-bottom: 18px;
                padding: 11px 12px 14px 12px;
                height: 48px;
                border-radius: 0;
                font-size: 16px;
                float: left;
                box-shadow: none;
            }
        }
    }
    #return-later {
        float: right;
        width: 100%;
        text-align: center;
        padding-left: 214px;
        font-size: 11px;
    }
}  

/*.actions{
    ul {  
        width: 100%;
        float: left;
        li{
                        float: left;
                        width: 100%;
            list-style: none;

            a[href="#previous"] {
                position: relative;
                top: 35px;
                left: 167px;
                font-size: 13px;
                padding-left:35px;
            }
            a[href="#next"] {
                padding: 10px 35px;
            }
        }
    }
}*/


.actions {
    ul {
        text-align:center;
        padding-top: 37px; 
        padding-left: 0px; 

        li {
            display:inline; 
            a[href="#previous"] {
                font-size: 17px;
                color: #808184;
                display: inline; 
                cursor: pointer;
                text-decoration:none;
                padding-right: 36px;
                text-decoration: none; 
            }
            a[href="#next"] {    
                border-radius: 3px;  
                color: #fff;
                font-family: Lato; 
                font-size: 18px;
                line-height: 24px; 
                text-align: center;
                width: 150px;  
                padding: 12px 35px;
                background-color: #2179EE;
                text-decoration: none;
            } 
            a[href="#finish"] {    
                border-radius: 3px;  
                color: #fff;
                font-family: Lato; 
                font-size: 18px;
                line-height: 24px; 
                text-align: center;
                width: 150px; 
                padding: 12px 35px;
                background-color: #2179EE;
                text-decoration: none;
            } 
        }
    } 
} 

#recommended-services-modal {
    .modal-header{
        padding: 10px 15px 9px 20px;
        h4{
            font-weight: bold;
            font-size: 25px;
            color: #000;
        }
    }
    .modal-body {
        text-align:center;
        padding: 40px 25px;
        span {
            color:#2179ee;
            font-size: 22px;
            line-height: 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        get.started {
            h2 {
                padding-top: 9px;
            }
        }
        .section-top-right {
            padding: 11px 13px 0 0;
        }
        .sections {
            .input-group {
                margin-left:48px;
                padding-top:6px;
            }
            .section-left {
                width:100%;
                padding-right: 92px;
                margin-left: 34px;
            }
            .section-right {
                margin-top:0; 
                float: left;
                width: 100%;
                margin-left: 19px;
                .inner-left {
                    label {
                        width:100%;
                    }
                }
            }
            .horizontal { 
                float: left;
                width: 100%;
                margin-left: 32px;
                padding-right: 48px;

            }
        }
    }   
}
@media screen and (min-width: 767px) {
    #services-question-form {
        //margin-left: 13px;
    }
}
/*@media screen and (max-width: 863px) {

    .wrapper {
        .sections {
            .section-left {
                width:100%;
                padding-right: 92px; 
            }
        }
    }

}*/
/*@media screen and (max-width: 956px) {
    .wrapper {
        .sections { 
            .horizontal { 
                width:99%  !important;

            }
            .section-left {
                width:100%;
                padding-right: 92px;
                margin-left: 23px;
            }
        }
    }
}*/
@media screen and (max-width: 690px) {

    .wrapper {
        .sections { 
            .section-left {
                margin-left: 35px;
            }
        }
    }

}






/* -----------------------------6-18-2018(ajay)-------------------------------------------*/
.liabilities{
    .wrapper {
        .sections {
            .section-left {
                margin-left: 0;
            }
        }
    }





}



/*user editable functionality*/

.service-preview{
    .selectboxit-container {
        .selectboxit {
            height: 28px !important;
        }
        span {
            padding: 4px 12px 6px 12px !important;
            margin-right: 0 !important;
            line-height: 1 !important;
            margin-bottom: 0 !important;
            text-align: right;
        }
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.lds-dual-ring:after {    
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #1d99d4;
    border-color: #1d99d4 transparent #1d99d4 transparent;
    animation: lds-dual-ring 1.2s infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

