@import "../app.scss";
@import "../../plugin/radio-circle.scss";
@import "dashboard.scss";
#save-answer{
    margin-top: 9px;
    background: #1688e5;
    width: 220px;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
}
.each-question, .each-question-input{
    margin-bottom: 15px;
}
 .lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
