@import "../app.scss";

.header-bar{
    background-color: #fff;
    border-bottom: 2px solid #B6BCC5;
    padding: 10px 0px 10px 0px;
    .logo {
        height: 56px;
        width: 56px;
        float: left;
    }
    p{
        float: left;
        color: rgb(33, 72, 118);
        font-family: Lato;
        font-size: 18px;
        line-height: 24px;
        margin: 18px 0px 0px 23px;
        font-weight: 700;
    } 
}
.wrapper {
    background:white;
    .step {
        float:left;
        width:100%;
        padding-top:16px;
        p {
            font-size: 17px;
            color: #676767;
            font-weight: 700;
            padding-bottom: 16px;
            margin-bottom: 0;
        }
        .blue-line {
            border-bottom: 3px solid #3f71ff;
        }
        .grey-line {
            border-bottom: 3px solid #eaeaea;
        }
    }
    .site-heading-1 {
        padding-top: 50px;

        input {
            font-family: inherit;
            margin-top: 15px;
            font-size: 28px;
            color: rgb(47, 129, 239);
            font-weight: 700;
            line-height: inherit;
            height: 55px;
            width: 188px;
            display: inline;
            border: 1px solid #a0a0a0;
            text-align: center;
        }

        p {
            font-size: 16px;
            color: rgb(151, 154, 159);
        }
        h2{
            color: rgb(52, 58, 65);
            font-size: 34px;
            font-weight: 700;
        }
        ul {
            list-style: none;
            padding-left: 0;
            padding-top: 25px;
            li {
                padding-bottom: 6px;
            }
        }
        label {
            display: inline-block; 
            margin-bottom: 5px;
            font-weight: 400;
            color: #818181;
            font-size: 22px;
        }
        .checkbox-custom-label{
            input {
                width: 24px;
                height: 24px;
                float: left;
                margin-right: 26px;
                margin: 6px 25px 0 0;
                visibility: hidden;
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    visibility: visible;
                    border: 1px solid #a2a2a2;
                }
                &:checked{


                    &:after { 
                        content: "";
                        position: absolute;
                        left: 9px;
                        top: 2px;
                        width: 7px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        height: 16px;
                        border-right: 2px solid #707070;
                        border-bottom: 2px solid #707070;
                        border-radius: 2px;
                        visibility: visible;

                    }
                }
            }
        }
        .debt {
            h3 {
                font-size: 18px;  
                font-weight: 700;
                margin-bottom: 2px;

            }
        }
        .next-page {
            text-align:center;
            padding-top: 140px;

            .btn-info{  
                border-radius: 3px;
                color: #FFFFFF;
                font-family: Lato;
                font-size: 22px;
                line-height: 24px;
                text-align: center;
                width: 190px;
                padding: 17px;
                background-color: #2179EE;
            }
        }
    }
}
.footer {
    float: left;
    width: 100%;
    padding-top: 100px;
    .description {
        border-top: 2px solid lightgray;
        margin: 0px 0 11px;
        text-align: center;
        font-size: 13px;
        color: #bdb8b8;
        padding-top: 5px; 
    }
    p {
        font-size: 13px;
        color: #bdb8b8;
        border: none;
    }
}