@import "../app.scss";
@import "signUpTwelve.scss";
@import "../../plugin/selectBoxIt.scss";
@import "../includes/footer.scss";

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.header-bar{
    background-color: #fff;
    border-bottom: 1px solid #B6BCC5; 
    padding: 10px 0px 10px 0px;
    .home-link {
        float:left;
        cursor:pointer;
    }

    .logo { 
        height: 56px;
        width: 56px;
        float: left;
    } 
    p{
        float: left;  
        color: rgb(33, 72, 118);
        font-family: Lato;
        font-size: 18px;
        line-height: 24px;
        margin: 18px 0px 0px 23px;  
        font-weight: 400;
    } 
}
.wizard > .actions > ul > li.disabled {
    display: none;
}
.wrapper {
    background:white;
    .step {
        float: left;
        //width: 92%;
        padding-top: 16px;
        /* margin: 0 40px 0 40px; */
        //margin-left: 55px;
        p { 
            font-size: 18px;
            color: #404040;
            font-weight: 400;
            padding-bottom: 16px;
            margin-bottom: 0;
        }
        .blue-line {
            border-bottom: 3px solid #2178ee;
        }
        .blue-line-progress{
            width:0;

        }
        .grey-line {
            border-bottom: 3px solid #eaeaea;
        }
        .grey-div {
            background-color:  #eaeaea;
            height:2px;
        }
    }
    .steps-box{
        fieldset{
            min-height: calc(48vh);
            .credentials {
                margin-top: -70px; 
                .response-msg.alert{
                    margin-top: -25px;
                    max-width: 335px;
                }
            }
        }
    }
    .site-heading-1 {
        padding-top: 0px;
        padding-left: 0px;
        .investment-intake {
            padding-left:15px;
        }
        .loader {
            padding-top:50px;
            .half-size {
                margin:auto;
                height: 28px;
                width: 56px;
                border-top-left-radius: 100px;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 0;
                background: #0695ff;
                border-bottom-left-radius: 0;
                -webkit-animation: 1s linear infinite rotate;
                animation: 1s linear infinite rotate;
                transform-origin: 50% 100%;
                position: absolute;
                top: 28px;
            }

            .rotate {
                animation: 1s linear infinite rotate;
                position: relative;
                transform-origin: 50% 100%;
            }

            .top {

                margin:auto;
                height: 28px;
                width: 56px;
                border-top-left-radius: 100px;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 0;
                background: e7e7e7;;
                border-bottom-left-radius: 0;
                transform-origin: 50% 100%;
            }
            .bottom {
                margin:auto;
                height: 28px;
                width: 56px;
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 100px;
                background: e7e7e7;;
                transform-origin: 50% 100%;
            }
            .top-small {
                margin:auto;
                height: 25px;
                width: 50px;
                border-top-left-radius: 100px;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 0;
                background: #fff;
                border-bottom-left-radius: 0;
                transform-origin: 50% 100%;      
                position: relative; 
                top:-53px;
            }
            .bottom-small{
                margin:auto;
                height: 25px;
                width: 50px;
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 100px;
                background: #fff;
                transform-origin: 50% 100%;
                position: relative;
                top:-53px; 
            }
        }

        input {
            font-family: inherit;
            margin-top: 15px;
            font-size: 28px;
            color: rgb(47, 129, 239);
            font-weight: 700;
            line-height: inherit; 
            height: 55px;
            width: 188px;
            display: inline; 
            border: 1px solid #a0a0a0;
            text-align: center;
            margin-bottom: 30px;
        }
        input+.error.alert.alert-danger{
            margin-top: -25px;
        }
        .step9-input {
            border: 0;    
            border-bottom: 2px solid #c5c5c5;
            height: 37px;
            margin-bottom: 15px;
            font-size: 34px;
        }
        .credentials {
            p {
                font-size:15px;
                margin-bottom: 20px;
            }
            input { 
                width: 335px;
                display: block;
                color: #000000;
                font-weight: 400;
                font-size: 15px;
                padding-left: 9px;
                text-align: left;
            }
            h2 {
                margin-top: 100px;
            }
        }

        p {
            font-size: 15px;
            color: #B6BCC5;
            /*margin-top: 50px;*/
            margin-bottom: 0px;
            font-weight:400;
            span {
                font-size: 16   px;
            }
        }
        .question-heading {
            margin-top: 50px;
            margin-bottom: -10px;
        }
        h2{
            color: #30363D;
            font-size: 34px;
            font-weight: 700;
            margin-top: 0px;
        }
        .options {
            list-style: none;
            padding-left: 0;
            padding-top: 25px;
            margin-bottom: 0;
            li {
                padding-bottom: 6px;
                list-style:none; 
            }
        }
        label {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: 400;
            color: #818181;
            font-size: 17px;
            width: 100%;
            position: relative;
            &.alert-danger{ 
                display: block;
            }
        }  

        .half-width  {
            li{
                width:50%;
                float:left;
            }
        }
        .checkbox-custom-label{
            input { 
                width: 24px; 
                height: 24px;
                float: left;
                margin: 3px 11px 0 0;
                visibility: hidden;
                position: absolute;
                left: 0;                
                &:checked{
                    &~.checkbox-icon{
                        &::after { 
                            content: "";
                            position: absolute;
                            left: 7px;  
                            top: 1px;
                            width: 7px;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            height: 16px;
                            border-right: 2px solid #707070;
                            border-bottom: 2px solid #707070;
                            border-radius: 2px; 
                            visibility: visible;
                        }
                    }
                }
            }
            .checkbox-icon{
                width: 21px; 
                height: 21px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                visibility: visible;
                border: 1px solid #a2a2a2;
                float: left;
                margin: 3px 11px 0 0;
            }
            span:not(.checkbox-icon){
                width: calc(100% - 43px);
                display: inline-block;
                padding-left: 29px;
            }

        }
        .debt {
            h3 {
                font-size: 17px;  
                font-weight: 700;
                margin-bottom: 2px;
            }
        }
        .next-page {
            text-align:center;
            padding-top: 37px; 

            a:hover {
                text-decoration: none;
            }
            &.align-left {
                text-align: left;
                p {
                    padding-left: 12px;
                    padding-top: 11px;
                    font-size: 14px;
                }
            } 
            .btn-info{  
                border-radius: 3px;
                color: #fff;
                font-family: Lato;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                width: 150px;
                padding: 10px;
                background-color: #2179EE;
            }
            p {
                font-size: 17px;
                color: #808184;
                display: inline; 
                cursor: pointer;
                text-decoration:none;
                padding-right: 36px;
            } 
        }
        .padding {
            padding-top: 118px;
        }
        .step5-padding {
            padding-top: 65px;
        } 
        .step8-padding {
            padding-top: 115px;
        }
        .step9-padding {
            padding-top: 165px;
        }
    }
    .main-heading {
        padding-top: 145px;
    }
    .next {
        p{
            font-size: 32px;
            color: #ff002b;
            text-align: right;
            float: left;
            width: 100%;
            padding-top: 160px;

        }
    }  
}

.alert-danger {
    display:block;
    border-radius: 0px; 
    max-width: 300px; 
    border-radius: 0;
    /*    padding: 0 17 0 17 !important;*/
    padding-top: 8px;
    padding-bottom: 8px;

}
.footer {
    float: left;
    width: 100%;
    padding-top: 100px;
    .description {
        border-top: 2px solid lightgray;
        margin: 0px 0 11px;
        text-align: center;
        font-size: 13px;
        color: #bdb8b8;
        padding-top: 5px; 
    }
    p {
        font-size: 13px;
        color: #bdb8b8; 
        border: none;
    }
}
.site-heading-1 {
    .radio-custom-label{
        width: 100%;
        padding-left:0;
        position: relative;
        input { 
            width: 21px;
            height: 21px;
            float: left;
            margin-right: 26px;
            margin: 3px 11px 0 0;
            visibility: hidden;
            position: relative;
            &:checked{
                &~.radio-icon{
                    &:after{
                        content: "";
                        position: absolute;
                        left: 6px;
                        top: 2px;
                        width: 7px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        height: 14px;
                        border-right: 2px solid #707070;
                        border-bottom: 2px solid #707070;
                        border-radius: 2px;
                        visibility: visible;
                    }
                }
            } 
        }
        .radio-icon{
            position: absolute;
            top: 3px;
            left: 0;
            right: 0;
            bottom: 0;
            visibility: visible;
            border: 1px solid #a2a2a2;
            border-radius: 50%;
            width: 21px;
            height: 21px;
        }
        span:not(.radio-icon){
            width: calc(100% - 43px);
            display: inline-block;
            /*padding-left: 12px;*/
        }
        p{
            font-size: 12px;
            margin-bottom:2px;
            span {
                /*color: red;*/
            }
        }
    }
}
.steps {
    display: none;
}
.actions {
    ul {
        text-align:center;
        padding-top: 37px; 
        padding-left: 0px; 

        li {
            display:inline; 
            a[href="#previous"] {
                font-size: 17px;
                color: #808184;
                display: inline; 
                cursor: pointer;
                text-decoration:none;
                padding-right: 36px;
                text-decoration: none; 
            }
            a[href="#next"] {    
                border-radius: 3px;  
                color: #fff;
                font-family: Lato; 
                font-size: 18px;
                line-height: 24px; 
                text-align: center;
                width: 150px;  
                padding: 12px 40px;
                background-color: #2179EE;
                text-decoration: none;
            } 
            a[href="#finish"] {    
                border-radius: 3px;  
                color: #fff;
                font-family: Lato; 
                font-size: 18px;
                line-height: 24px; 
                text-align: center;
                width: 150px; 
                padding: 12px 35px;
                background-color: #2179EE;
                text-decoration: none;
            } 
        }
    } 

} 
.selectboxit-container { 
    span {
        width: 228px; 
        font-size:31px;  
        margin-top: -3px;
        font-weight: 700;
        text-align:center;
        color: #1084e9;
        height: 36px;
        padding-top: 4px;
        text-transform: lowercase;
        text-indent: 0;
    }
    .selectboxit-option-icon-container {
        display: none;
        width: 0;
    }
    .selectboxit-arrow-container {
        display: none;
        width: 0;
    }
    .selectboxit-option{
        .selectboxit-text {
            font-size: 31px;
        }
    }
    .selectboxit {
        background: transparent;
        border: none; 
        border-radius: 0;
        border-bottom: 1px solid black;
        margin-top: 5px;
        padding-bottom: 29px; 
        .selectboxit-default-arrow {
            display:none;
        }
    }
    .selectboxit-btn.selectboxit-enabled:hover, {
        background-color: #fff;
    }
    .selectboxit-btn.selectboxit-enabled  {
        background-color: #fff;
    }
    .selectboxit-open{
        /*background-color: red;*/
    } 
    .selectboxit-list {
        padding-top:-0;
        border-radius: 0;
        li{
            text-align: center;
            border-bottom: 1px solid #b1b1b1;
            padding: 5px 0px;
            border-radius: 0px; 
            &:hover{
                background-color:#ececec !important;
            }
            &:focus{
                background-color: #ececec !important;
            }

            .selectboxit-option-anchor {
                color: rgb(33, 120, 238);
                background-color: #fff;
                padding: 5px 9px;
                background-image: none;
                font-size: 23px;
                line-height:1;
                span {
                    height: 0;
                }
                &:hover{
                    background-color: #ececec !important;
                }
                &:focus{
                    background-color: #ececec !important;
                }

            }
        }
    }
}

#customSelect {

    .selectboxit-container { 
        span {
            width: 266px; 
            font-size:31px !important;  
            margin-top: -3px;
            font-weight: 700;
            text-align:center;
            height: 36px;
            padding-top: 4px;
            text-transform: lowercase;
            text-indent: 0;
            color: #1084e9 !important;  
            max-width: 100%! important;
        }      
        .selectboxit-option-icon-container {
            display: none;
            width: 0;
        }
        .selectboxit-arrow-container {
            display: none;
            width: 0;
        }
        .selectboxit-option{
            .selectboxit-text {
                font-size: 31px !important;

            }
        }
        .selectboxit {
            background: transparent;
            border: none; 
            border-radius: 0;
            border-bottom: 1px solid black;
            margin-top: 5px;
            padding-bottom: 29px; 
            .selectboxit-default-arrow {
                display:none;
            }
        }
        .selectboxit-btn.selectboxit-enabled:hover, {
            background-color: #fff;
        }
        .selectboxit-btn.selectboxit-enabled  {
            max-width: 100%! important;
            width: 100%! important;
            background-color: #fff;
        }
        .selectboxit-open{
            /*background-color: red;*/
        } 
        .selectboxit-list {
            padding-top:-0;
            border-radius: 0;
            li{
                text-align: center;
                border-bottom: 1px solid #b1b1b1;
                padding: 5px 0px;
                border-radius: 0px; 
                &:hover{
                    background-color:#ececec !important;
                }
                &:focus{
                    background-color: #ececec !important;
                }

                .selectboxit-option-anchor {
                    color: rgb(33, 120, 238);
                    background-color: #fff;
                    padding: 5px 9px;
                    background-image: none;
                    font-size: 23px !important;
                    line-height:27px;
                    span {
                        height: 0;
                    }
                    &:hover{
                        background-color: #ececec !important;
                    }
                    &:focus{
                        background-color: #ececec !important;
                    }

                }
            }
        }
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.debt-status {
    width:100%;
    float:left; 
    margin-bottom:20px;
    h5 {
        font-size: 16px; 
        font-weight: 700;
        color: #434343;
        margin-bottom: 0 !important;
    }
    p {
        margin-top: 0!important;
        font-weight: 400;
        color: #919191;
        font-size: 14px !important;

        span {
            color: #2d87d5;
        }
    }
}

.liquid-investments {
    float:left;
    width:100%;
    p {
        margin-top: 0!important;
        font-weight: 400;
        color: #919191;
        font-size: 14px !important;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        .step {
            width: 100%;
            margin-left: 0;
            .grey-line {
                display: none;
            }
        }
    }   
}
#footer{
    border-top: 1px solid #979797;
    margin-top: 70px;
}
#contact-us .selectArrow {
    z-index: 9 !important;
}

#contact-us .selectboxit-container {
    width: 263px;
}

#contact-us .selectboxit-container .selectboxit-btn {
    width: 100% !important;
}

#contact-us .selectboxit-container .selectboxit-btn .selectboxit-text {
    max-width: inherit !important;
}

#contact-us .selectboxit-container span {
    max-width: 100% !important;
}

#contact-us .form-group .selectboxit-container .selectboxit-list {
    width: inherit !important;
}

.selectboxit-container span {
    max-width: 158px !important;
    color: #555555 !important;
    margin-right: 26px;
    margin-bottom: 18px;
    padding: 11px 12px 14px 12px;
    height: 48px;
    border-radius: 0;
    font-size: 15.5;
    font-weight: 400;
    text-align: left;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.selectboxit-container .selectboxit {
    border-radius: 0;
    border: 1px solid #ccd0d2;
    height: 48px;
    width: 158px !important;
    margin-top: 0px;
    background: #fff;
}

.selectboxit-container .full-width {
    width: 273px !important;
    max-width: 273px !important;
    padding: 10px 0 14px 13px !important;
    margin-right: 2px;
    margin-bottom: 0px;
    font-size: 16px;
}

.selectboxit-container .full-width span {
    padding: 0 !important;
    max-width: 273px !important;
    margin-bottom: 0;
}

.selectboxit-container .selectboxit-options {
    border-radius: 0 !important;
}

.selectboxit-container .selectboxit-options .selectboxit-option {
    padding: 0 !important;
    border-bottom: 1px solid #b1b1b1;
    text-align: center;
    /*margin: 4px 0;*/
    border-radius: 0;
}

.selectboxit-container .selectboxit-options .selectboxit-option a:hover {
    background-color: #e6e6e6;
    color: #027dca;
}

.selectboxit-container .selectboxit-options .selectboxit-option .selectboxit-option-anchor {
    line-height: 40px;
    /*margin: 4px 0;*/
    display: block;
    color: #333333;
    font-size: 14px;
    padding: 0;
    height: 36px;
}

.selectboxit-container .selectboxit-options .selectboxit-focus:hover {
    background-color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
