/*@import "../app.scss";*/

.header-bar{
    background-color: #fff;
    border-bottom: 2px solid #B6BCC5;
    padding: 10px 0px 10px 0px;
    .logo {
        height: 56px;
        width: 56px;
        float: left;
    } 
    p{ 
        float: left;
        color: rgb(33, 72, 118);
        font-family: Lato;
        font-size: 18px;
        line-height: 24px;
        margin: 18px 0px 0px 23px;
        font-weight: 700;
    }
}
.wrapper {
    background:white;
    .step {
        float:left;
        width:100%;
        padding-top:16px;
        p {
            font-size: 17px;
            color: #676767;
            font-weight: 700;
            padding-bottom:16px;
            margin-bottom:0;
        }
        .blue-line {
            border-bottom: 3px solid #3f71ff;
        }
        .grey-line {
            border-bottom: 3px solid #eaeaea;
        }
    }
    .site-heading-1 {
        padding-top: 50px;


        p {
            font-size: 16px;
            color: rgb(151, 154, 159);
        }
        h2{
            color: rgb(52, 58, 65);
            font-size: 34px;
            font-weight: 700;
        }
        .custom-row {
            margin-left: -8px;
            margin-right: -8px;

            .plans-wrapper {
                text-align: center;
                padding-left: 7px;
                padding-right: 7px;
                margin-top: 65px;
                a {
                    float: left;
                    width: 100%;
                    text-decoration: none;
                    color: #636b6f;
                }
                &.selected{
                    a{ 
                        color: #ffffff;
                        cursor: pointer;
                        background-color: #2179ee; 
                        p {
                            color: #fff;
                        }  
                    }
                }
                a:hover{
                    color: #ffffff;
                    cursor: pointer;
                    background-color: #2179ee; 
                    p {
                        color: #fff;
                    }
                }
                .annual-return {
                    border: 1px solid grey;
                    padding-bottom: 23px;
                    padding-top: 11px;

                    h4 {
                        font-size: 16px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 13px;
                        margin-bottom: 0;
                        font-style: italic;
                    }
                }

            }

        }
    }
    .debt {
        h3 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 2px;

        }
    }
    .next-page {
        text-align:center;
        padding-top: 50px;
        float: left;
        width: 100%;



        .btn-info{  
            border-radius: 3px;
            color: #FFFFFF;
            font-family: Lato;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            width: 150px;
            padding: 10px;
            background-color: #2179EE;
        }
        p {
            font-size: 17px;
            color: #979a9f;
            display: inline; 
            cursor: pointer;
            text-decoration:none;
            padding-right: 36px;
        } 
    }
    .padding {
        padding-top: 165px; 
    }
    .step5-padding {
        padding-top: 80px;
    }
    .step8-padding {
        padding-top: 115px;
    }
}

.footer {
    float: left;
    width: 100%;
    padding-top: 100px;
    .description {
        border-top: 2px solid lightgray;
        margin: 0px 0 11px;
        text-align: center;
        font-size: 13px;
        color: #bdb8b8;
        padding-top: 5px; 
    }
    p {
        font-size: 13px;
        color: #bdb8b8;
        border: none;
    }
}

@media screen and (max-width: 767px) {
    .plans-wrapper {
        .annual-return {
                margin-bottom: 15px;
        }
    }
   
}