@import "../app.scss";
@import "../includes/footer.scss";

.bg-color {
    background-color: #fff;
}
.header-bar{    
    background-color: #fff; 
    border-bottom: 2px solid #B6BCC5; 
    padding: 10px 0px 10px 0px;  
    .logo {   
        height: 56px;    
        width: 56px;    
        float: left; 
    }    
    p { 
        float: left;  
        color: #002D62;   
        font-family: Lato; 
        font-size: 18px;   
        line-height: 24px;    
        margin: 18px 0px 0px 23px;  
    }
}
.p0 {        
    padding: 0px;  
}
.center { 
    float: left;
    width: 100%;
    padding-top: 28px; 
    p{
        font-family: Lato;  
        text-align: center;
        color: #30363e;   
        font-family: Lato; 
        font-size: 32px;  
        font-weight:700;
        line-height: 40px;
    }    
}
.contain-type{
    margin-top: 50px;
}
.left-side {
    h4 {
        color: #b6bcc5;
        font-family: Lato;  
    }
    p {
        font-family: Lato;  
        line-height: 1;
        color:#30363e;     
        font-size: 26px;  
        font-weight: 700;
        text-align: left;
    }
    span {
        line-height: 1;
        color:#30363e;  
        font-size:25px;
    }   
    i {
        padding-left: 17px;
        color: #dde0e4;
        cursor: pointer;
        font-weight: normal;
        font-size: 22px;
    }
    .pd-top {
        padding-top: 55px;
    }
}
.daughnut-style {
    position: relative;
    padding-bottom:10px; 
    .absolute {
        position: absolute;
        color: #30363e;
        font-size: 15px;
        top: 47%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    .stocks,.bonds {
        float: left;
        line-height: 0;
        padding: 0 10px;
        h3  {
            font-size: 40px;
            font-family: Lato;
            color: #30363e;  
            margin-top: 5px;
            font-weight: 700;
        }
        p {
            font-family: Lato;
            color: #30363D;
            font-weight: 700;
            font-size: 19px;
        }
    }
    .stocks {
        border-right: 1px solid grey;
        padding: 0 10px;
    }
}
.right-side {
    h4 {
        color:#b6bcc5;
        font-family: Lato;  
    }
    p {
        font-family: Lato;  
        color:#b6bcc5;     
        font-size: 16px;  
        line-height: 1;
    }
    span {
        color: #74797f;
        font-size: 16px;
        float: right;
    }
    .black-color {  
        color:#30363e;   
        font-weight: 700;
        font-family: Lato;  
        font-size: 19px;
    }
    .pd-top-right {
        padding-top: 21px;
    }
    .percentage {
        float: left;
        margin-top: -27px;
        color: #74797f;
        margin-left: 247px;
    }
}
.grey-p {
    padding-top: 44px;
    a {
        font-size: 15px;
        color: #8d8f95;
        font-family: Lato;  
        font-weight: 400;
    }
    &>a:first-child{
        padding-top: 15px;
    }
    .btn {
        margin: auto;
        background-color: #2079ee;
        color: #f9fafd;
        padding: 10px 44px;
        border: 2px solid #2079ee;
        border-radius: 4px;
        text-align: center;
        font-size: 18px;
        font-family: Lato;  
        font-weight: normal;
    }
    .text-center {
        text-align: center;
    }
    .float-right {
        float: right;
        padding-top: 15px;
    }
}
.footer {   
    float: left;    
    width: 100%;    
    padding-top: 85px;    
    .description {        
        border-top: 2px solid lightgray;      
        margin: 0px 0 11px;    
        text-align: center;   
        font-size: 13px; 
        color: #bdb8b8;     
        padding-top: 5px;   
    }  
    p {      
        font-size: 13px;  
        color: #bdb8b8; 
        border: none;   
    } 
}
.hover-show {
    display:none;
    position: absolute;
    border: 1px solid #b6bcc5;    
    width: 327px;
    background-color: white;
    z-index: 1;
    outline: 2px;
    top: 85px;
    padding: 36px 36px 30px 36px;
    left: 110px;
    p {
        font-family: Lato;
        color:#b6bcc5;    
        font-size: 17px;
        text-align: center;
        font-weight: normal;
        line-height: 21px;
    }
    span {       
        font-weight: 700;
    }
}
#footer{
    border-top: 1px solid #979797;
    margin-top: 120px;
}


