@import "finish-account.scss";
@import "../../plugin/datePicker.min.scss";
/*@import "../../plugin/ion.rangeSlider.min.scss";*/
@import "../../plugin/skin.scss";
/*@import "../../plugin/skin1.scss";
@import "../../plugin/skin2.scss";
@import "../../plugin/skin3.scss";
@import "../../plugin/skin4.scss";*/
@import "../../plugin/ion.normalize.scss";
@import "servicesQuestion.scss";
@import "dashboard.scss";
@import "../common.scss";

$mobile: "(min-width: 300px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.radio-icon, .cursor-pointer{ 
    cursor: pointer;
} 
#managed-account-info .wrapper {
    .sections {
        .section-right {
            select {
                display: none !important;
            }
            .inner-left {
                select {
                    display: none !important;
                }
            } 
        }
    } 
}
.term-input{
    position: absolute;
    left: -9999px;
}
.term-label {
    display: block;
    position: relative;
    margin-right: 5px;
    padding: 12px 4px;;
    border:1px solid #2279ee;
    border-radius: 5px;
    color: #2279ee;
    background-color: transparent; 
    white-space: nowrap;
    cursor: pointer;
    user-select: none; 
    text-align: center;
    float: left;
    color: #2279ee;
    width:49px !important;
}
.term-input:checked + .term-label {
    background-color: #2279ee;
    color:#fff;
}
.wrapper {

    .recommended-service-div{
        form{
            .content{
                fieldset{
                    margin-bottom: 45px;
                }
            }
        }
    }
    .returnLater {
        position: relative;
        color: #7c7c7c;
        left: 54%;
        /*top: 60p  x;*/
        font-size: 14px;
    }
    .footerBack{
        position: relative;
        top: 60px;
        text-align: center;
        background-color: #ffffff;
        border: 0px;
        left:4%;
        &:focus{
            outline: none;
        }
    }

    #services-question-form {
        float: left;
        width: 100%;
        padding:0;
    }
    .modal-header{
        background: #2179ee !important;
        border-radius: 5px 5px 0 0 ;
    }
    .sections {
        padding: 0;
        min-height: 48vh;

        .close {
            color:#fff;
            opacity: 1;
        }
        .modal{
            overflow: scroll;
        }
        /*.col-sm-12{*/
        .section-left{
            h3{
                margin-top: 0;
                color: #000;
            }
            h2 {
                margin-top: 0;
                font-size: 24px;
                margin-left: 0;
            }
            .section-name{
                color:#B6BCC5;
                margin-bottom: 0;
            }
            h4{
                margin-top: 3px;
                color:#000;
                letter-spacing: 0.8px;
            }
            h6{
                font-size: 12px;
                color:#B6BCC5;
                letter-spacing: .7px;
                font-weight: 700;
                text-transform: uppercase;
            }
            p{
                font-size: 15px;
                margin-bottom: 20px;
                a{
                    text-decoration:none;
                    color: #3097D1;
                    &:hover{ color: #3097D1;}
                    &:focus{ outline: 0;}
                }
            }
        }
        /*}*/
        .mortgage-last-step{
            .section-right {
                .mortgage-last-step{
                    .inner-left{
                        .single-line{
                            line-height: 49px;
                            margin-bottom: 0;
                            font-weight: 700;
                        }
                        .double-line{    
                            line-height: 17px;
                            padding-top: 10px;
                            font-weight: 700;
                        }

                    }
                }
                .latest-statement{
                    .inner-left{
                        label{
                            width: 100%;
                            height: 43px;
                        }
                        label.single-line{
                            font-weight:700;
                            line-height: 49px;
                            margin-bottom: 0;
                        }
                        label.double-line{    
                            line-height: 17px;
                            padding-top: 10px;
                            font-weight: 700;
                        }
                        input.form-control[readonly]{
                            background:#fff;
                        }
                        .semi-annual-mortgage-monthly-total, .monthly-total{
                            font-weight: bold;
                            font-size: 16px;
                            color:#0093e8;
                        }

                    }

                }
            }
        }
        .section-right {
            table{
                tbody{
                    tr{
                        color:#8a8a8a;
                    }
                }
            }

            margin-top:15px;
            .col-sm-12{
                .right-head{
                    margin-bottom: 0;
                }
            }
            #custom-button{
                #goal-specific-continue {
                    border: 0;
                    border-radius: 3px;
                    color: #fff;
                    font-family: Lato;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    width: 150px;
                    padding: 12px 35px;
                    background-color: #2179EE;
                    text-decoration: none;
                    margin: 100px 0px 0px 126px;
                }
            }
            .acc-categories{
                .col-sm-12{
                    .selected{
                        background-color: #2079ee;
                        color:#fff;
                        .nested-div{
                            .position-absolute{
                                i{
                                    color:#fff;
                                }
                            }
                        }
                    }
                    .taxselected{
                        background-color: #2079ee;
                        color:#fff;
                        .nested-div{
                            .position-absolute{
                                i{
                                    color:#fff;
                                }
                            }
                        }
                    }
                    .acc-name{
                        border: 1px solid lightgrey;
                        border-bottom-right-radius: 3px;
                        border-bottom-left-radius: 3px;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        width: 117px;
                        margin-right: 15px;
                        margin-top: 15px;
                        padding-left:0px;
                        padding-right:0px;
                        .nested-div {
                            overflow: hidden;

                            height: 65px;
                            margin: 0 10px;
                            padding-top: 18px;
                            .position-absolute{
                                /*                                top: 30px;*/

                                text-align: center;
                                i {
                                    font-size: 8px;
                                    color:rgb(156, 156, 156);
                                    display: inline-block;
                                    margin-top: -16px;
                                    float: left;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                }
                                p {
                                    font-size: 12px;
                                    padding-left: 10px;
                                    line-height: 19px;
                                    padding: 0 15px 13px 10px;
                                    margin: 0;
                                }
                            }
                        }

                    }
                    .marital_status
                    {
                        width: 123px! important;
                    }
                }
            }
            .table-width {
                width: 100% !important;
                float: left;
            }
            .first-match {
                float: left;
                width: 100% ;
                label {
                    width: 100%;
                    padding-top: 15px;
                }
                .first-input {
                    float: left;
                    width: 25% ;
                    input{
                        height: 47px;
                        width: 90px;
                    }
                    p {
                        display: inline;
                    }
                }
                .second-input {
                    float: left;
                    width: 50% ;
                    input{
                        height: 47px;
                        width: 90px;
                    }
                    p{
                        display: inline;
                    }
                }

            }


            .checkbox-custom-label{
                position:relative;
                input {
                    width: 24px;
                    height: 24px;
                    float: left;
                    margin: 3px 11px 0 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    &:checked{
                        &~.checkbox-icon{
                            &::after {
                                content: "";
                                position: absolute;
                                left: 7px;
                                top: 1px;
                                width: 7px;
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                                height: 16px;
                                border-right: 2px solid #707070;
                                border-bottom: 2px solid #707070;
                                border-radius: 2px;
                                visibility: visible;
                            }
                        }
                    }
                }
                .checkbox-icon{
                    width: 21px;
                    height: 21px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    visibility: visible;
                    border: 1px solid #a2a2a2;
                    float: left;
                    margin: 3px 11px 0 0;
                }
                span:not(.checkbox-icon){
                    width: calc(100% - 43px);
                    display: inline-block;
                    padding-left: 12px;
                }

            }
            /*margin-top: 50px;*/
            padding:0;

            .type-of-trustee, .number-of-trustees, .selectable {
                .trustee {
                    float: left;
                    text-align: center;
                    width: 100%;
                    a {
                        color: #403f3f;
                    }
                    .options{
                        float: left;
                        width: 45%;
                        .select-trustee {
                            border: 1px solid #b0b0b0;
                            padding: 16px 0;
                            background-color: #fff;
                            min-height: 85px;
                            line-height: 43px;
                            vertical-align: middle;
                            margin-right: 15px;
                            width: 90%;
                            color: #000;
                            float: left;
                            border-radius: 4px;
                        }

                        &.selected{
                            .select-trustee {

                                color: #ffffff;
                                cursor:  pointer;
                                background-color: #2179ee;
                                border: 1px solid #2280ad;
                                color: #fff;

                            }
                        }
                    }

                    .disability-insurance-term {
                        float: left;
                        width: 44%;
                        .select-trustee {
                            min-height: 69px;
                            line-height: 50px;
                            padding: 6px 7px;
                        }
                        .medicare-options {
                            margin-right: 12px;
                            border-color: #2279ee;
                            color: #2279ee;
                            p {
                                padding: 18px 24px;
                                background-color: #fff;
                                border:1px solid #2279ee;
                                min-height: 6px;
                                border-radius: 4px;
                                #advantage{
                                    margin-left: -16px;
                                    font-size: 7px;
                                    position: absolute;
                                    color:#2279ee;
                                }
                            }
                            .custom-styling {
                                padding: 18px 10px;

                            }
                            /*width: 35%;*/
                        }
                        .long-term-insurance {
                            width: 100%;
                            p {
                                padding: 21px 31px;
                            }
                            .custom-height {
                                padding: 30px 43px;
                            }
                        }

                        &.selected-option{
                            .purchased, .long-term-insurance, .medicare-options {
                                p {
                                    color: #ffffff;
                                    cursor:  pointer;
                                    background-color: #2279ee;
                                    border:1px solid #2279ee;
                                    color: #fff;
                                    #advantage{
                                        margin-left: -16px;
                                        font-size: 7px;
                                        position: absolute;
                                        color:#fff;
                                    }
                                }
                            }
                        }
                    }
                    .insurance-type {
                        width: 45%;
                        float: left;
                    }
                    .medicare-parts {
                        width: 12%;
                    }
                    .long-term-insurance-parts{
                        width: 22%;
                        float: left;
                        border: 1px solid;
                        padding: 16px 10px;
                        min-height: 77px;
                        border-radius:4px;

                        &.selected-option{
                            color: #ffffff;
                            cursor:  pointer;
                            background-color: #2179ee;
                            border:1px solid #1098cc;
                            color: #fff;
                        }
                    }
                    .type-policy{
                        width:50%;
                        border:0;
                        float:left;
                        padding: 10px 10px;
                        min-height: 77px;
                        border-radius:4px;
                        &.selected-option{
                            color: #ffffff;
                            cursor:  pointer;
                            background-color: #2179ee;
                            border:1px solid #1098cc;
                            color: #fff;
                        }
                        .select-trustee{
                            max-height:68px! important;
                            padding-top: 15px;

                        }
                    }
                    .custom-margin{
                        margin: 0 15px;
                    }
                }
            }

            .number-of-trustees{
                .trustee{
                    a.options{
                        .select-trustee{
                            line-height: 50px;
                        }

                        &:last-child{
                            .select-trustee{
                                line-height: 50px;
                            }

                        }
                        &:first-child{
                            .select-trustee{
                                p{
                                    line-height: 23px;
                                }
                            }
                        }

                    }
                }
            }
            .categories{
                width: 100%;
                vertical-align: middle;
                float: left;
                padding: 8px 0;
                border-bottom: 1px solid #a2a2a2;
                line-height: 13px;
                .headings  {
                    padding:0;

                    h4 {
                        text-transform: uppercase;
                        font-size: 11px;
                        padding:0 0 0 8px;

                    }
                    p {
                        padding-left: 30px !important;                 
                    }
                }
                .status {
                    margin: 11px 0;
                    text-align: right;
                    padding: 0;
                    float:right;
                    a {
                        color: #2b2b2b;
                        text-align: right;
                        background-color: #e2e2e2;
                        border-radius: 2PX;
                        padding: 4px 13px 5px 13px;
                        font-size: 12px;

                    }
                }
            }


            .alignment {
                width: 100%;
                float: left;
                .small-error{
                    .inner-left{
                        width: 100% !important;
                        .error-alert{
                            padding: 5px;
                            font-size: 12px;
                        }
                    }
                }
                .inner-left{
                    width: 65% !important;
                }
                .state-select {
                    width: 34% !important;
                    .selectboxit-enabled  {
                        width: 79px !important;
                    }
                }

                .right-side {
                    width: 50%;
                    margin-top: 14px;
                    float: right;
                    label {
                        width: 100%;
                    }
                }
                .left-side {
                    label {
                        width: 100%;
                    }
                }

            }
            .partner-charity{
                .selectboxit-list{
                    max-height: 111px! important;
                }

            }
            table {
                .error-alert {
                    display: block;
                    border-radius: 0px;
                    width: 263px !important;
                    margin-top: 0px !important;
                    float:left;
                    width: 300px;
                    border-radius: 0;
                    padding: 7px;
                    font-weight: 400;
                    padding-left: 15px;
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;
                }
            }
            width:365px;
            .information-table, #group-life-insurance-info, #contingent-beneficiary-info, #group-life-insurance-info0, #group-life-insurance-info1  {
                width: 100%;
                font-size: 14px;
                thead {
                    border-bottom: 1px solid;
                    tr {
                        td {
                            width:20%;
                        }
                    }
                }
                tbody {
                    word-break:break-word;
                    tr{
                        border-bottom: 1px solid;
                        td {
                            width:20%;
                            padding: 12px 4px;
                        }
                    }
                }
                .add-dependent, .contingent-beneficiary, .add-beneficiary{
                    background: transparent;
                    border: 1px solid #048cdc; 
                    color: #018aff;
                    margin-top: 24px;
                    border-radius: 3px;
                    padding: 0 12px 0 12px;
                }

            }

            .information-table{
                table {
                    tbody{
                        word-break:break-word;
                        tr{
                            td{
                                color:#676B72;
                            }
                        }
                    }
                }
            }

            .title {
                h4 {
                    border-bottom: 1px solid #949494;
                    padding-bottom: 5px;
                    font-size: 15px;
                    font-weight: 400;
                }
                h3 {
                    border-bottom: 1px solid #949494;
                    padding-bottom: 5px;
                    margin-top: 1px
                }
                .names {
                    ul {
                        li {
                            list-style: none;
                            font-size: 17px;
                            color: #79797A;
                            padding-left: 25px;
                        }
                    }
                }
            }
            .amount{
                h4 {
                    border-bottom: 1px solid #949494;
                    padding-bottom: 5px;
                    text-align: right;
                    font-size: 16px;
                    font-weight: 400;
                }
                .value {
                    text-align: right;
                    ul {

                        li {
                            list-style: none;
                            font-size: 16px;
                            color: #79797A;
                            padding-right: 25px;
                        }
                    }
                }
            }
            .add-child {
                padding-top: 0 !important;
                label{
                    width:100%! important;
                }
                padding-top: 25px;
                table {
                    width: 100%;
                    thead {

                        border-bottom: 1px solid #bbb3b3;
                    }
                    tbody {
                        word-break:break-word;
                        width: 100%;
                        tr{
                            td {
                                border-top: 1px solid #bbb3b3;
                                padding: 17px 10px;
                                border-bottom: 1px solid grey;
                                /*                                width: 33%;*/
                                position: relative; 
                                .fa-pencil {
                                    /*                                    position: absolute;
                                                                        right: 17px;
                                                                        top: 20px;*/
                                    margin-right: 10px;
                                    cursor: pointer;
                                }
                                .fa-trash{
                                    cursor: pointer;
                                }

                            }


                        }
                        tr, .children-info {
                            td {
                                /*width: 50%;*/

                            }
                            .right-align{
                                text-align:right;
                            }
                        }
                    }
                }
                .add-dependent {
                    background: transparent;
                    border: 1px solid #048cdc;
                    color: #018aff;
                    margin-top: 24px;
                    border-radius: 3px;
                    padding: 0 20px 0 20px;
                }
            }
            .add-file {
                width: 100%;
                table {
                    width: 100%;
                    thead {
                        border-bottom: 1px solid #bbb3b3;
                        td{
                            padding:0;
                            &:first-child{
                                padding-left:0px;
                            }
                        }

                    }
                    tbody {
                        word-break:break-word;
                        width: 100%;
                        tr {
                            border-bottom: 1px solid #bbb3b3;

                            td {
                                padding: 11px 0 11px 10px;
                                .document-name {
                                    border: none;
                                    outline: none;
                                    width: 65%;
                                    padding:5px;
                                    background: transparent;
                                }
                                i {
                                    font-size: 20px;
                                    padding-right: 7px;
                                }
                            }
                        }

                        tr.fileUploadRow{
                            float: none;
                            td{
                                float: none !important; 
                                padding: 7px;
                                &:nth-child(2n){
                                    position: relative;
                                }
                                &:nth-child(3n){
                                    padding-right: 14px;
                                }
                                .error-alert{
                                    position: absolute; 
                                    top: 7px; 
                                    left: 130px; 
                                    padding: 4px 10px !important;
                                    width: 150px !important;
                                    z-index: 100;
                                }
                            }
                        }
                    }
                }
            }
            .add-file-btn label{
                border: 1px solid #1d99d4;
                border-radius: 0px;
                padding: 0px 16px;
                color: #1d99d4;
                /*margin-top: 40px;*/
                border-radius:3px;
                box-shadow: none;
            }
            .add-file-btn {
                padding:0;
                border-radius:3px;
            }

            .inner-left {
                label.error {
                    width: 263px!important;
                }
                .semi-annual-negatively-amortize, .negativelyAmortize{
                    max-height:163px !important;
                }
                .upload-account-statment{
                    background: transparent;
                    border: 1px solid #048cdc;
                    color: #018aff;
                    width: 35%;
                    border-radius: 3px;
                    padding: 2px;
                    margin-top: 12px;
                }
                /*                .otherAccounts{
                                    border: none;
                                    border-bottom: 1px solid #bbb3b3;
                                    padding-bottom: 0px !important;
                                    padding-left: 0px !important;
                                }*/
                .ques-head{
                    font-weight:300;
                    font-size: 11px;
                    color:#000;
                }
                margin-top: 15px;
                width:100%;
                position: relative;

                .trading-types {
                    a.option-trading{
                        color:#000;
                    }
                    .trading-options{
                        width: 36%;
                        float: left;
                        padding: 6px;
                        text-align: center;
                        border:1px solid #aeaeae;
                        margin: 6px;
                        min-height: 76px;
                        border-radius: 4px;

                        a{
                            color:#000;
                            p{
                                font-size: 11px;
                                color:#000;
                            }
                        }
                        &.selected-type {
                            border:1px solid #0089ff;
                            background-color: #0089ff;
                            a{
                                color: #fff;


                            }
                        }
                    }
                }


                .policy-description {
                    width: 263px;
                    border-radius: 0;
                }
                .coverage-limits {
                    input {
                        width: 25%;
                        border: 0;
                        border-bottom: 1px solid #bcbaba;
                        padding-bottom: 0;
                        margin-right: 6px;
                        margin-bottom: 5px;
                        &:focus{
                            outline:none;
                        }
                    }
                    .coverage-input{
                        width: 25%! important;
                        margin-right: 0px;
                    }
                }
                .coverage-limits-title {
                    p {
                        font-size: 10px;
                        font-weight: 400;
                        color: black;
                        width: 28%;
                        line-height: 9px;
                        text-align: center;
                    }
                }

                .label-error{
                    margin-top: 0!important;
                }
                select {
                    display: block!important;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    padding: 0;
                    border: 0;
                }
                .error-alert {
                    display: block;
                    border-radius: 0px;
                    width: 263px !important;
                    margin-top: 0px !important;
                    float:left;
                    width: 100px! important;
                    border-radius: 0;
                    padding: 7px;
                    font-weight: 400;
                    padding-left: 15px;
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;
                }
                .label.error{
                    display: block;
                    border-radius: 0px;
                    width: 263px !important;
                    margin-top: 0px !important;
                    float:left;
                    width: 300px;
                    border-radius: 0;
                    padding: 7px;
                    font-weight: 400;
                    padding-left: 15px;
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;
                }
                .total-calc {
                    text-align: right;
                    float: right !important;
                }

                label {
                    width: 83%;
                    font-weight: normal;
                    font-size: 14px;
                }
                input[type='text'],input[type='date'],input[type='number'],  input[type='textarea'], input[type='email'] {
                    width: 263px;
                    margin-right: 26px;
                    margin-bottom: 0px !important;
                    padding: 12px 12px 15px 12px;
                    height: 48px;
                    border-radius: 0;
                    font-size: 16px;
                    padding-left: 14px;
                    box-shadow: none;


                }
                textarea.CPMNonRawLandLandProceeds{
                    width:259px;
                    height:111px; 
                    margin-bottom: 25%;
                    border-radius: 0;
                    resize:none;
                }
                input[type='number'] {
                    text-align: right;
                    padding: 12px 20px 15px 12px !important;
                    color: #0093e8;
                }
                .total-input {
                    background: transparent;
                    border: none;
                    border-top: 1px solid #666666;
                    text-align: center;
                }
                input[type='radio'] {
                    width: 15px;
                    /*margin-left: 25px;*/
                }


                input[type='textarea'] {
                    height: 100px;
                }
                .fa-dollar {
                    position: absolute;
                    left: 27px;
                    z-index: 1;
                    top: 45px;
                    font-size: 15px;
                    color: #191818;
                    margin-left: 2px;
                }
                .fa-dollar-bottom {
                    position: absolute;
                    left: 27px;
                    z-index: 1;
                    top: 61px;
                    font-size: 15px;
                    color: #191818;
                    margin-left: 2px;
                }
                .fa-dollar-top {
                    position: absolute;
                    left: 27px;
                    z-index: 1;
                    top: 81px;
                    font-size: 15px;
                    color: #191818;
                    margin-left: 2px;
                }
                .tax-refund{
                    .tax-refund-type {
                        width: 36%;
                        float: left;
                        text-align: center;
                        border: 1px solid #ccd0d2;
                        padding: 13px;

                        &.refund-selected {
                            background-color: #0089ff;
                            p {
                                color:#fff;
                            }
                        }
                        a{
                            color:inherit;
                            p{
                                font-weight: normal;
                            }
                        }

                    }
                }
                /*owner modal*/
                .modal-categories{
                    .col-sm-12{
                        padding:0;
                        .selected, .phoneselected, .maritalselected, .docselected, .taxselected{
                            background-color: #2079ee;
                            color:#fff;
                            .nested-div{
                                .position-absolute{
                                    i{
                                        color:#fff;
                                    }
                                }
                            }
                        }
                        .phone{
                            width:77px! important;
                        }
                        .marital_status, .doc{
                            width:123px! important;
                        }
                        .acc-name{
                            border: 1px solid lightgrey;
                            border-bottom-right- : 3px;
                            border-bottom-left-radius: 3px;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                            width: 117px;
                            margin-right: 15px;
                            margin-top: 15px;
                            padding-left:0px;
                            padding-right:0px;
                            .nested-div {
                                overflow: hidden;
                                height: 60px;
                                margin: 0 10px;
                                padding-top: 20px;
                                .position-absolute{
                                    text-align: center;
                                    p {
                                        font-size: 12px;
                                        padding-left: 10px;
                                        line-height: 19px;
                                        padding: 0 15px 13px 10px;
                                        margin: 0;
                                    }
                                }
                            }

                        }

                    }
                }
            }
            .textarea-inner-left{
                label{
                    font-weight: 600! important;
                }
            }
            .additional-notes {
                textarea {
                    width: 100%;
                    height: 160px;
                    border-radius: 0;
                }
            }
            .label-width {
                label {
                    width: 61%;
                }
                span {
                    font-size: 11px;
                    color: #ababab;
                }
                textarea {
                    width: 263px;
                    height: 96px;
                    border-radius: 0;
                }
            }

            .other-amount-description{
                margin: 20px 0;
                label {
                    float: none !important;
                }
            }


            // edited by vishal onb 27062018
            .mortgage-tabed{
                float:left;
                width:100%;
                h2{
                    margin-top: 0;
                    font-size: 16px;
                    font-weight:400;
                    margin-left: 0;
                    margin-bottom: 15px;
                }
                .mortgage-nav{
                    float: left;
                    width:100%;
                    list-style: none;
                    li{
                        float: left;
                        width:19%;
                        margin-bottom: 5px;
                        &:nth-child(4n+3){
                            a{
                                line-height:normal;

                            }
                        }
                        a{
                            float: left;
                            color: #2179ee;
                            margin-right: 12px;
                            border: solid 1px #2179ee;
                            border-radius: 4px;
                            margin-right: 8px;
                            text-align: center;
                            min-height: 32px;
                            padding: 11px 5px;
                            width: calc(100% - 10px);
                            font-size: 13px;
                            font-weight: normal;
                            line-height: 32px;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                    .active{
                        a{
                            background:#2179ee;
                            color:#fff;
                        }
                    }

                }
            }
            .loan-term-step{
                ul.mortgage-nav{
                    li{
                        width:27%;
                        a{
                            width: calc(100% - 20px);
                            margin-right: 20px;
                        }
                        &:nth-child(3n+3){
                            a{
                                line-height:34px
                            }
                        }

                    }
                }
            }
            .latest-statement{
                width: calc(100% - 20%);
                float:left;
                h2{
                    margin-top: 0;
                    font-size: 16px;
                    font-weight:400;
                    margin-left: 0;
                    margin-bottom: 15px;
                }
                .inlineinput{
                    width:100% !important;
                }
                .error-alert{
                    width:100%;
                }
            }
            // editing finish by vishal on   27062018


        }
        /*        .modal-outer-div{
                    .inner-left{
                        width:100%;
                        label, input{
                            width:100% !important;
                        }
                    }
                }*/


        .checkCalculations {
            .inner-left {

                label {
                    width:48%;
                }
                input[type='number'] {
                    margin-right: 0 !important;

                }
            }

        }
        .error-placement {
            .inner-left {
                label {
                    margin-bottom: 28px;
                }
                .error-alert {
                    float: right;
                    margin-bottom: 0;
                }
            }
            #mortgage-modal {
                label {
                    padding-left: 27px;
                    line-height: 15px;
                    margin-bottom: 15px;
                    padding-top: 12px;
                }
                .total-calc {
                    width: 50% !important;
                }
            }
        }

        .save-file-section {
            margin-top: 35px;
            padding:0;

            .progress {
                height: 8px;
                width: 142px;
                margin-bottom: 15px;
            }
        }
    }
    .section-size {
        padding: 0 40px;
        width: 600px!important;
        .inner-left {
            width: 51% !important;
        }
        .textarea-inner-left{
            width: 83%! important;
            label{
                font-weight: 6001 important;
            }
        }
        .custon-return{
            float: left;
            width: 100%;
            text-align: center;
            a {
                color: #7c7c7c;
                font-size: 14px; 
            }
        }
        .custon-continue-button {
            float:left;
            width:100%;
            text-align:center;
            a , button{
                border: none;
                border-radius: 3px;
                color: #fff;
                font-family: Lato;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                width: 150px;
                padding: 12px 35px;
                background-color: #2179EE;
                text-decoration: none;
                display: inline-block;
                margin-top: 65px;
            }
        }
    }
    .modal-alignment {
        float: none;
        margin: 0 auto;

    }
}
#student-info{
    position: relative;
    table {
        width:100%;
        tbody{
            word-break:break-word;
            tr{
                td{
                    .fa-pencil{
                        cursor: pointer;
                    }
                }
            }
            td {
                border-top: 1px solid #bbb3b3;
                padding: 17px 10px;
                border-bottom: 1px solid grey;
                width: 33%;
                position: relative; 
                .fa-pencil {
                    /*                                    position: absolute;
                                                        right: 17px;
                                                        top: 20px;*/
                    margin-right: 10px;
                }

            }
        }
        thead {
            td {
                border-bottom: 1px solid grey;
            }
        }
    }
}
.add-beneficiary {
    background: transparent;
    border: 1px solid #1d99d4;
    font-size: 12px;
    margin-top: 30px;
    color: #1d99d4;
}

#charity-info {
    thead {
        th {
            width:20%;
        }
    }
    tbody {
        word-break:break-word;
        td {
            width:20%;
        }
        .dependent-name{
            width:80%;
        }
    }
}

.add-student-modal {
    .validation-alert {

        .inner-left {
            .account-type-styling{
                float: left;
                width: 30%;
                border: 1px solid #c4c4c4;
                text-align: center;
                padding: 8px 0 6px 0;

                a {
                    color:  #9b9b9b;
                    p {
                        font-size: 11px;
                    }
                }
                &.selected-option{
                    cursor:  pointer;
                    background-color: #2179ee;
                    border:1px solid #1098cc;
                    a {
                        color: #ffffff;
                    }

                }
            }
            .custom-margin{
                margin: 0 13px;
            }
            .modalbutton {
                color: #fff;
                font-family: Lato;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                width: 150px;
                padding: 12px 35px;
                background-color: #2179EE;
                text-decoration: none;
                border: none;
                margin-left: 62px;
                margin-bottom: 40px;
            }
        }

        .error-alert {
            float: none!important;
        }
    }
}
.validation-alert {
    .account-details {
        padding:0;
    }
    .saving-account-details {
        padding:0;
    }
    .inner-left {
        .primary-option {
            float: left;
            width: 100%;
            .primary-select {
                display: inline;
                float: left;
                margin-right: 7px;
            }
        }
        .benefit-option{
            position: absolute;
            left: 52%;
            top: 0;
            .benefit-select{
                font-size:11px! important;
                font-weight:400;
            }
        }
        .upload-statment {
            border: 1px solid #00a1ff;
            border-radius: 4px;
            padding: 4px;
            font-size: 11px;
            width: 100px !important;
            color: #2c8cd0;
        }
        #retirement-statement {
            padding: 0;
            margin: 0;
            height: 0;

        }
        .modal-button {
            color: #fff;
            font-family: Lato;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            width: 150px;
            padding: 12px 35px;
            background-color: #2179EE;
            text-decoration: none;
            border: none;
            margin-left: 62px;
            margin-bottom: 40px;
        }
        label {
            width: 100%!important;
        }
        .mortgage-wrapper {
            float: left;
            width: 100%;
            .type-of-mortgage{
                width: 25%;
                padding: 6px;
                float: left;
                text-align: center;
                a{
                    p {
                        margin-bottom: 0;
                        padding: 14px 9px;
                        background-color: #fff;
                        text-align: center;
                        border-radius: 4px;
                        border: 1px solid #16b1fc;
                        font-size: 10px;
                        min-height: 53px;
                    }
                }
                &.mortgage-selected{
                    a{
                        p {
                            background-color: #0776d5;
                            color: #fff;
                        }
                    }
                }
            }
            .loan-term {
                width: 33%;
                padding: 6px;
                float: left;
                text-align: center;
                a{
                    p {
                        margin-bottom: 0;
                        background-color: #fff;
                        text-align: center;
                        border-radius: 4px;
                        border: 1px solid #16b1fc;
                        min-height: 53px;
                        padding: 15px 24px 0 24px;
                        font-size: 13px;
                    }
                }
                &.mortgage-selected{
                    a{
                        p {
                            background-color: #0776d5;
                            color: #fff;
                        }
                    }
                }
            }
        }



    }
    .append-input {
        .primary-beneficiary-wrapper {
            position: relative;
            padding-bottom: 17px;

            .primary-option {
                position: absolute;
                left: 69%;
                top: 0;
                .primary-select {
                    font-size: 11px;
                    font-weight: 400;
                }
            }
        }
    }
    .append-input1 {
        .primary-beneficiary-wrapper1 {
            position: relative;
            padding-bottom: 17px;

            .primary-option {
                position: absolute;
                left: 69%;
                top: 0;
                .primary-select {
                    font-size: 11px;
                    font-weight: 400;
                }
            } 
        }
    }

    .append-input2 {
        .primary-beneficiary-wrapper2 {
            position: relative;
            padding-bottom: 17px;

            .primary-option {
                position: absolute;
                left: 69%;
                top: 0;
                .primary-select {
                    font-size: 11px;
                    font-weight: 400;
                }
            } 
        }
    }

}
.fa-chaeck {
    font-size: 27px;
    color: #00a1ff;
}
.actions {
    /*padding-left: 260px;*/
    ul {
        text-align:left;
        padding-top: 0;
        padding-left: 0px;

        li {
            padding-left: 25px; 
            display:inline;
            &[aria-hidden=false]{
                display: inline-block!important;
            }

            a {
                padding-right: 70px;
            }
            a[href="#previous"].prev-btn-link{
                float: left;
                padding-left:36px;
                padding-right:10px !important;
            }
        }
    }
}

@media (max-width: 700px){
    .wrapper{
        .returnLater {
            left: 18%;
            float: left;
            top: 120px;
        }
        .actions{
            ul{
                padding-top: 0;
                float: left;
                width: 100%;
                li{
                    width:100%; 
                    float: left;
                    a{
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
}
.question-list-wrapper .questions-list .question-answer .selectboxit-container{
    width: 220px! important;
}
.selectboxit-container {
    width:263px;
    span {
        max-width: 100% !important;
        color: #555555!important;
        margin-right: 26px;
        margin-bottom: 18px;
        padding: 11px 12px 14px 12px;
        height: 48px;
        border-radius: 0;
        font-size: 15.5px!important;
        font-weight: 400;
        text-align: left;
        box-shadow: none;
        text-transform: inherit! important;
    }

    #custom-selectSelectBoxItText{
        text-align: right;
    }

    .selectboxit {
        border-radius: 0;
        border: 1px solid #ccd0d2;
        height: 48px;
        /*margin-bottom: 15px;*/
        width: 100% !important;
        margin-top: 0px;
        background: #fff;
    }
}
.selectboxit-text[data-val=""] {
    color: #b4b6b7! important;
    font-style: italic;
}
.selectboxit-container{
    margin-bottom: 0px! important;
}
#query_typeSelectBoxItContainer, #query_typeSelectBoxItText{
    margin-bottom: 0px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
bfd-dropfield-inner
input[type=number] {
    -moz-appearance:textfield;
}


.paddingLeft0{
    padding-left:0 !important;
}
.paddingRight0{
    padding-right:0 !important;
}

.bfd-ok{
    font-style: normal;
}
.file-uploader{
    @media (min-width: 768px){
        .modal-dialog {
            width: 380px;
            margin-top: 125px;
            .modal-body{
                padding:25px 40px
            }
            .modal-header{
                .close{
                    color: #fff;
                    opacity: 1;
                    text-shadow: rgb(255, 255, 255) 0px 0px;
                }
            }   
        }

        .bfd-progress{
            height:7px;
            .progress{
                height:7px;
            }
            .progress-bar{
                background: #0972bd;
            }
        }
        .bfd-info{
            width:100%;
            float: left;
            font-size:13px;
            margin-top:10px;
            display:none;
        }
        .bfd-progress{
            width:100%;
            float: left;
            margin-top:10px;
        }



    }

    .bfd-dropfield {
        display: inline;
        padding: 1px;
        float: left;
        width:100%;
        margin-top: 0;
    }

    .bfd-dropfield-inner {
        border:1px dashed #888;
        color: #888;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        padding: 11px;
        height: 130px !important;;
        padding-top: 78px !important;
        border-radius:5px;
        position:relative;
        margin-top:15px;
        em{
            color: #2179ee;
            font-style: normal;
        }
        &:before{
            content: " ";
            background-image: url(/img/upload-icon.png);
            width: 64px;
            height: 44px;
            float: left;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -32px;
            margin-top: -36px;
        }
    }
    .bfd-dropfield-inner.bfd-dragover {
        border-color: #bbb;
        color: #000;


        .bfd-info {
            overflow: hidden;
            white-space: nowrap; }

        .bfd-error-message {
            text-align: center; }

        .bfd-remove {
            cursor: pointer; }
    }
    .bfd-files{
        padding-left:0; 
        padding-right: 0;
        .form-control {
            margin-bottom: 0;
        }
        .row{
            margin-left: 0;
            margin-right: 0;
        }
        .inner-left{
            width:100%;
            float: left;
            margin-bottom:0;
        }
        .uploadedfile{
            display: none
        }
    }
}
.fileUploadRow{
    width:100%;
    /*float: left;*/    
    padding-bottom:10px;
    padding-top: 10px;
    border-bottom: 1px solid #bbb3b3;
    .selectAngle{
        position: absolute; 
        right: 35.5%; 
        z-index: 11; 
        top:16px; 
        opacity:.5;  
        font-size: 16px !important; 
    }
    select{
        padding: 3px 6px;
        width: 150px;
        padding-right:28px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border:0; 
        background-color: #fff;
        position:relative !important;
        &:focus{
            outline: none;
        }
    }
    select.fileSaved{
        font-weight:normal;
        opacity: .7;
        font-size: 15px;
        border:1px transparent solid;
        opacity : .7;
    }
    select.edit{
        border:solid #a9a9a9 1px !important;
        font-size: 13px;
    }
    .fa{
        font-size: 13px !important;
        margin-top: 8px;
    }
    .fa-angle-down{
        margin-top: 0
    }
    input{
        padding:3px 7px;
        border:0;
        font-weight:bold
    }
    input.fileSaved{
        font-weight:normal;
        opacity: .7;
        font-size: 15px;
        border:1px transparent solid;

    }
    input.edit{
        border:solid #a9a9a9 1px;
        font-size: 13px;
    }
}
.no-action{
    background: none !important;
    color : #b7b7b7 !important;
    border-color: #b7b7b7 !important;
    cursor: not-allowed !important;
}
#filedrag
{
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}
.modal-body{
    .setup-content{
        .section-right {
            .nextBtn, .finishBtn{ 
                border-radius: 3px; 
                background-color: transparent ;
                font-family: Lato; 
                font-size: 18px; 
                line-height: 24px; 
                text-align: center; 
                padding: 12px 0; 
                color: #2179EE; 
                text-decoration: none;  
                border: none; 
                margin-left: 62px; 
                margin-top: 40px; 
                float: right; 
                margin-bottom: 40px;
                outline:none;
                &:focus{
                    outline:none;
                }
                i.fa{
                    font-size: 15px; 
                    font-weight: normal; 
                    margin-left: 4px;
                }
            }

            .backBtn{
                border-radius: 3px; 
                color: #dedede; 
                font-family: Lato; 
                font-size: 18px; 
                float:left;
                line-height: 24px; 
                text-align: center; 
                outline:none;
                padding: 12px 0; 
                background-color: transparent !important;
                text-decoration: none;  
                border: none; 
                margin-left: 0; 
                margin-top: 40px; 
                float: left; 
                margin-bottom: 40px;
                &:focus{
                    outline:none;
                }
                i.fa{
                    font-size: 15px; 
                    font-weight: normal; 
                    margin-right: 4px;
                }
            }
            .modal-raw-land-table{
                #rawLand-info{
                    .assets-list{
                        .asset-input-amount, .asset-input-year{
                            &:focus{
                                outline:none;
                            }
                        }
                    }

                }
            }


        }
        .OptionSelection {
            width: calc(100% - 78%);
            float: left;
            margin-right: 7px;
            position: relative;
            .label{
                border: solid 1px #2179ee;
                color: #2179ee;
                margin-right: 12px;
                border: solid 1px #2179ee;
                border-radius: 4px;
                font-size: 13px !important;
                font-weight: normal;
                position: relative;
            }
            .married-selected {
                background-color: #2079ee;
                color: #fff;
            }
        }

        .loan-term-step {
            .OptionSelection {
                width: calc(100% - 71%);
                margin-right: 10px;
            }
        }
        #tax_not_paidl-error{
            width:100% !important; 
        }
        .mortgage-last-step{
            .latest-statement{
                .inner-left {
                    .error-alert{
                        width:100%;
                    }
                }
            }

        }

    }
}

.wrapper{
    .sections{
        .section-right{
            .inner-left{
                .select-trustee{
                    p{
                        margin-bottom: 0;
                        font-weight: normal;
                    }
                }
                .upload-centralize{
                    width: 83%;
                    text-align: center;
                }
                .here-open{
                    cursor: pointer;
                    color:#000000;
                }
                .click-here-open{
                    text-decoration: none;
                }
                .upload-last-year-info,
                .nursing-care-year-info,
                .other-long-term-care-info{
                    word-break: break-word;
                }
            }
            .has-error{
                input{
                    border:1px solid #ccd0d2
                }
            }
        }
    }
}
.ui-spinner-up::before{
    top: 34%;
    left: 250px;
    position: absolute;
    font-size: 21px;
    font-family: FontAwesome;
    content:"\f106" !important; 
    color: #979797 !important;
    text-decoration: none !important; 

}span.ui-icon.ui-icon-triangle-1-n {
    display: none;
} 

.ui-spinner-down::before{
    top: 20px;
    left: 250px;
    position: relative;
    font-family: FontAwesome;
    content:"\f107" !important;
    font-size: 21px;
    color: #979797 !important; 
    text-decoration: none !important;
}
.ui-spinner-up{position:absolute; top:46px;  left:0;}
.ui-spinner-down {position:absolute; top:46px;  left:0;}
.ui-spinner-down:hover{
    text-decoration:none !important;
}
span.ui-icon.ui-icon-triangle-1-s {
    display: none;
}

#modal-section{
    .sections{
        min-height: 0;
    }

}
.CPMNonRawLandLandProceeds{
    width:259px;
}

.OptionSelection{
    input[type=radio] {
        position: absolute; 
        /*visibility: hidden; 
        display: none;
        */-webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        top:0;
        &:focus{
            outline:none;
        }
    }
    .label{
        border:1px solid lightgrey; 
        display: inline-block; 
        cursor: pointer;
        font-size: 12px; 
        padding: 0;
        width:100% !important;
        text-align: center; 
        line-height: 60px; 
        border-radius: 3px; 
        background: #fff; 
        color: #403f3f;
        height: 60px;

    }
    .married-selected{
        background-color: #2079ee; 
        color: #fff;
    }
}
.marginTop0{
    margin-top: 0 !important;
}

.wrapper {
    .sections{
        .section-right {
            .add-file {
                table {
                    tbody {
                        word-break:break-word;
                        tr{
                            td{
                                padding: 0
                            }
                        }
                    }
                }
            }
            .small-dropdown {
                .selectboxit-list
                {
                    max-height: 111px !important;
                }
            }
        }
    }
}
#get-started-modal{
    .contact-form{
        form{
            .form-group{
                .service-question-custom-select{
                    width:10px! important;
                    option{
                        width:10px! important; 
                    }
                }
                .error-alert{
                    border-radius: 0;
                    padding: 7px;
                    font-weight: 400;
                    padding-left: 15px;
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;
                    width: 98% !important;
                }
            }
        }
    }
    .error-alert{
        border-radius: 0;
        padding: 7px;
        font-weight: 400;
        padding-left: 15px;
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
        width: 98% !important;
    }
}
#get-started-modal{
    .modal-dialog{
        #contact-modal-home{
            .form-control{
                .selectboxit-container {
                    width: 261px !important;
                }
            }
        }
    }
}


// responsive css starts
@media (min-width: 1167px){
    .wrapper {
        /*        .section-size{
                    padding: 0 40px;
                    width: 600px!important;
                }*/
    }
}
/*@media (max-width: 1167px){
    .wrapper{
        .sections {
            .section-right {
                margin-top: 15px;
                padding: 0;
                width: 100%;
                max-width: 500px;

            }
        }
    }
}*/

@media #{$tablet}{
    .selectboxit-container {
        display: block;
    }
    .wrapper{
        .sections {
            .section-right {
                max-width:80%
            }
        }
    }
    .actions{
        padding-left: 0;
    }
}

@media #{$mobile} {
    .wrapper {
        .sections {
            .section-right {
                width: 100% !important;
                margin-left: 0;
                .inner-left {
                    padding-left:0; 
                    select, .selectboxit, input[type='text'], input[type='date'], input[type='tel'], input[type='number'], input[type='textarea'], .inner-left input[type='email']{
                        width: 100% !important
                    }
                    .selectboxit-container {
                        display: block;
                        width:100%; 
                        span{
                            width: 100% !important;
                            margin-right: 0
                        }   
                    }
                    .fa-dollar-bottom{
                        top: 81px;
                        left:15px;
                    }
                    .fa-dollar{
                        top: 61px;
                        left:15px;
                    }
                }
                .add-file{
                    table{
                        tr{
                            td{
                                float: left;
                            }
                        }
                        tbody {
                            word-break:break-word;
                            tr.fileUploadRow {
                                float:left;
                                td{
                                    float: left !important;
                                    input.fileSaved{
                                        float : left; 
                                        width:100%;
                                    }
                                    &:nth-child(3n){
                                        padding-right:0;        
                                    }
                                }   
                            }
                        }
                    }
                }
                table{
                    padding-right: 15px;
                    tr.fileUploadRow{
                        display: table-cell;
                        td{
                            float: left !important;
                            .fa-angle-down{
                                top: 12px !important;
                                left: 88% !important;
                            }
                        }
                        select{
                            width:100%;
                        }
                        input{
                            width:100%;
                            float:left;
                        }
                    }
                }
            }
            .col-sm-12 {
                &:first-child{
                    padding-left:0;
                }
            }
            .section-left{
                margin-left: 0;
                padding-right: 0;
                p{
                    margin-bottom: 0; 
                }
                h6{
                    font-size: 12px;
                    font-weight: 600;
                    color: #B6BCC5;
                    letter-spacing: .8px;
                }
            }
        }
        .actions{
            padding-left: 0;
            float: left;
            width: 100%;
            ul{
                padding-top: 30px;
                li{
                    a[href="#previous"]{
                        margin-bottom: 10px;
                        padding-right: 0;
                        float: left;
                        width: 100%;
                    }
                }
            }
        }
    }
    .back-div {
        .client-header{
            width:100%;
            float: left;
            .heading{
                font-size: 15px;
                padding-left: 20px;
            }
            .actions-list{
                margin-top: 0;
                float: left !important;
                margin-left: 11px;
                padding-right: 0;
                width: 100%;
            }
        }
        .back{
            margin-bottom: 10px;
        }
    }
    .file-uploader{
        .modal-dialog{

            .modal-content, .modal-footer, .modal-body{
                float: left;
                width:100%;
            }
            .modal-body{
                .progress{
                    margin-bottom: 0;
                }
                .inner-left{
                    input{
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

.file-uploader{ 
    width: 100%
}
.wrapper{
    .js{
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .inputfile + label {
            max-width: 80%;
            font-size: 1.25rem;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
        }

        .inputfile:focus + label,
            .js .inputfile.has-focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }

        .inputfile + label svg {
            width: 1em;
            height: 1em;
            vertical-align: middle;
            margin-top: -0.25em;
            margin-right: 0.25em;
        }

        .inputfile-2 + label {
            background: transparent;
            border: 1px solid #1d99d4;
            font-size: 12px;
            color: #1d99d4;
        }

        .inputfile-2:focus + label,
            .inputfile-2.has-focus + label,
            .inputfile-2 + label:hover {
            color: #1d99d4;
        }

        @media screen and (max-width: 50em) {
            .inputfile-6 + label strong {
                display: block;
            }
        }
    }
    .sections{
        .modal-content {
            .no-js .inputfile + label {
                display: none;
            }
            .js{
                .inputfile {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }

                .inputfile + label {
                    max-width: 80%;
                    font-size: 1.25rem;
                    font-weight: 700;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    display: inline-block;
                    overflow: hidden;
                    padding: 0.625rem 1.25rem;
                }

                .inputfile:focus + label,
                    .js .inputfile.has-focus + label {
                    outline: 1px dotted #000;
                    outline: -webkit-focus-ring-color auto 5px;
                }

                .inputfile + label svg {
                    width: 1em;
                    height: 1em;
                    vertical-align: middle;
                    margin-top: -0.25em;
                    margin-right: 0.25em;
                }

                .inputfile-2 + label {
                    background: transparent;
                    border: 1px solid #1d99d4;
                    font-size: 12px;
                    color: #1d99d4;
                }

                .inputfile-2:focus + label,
                    .inputfile-2.has-focus + label,
                    .inputfile-2 + label:hover {
                    color: #1d99d4;
                }

                @media screen and (max-width: 50em) {
                    .inputfile-6 + label strong {
                        display: block;
                    }
                }
            }


            .setup-content{
                width:49%; 
                margin: auto;
                label.error, label{
                    width:100% !important;
                }
                .selectArrow{
                    position: absolute;
                    right: 34px;
                    z-index: 0;
                    top: 44px;
                    font-size: 16px;
                }
                /*                .selectboxit-container{
                                    &:after{
                                        content: "\a"
                                    }
                                }*/
                .latest-statement{
                    width:100%;
                }
            }
            .selectArrow{
                position: absolute;
                right: 34px;
                z-index: 0;
                top: 44px;
                font-size: 16px;
            }
            .section-right{
                width:100% !important;
                label, label.error{
                    width:100% !important;
                }
                .input-group{
                    margin:0 !important; 
                    padding: 0 !important
                }
            }
            .section-right {
                .mortgage-tabed{
                    padding: 0 15px;
                }
                .inner-left{
                    .input-group{
                        input[type=text].borderLeft0, input[type=number].borderLeft0{
                            border-left:0 !important; 
                            padding-left:0 !important
                        }

                        input[type=text].borderRight0, input[type=number].borderRight0{
                            border-right:0 !important; 
                            padding-right:0 !important
                        }
                    }

                    input[type=text], input[type=number]{
                        padding:12px 15px  !important; 
                        margin-right: 0 !important; 
                        width:100% !important;
                        height:auto !important;
                    }
                    .error-alert{
                        width: 100%! important;
                    }
                    .selectboxit-container{
                        .selectboxit{
                            width: 100%! important;
                        }
                        /*                        .selectboxit{
                                                    width:263px! important;
                                                }*/
                    }
                }
                .input-group{
                    width:100%;
                    .input-group-addon{
                        background:none; 
                        border-radius:0;
                    }
                    .fa-dollar{
                        position: inherit !important; 
                        margin-left:0 !important;
                    }
                }
                .premium_box{
                    i{
                        position: absolute;
                    }
                    p{
                        z-index: 2000! important;
                        left:40%! important;
                    }
                    input[type=number]{
                        border-left: 0px;
                        width: 30%! important;
                        height: 48px! important;
                        margin-left: 22px;
                        position: absolute;
                        z-index: 1000;
                        border-right: 0px;
                        border-top: 1px solid #ccd0d2;
                        border-bottom: 1px solid #ccd0d2;
                        &:focus{
                            outline:none;
                        }
                    }
                }






            }
        }
        .col-sm-12{.section-right{
                       .selectArrow{
                           position: absolute;
                           /*right: 50px;*/
                           z-index: 0;
                           /*                           top: 87px;*/
                           font-size: 16px;
                       }
                       .serviceSelectArrow{
                           position: absolute;
                           right: 50px;
                           z-index: 1;
                           top: 67px;
                           font-size: 16px;
                       }
                   }
        }
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.find-table-length{
    tbody{ 
        word-break:break-word;
        tr{
            td{
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {

    .wrapper .sections .section-right .categories .headings h4 {
        float:left;
        display:inline;
    }
}

.upload-statment-noclick{
    cursor: not-allowed;
}

.loader {
    float: left;
    width: 100%;
    padding-top:50px;
    .half-size {
        margin:auto;
        height: 28px;
        width: 56px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 0;
        background: #0695ff;
        border-bottom-left-radius: 0;
        -webkit-animation: 1s linear infinite rotate;
        animation: 1s linear infinite rotate;
        transform-origin: 50% 100%;
        position: absolute;
        top: 28px;
    }

    .rotate {
        animation: 1s linear infinite rotate;
        position: relative;
        transform-origin: 50% 100%;
    }

    .top {

        margin:auto;
        height: 28px;
        width: 56px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 0;
        background: e7e7e7;;
        border-bottom-left-radius: 0;
        transform-origin: 50% 100%;
    }
    .bottom {
        margin:auto;
        height: 28px;
        width: 56px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        background: e7e7e7;;
        transform-origin: 50% 100%;
    }
    .top-small {
        margin:auto;
        height: 25px;
        width: 50px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 0;
        background: #fff;
        border-bottom-left-radius: 0;
        transform-origin: 50% 100%;      
        position: relative; 
        top:-53px;
    }
    .bottom-small{
        margin:auto;
        height: 25px; 
        width: 50px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        background: #fff;
        transform-origin: 50% 100%;
        position: relative;
        top:-53px; 
    }
}


.lds-dual-ring {
/*    display: inline-block;
    width: 0px;
    height: 0px;
    position: absolute;
    right: 12%;
    top: 35px;
    z-index: 100;
    background: #fff;
    width: 30px; 
    height: 30px;*/
}
.lds-dual-ring:after {
/*    content: " ";
    display: block;
    width: 27px;
    height: 27px;   
    margin: 1px;
    border-radius: 50%;
    border: 3px solid #0093e8;
    border-color: #0093e8 transparent #0093e8 transparent;
    animation: lds-dual-ring 1.2s linear infinite;*/
}

.selectboxit-container .selectboxit-btn.selectboxit-enabled {
    background-color: transparent;
}
.selectboxit-container .selectboxit-btn.selectboxit-enabled:hover {
    background-color: transparent;

}
@media (max-width:768px){
    .lds-dual-ring{
        left: 7px; 
        bottom: auto;
        top:36px; 
    } 
    .section-size {
        .inner-left {
            width: 100% !important;
        } 
    }
}

@media screen and (max-width: 1100px) and (min-width: 769px) {
    .lds-dual-ring{
        left: 25px;
        bottom: auto;
        top:36px;
    }
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}