@import "../../plugin/owl.carousel.min.scss";

.get-started {
    .heading{
        font-weight: bold;
        font-size: 25px;
        padding: 7px 0px;
        color: #000;
    }
    p {
        font-weight: bold;
        font-size: 18px;
        color: #000;
        span {
            color: #2179ee;

        }
    }
    .grey-active-service {

        font-size: 14px;
        a{  
            color: #c5cad0;
            font-weight: 100;
            padding-left: 0;
            cursor: pointer;
            &.active{
                color:#000;
            }
            &:active,&:focus{
                text-decoration: none;
            }
        }
        a:hover  {
            color: #2179ee;
        }

        span {
            padding-left: 16px;
            font-weight: 100;
        }
    }
}
.service-name {
    margin-right: 15px;
    padding: 0 15px;
    .previous {
        width:25px;
        float:left;
        background-color:#f5f9fc;
        height: 115px;
    }
    .service-options{
        width:calc(100% - 50px);
        float:left;   
        .recommended {    
            font-size: 10px;
            color: #2179ee;
        }
    }
    .next {  
        width:25px;
        float:left;
        background-color: #f5f9fc;
        height: 115px;
    }
    .nested-div {
        position: relative;
        height: 115px;
        background-color: #f5f9fc;
        padding: 0 15px;
        .position-absolute{
            top: 40%;
            position: absolute;
            i {
                font-size: 10px;  
                color: #2179ee;
                display: inline-block;
                margin-top: -16px;
                float: left;
            }
            p {         
                font-size: 16px;
                line-height: 19px;
                padding: 0 15px 15px 0px;
                margin:0;
            }
            h4 {
                font-size: 18px;
                color: #131111;
                font-weight: 700;
            }
        }
    }
    .bg-blue {
        background-color:#2179ee;
        color: #fff;
        a {
            color: #fff !important;
        }
    }
    .p-inc-height {
        padding-top: 33px;
        color: #b6bcc4;
    }  
}
.open-service-name {
    .row {
        margin-right: 45px;
        .left-div {
            background-color: #f5f9fc;
            margin: 0 15px;
            padding: 5px 0px !important;
            color: #30363e;
            float:left;
            width:100%;
            height: auto;
            recommended-service-div{
                padding: 15px 25px 30px 25px !important; 
            }
            a.get-started-btn {  
                font-size: 15px;  
                color: #2179ee;
                float: right;
                background-color: #2179ee;
                margin-bottom: 15px;  
                letter-spacing: 1px;
                margin-right: 40px;
                font-weight: 600;
                color: #fff;
                font-size: 16px;
                padding: 13px 44px;
                border: 1px solid #2179ee;
                border-radius: 3px;      
            }
            a:hover {
                background-color: #0863de;
            }
        }  
        .pd-left {
            padding-left: 25px;
        }
        i {
            font-size: 15px;  
            color: #2179ee;
        }
        h2 {  
            font-size: 25px;
            margin-top: 0;
            font-weight: bold;
            color: #000;
            border: 0;
            line-height: 0.7;
            padding-bottom: 0;
        }
        h5 {
            font-size: 16px;
            margin-top: 30px;
            font-weight: bold;
            margin-bottom: 0;
            color: #000;
        }  
        p{
            font-size: 16px;
            padding: 0;
            font-weight: 400;
            color: #73777e;
        }
    }   
}     
.service-options.owl-carousel{
    margin-bottom: 40px;
    .owl-prev{
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(0,-50%);
    }
    .owl-prev.disabled{
        opacity: 0;
    }
    .owl-next{
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translate(0,-50%);
    }
    .owl-next.disabled{
        opacity: 0;
    }
    .active-list,.products-list{
        cursor:pointer;
        padding: 0 15px !important;
        &.selected{
            .nested-div{
                background-color: #2079ee;
                i,p{
                    color:#fff;
                }
            }
        }
        &.empty{
            .nested-div{
                background-color: #f5f9fc;
                p{
                    color: #000;
                }
            }
        }
    }
}
/*services-page-changes*/
.slide-left,.slide-right {
    color: #999999;
}

/*active-services */
.active-services {
    .left-div {
        margin-left: -15px;
        .pending-items,.documents-list {
            background-color: #f5f9fc;  
            border: 1px solid #d3e0e9;
            h2{
                margin-top: 0;
                margin-bottom: 5px;
            }
            .no-doc-message{
                display:none;
            }
        }
        .pending-items {
            padding:15px 15px;
            margin-bottom:30px;
            ul {
                list-style: none;
                padding-left:0;
                margin-bottom: 0;
                li { 
                    a{
                        cursor:pointer;
                        color:#000;
                    }

                }
            }
        }
        .documents-list {
            padding:15px 15px;
            .border-bottom  {
                border-bottom: 1px solid #eaedef;
                padding-bottom: 10px;
                a {
                    cursor:pointer;
                    color:#000;
                    .red-box {
                        background-color: red;
                        width: 39px;
                        height: 39px;
                        display: inline-block;
                        text-align: center;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 16px;
                        padding-top: 6px;
                    }
                    .file-name {
                        padding-left: 15px;
                        font-size: 20px;
                    }
                }

            }
        }
    }
    .right-div {
        /*padding-right: 45px;*/
        .que-ans-list {
            background-color: #f5f9fc;
            padding-bottom: 95px;
            .panel-default{
                border-radius: 0 !important;
            }
            .panel-heading {
                background-color: #f5f9fc;
                border-radius: 0 !important;
            }
            button {
                float: right;
                background-color: #2179ee;
                margin-bottom: 15px;
                letter-spacing: 1px;
                margin-right: 30px;
                font-weight: 600;
                color: #fff;
                padding: 13px 44px;
                border: 1px solid #2179ee;
                border-radius: 3px;
                margin-top:10px;
                font-size: 17px;
                text-transform: uppercase;
            }
            button:hover {
                background-color: #0863de;
            }
        }
        #services-question-form {
            padding: 0;  
            margin:0;
            .sections {
                .section-left {
                    margin-left:0;
                    h2 {  
                        margin-top: 20px;
                    }
                    p {
                        font-size: 13px;
                        color: #000; 
                        font-weight: 400;
                    }
                }  
                .section-right {
                    margin-top: 0;
                    .inner-left {
                        input {
                            width: 100%;
                        }
                    }
                }
                .horizontal {
                    input {                                
                        min-height: 55px;
                        margin: 16px 20px 16px 0;
                        width: 45%;
                        float: none;             
                        font-family: inherit;
                        padding: 0 15px;
                    }
                    .headings {
                        width:50%;
                        .input-title {
                            display: inline; 
                            float: none; 
                            width: 0; 
                            margin-top: 0;
                            text-transform: capitalize;
                        }

                    }  
                }
            }
            .update-pan-card {
                h2 {
                    color: #000;
                }
            }
        }
    }
    .p-0 {  
        padding: 0;
    }
}
.red {
    background-color: red;
    height: 45px;
    width: 45px;
}
.service-preview {
    float:left;
    width:100%;
    position:relative;
    padding: 0 25px;


    i.fa {
        color: #796c70 !important;
    }
    a:hover {
        background-color: transparent !important;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .topic-list {
        list-style: none;
        padding-left: 0;
        padding-bottom: 20px;

        .single-topic{
            text-transform: uppercase;
            padding: 11px 0 8px 8px;
            font-size: 12px;
            border-bottom: 1px solid #d4d4d4;
            cursor: pointer;
        }

        .fa-angle-right{
            line-height: 20px;
            padding-right: 30px;
            font-size: 16px;
        }
    }
    .sub-topic-list {
        list-style: none;
        padding-left: 3%;
        padding-bottom: 20px;
        .single-sub-topic{
            text-transform: uppercase;
            padding: 11px 0 8px 8px;
            font-size: 12px;
            border-bottom: 1px solid #d4d4d4;
            cursor: pointer;
        }
        .fa-angle-right{
            line-height: 20px;
            padding-right: 30px;
            font-size: 16px;
        }
    }
}
.topic-section{
    float: left;
    width: 100%;
}
.pre-topic-questions{
    align-items: center;
    display: flex;
    i{
        margin-left: 20%;
    }
}
.sub-topic-section{
    float: left;
    width: 100%;
    padding: 0% 2% !important;
}
.question-section { 
    float: left;
    width: 100%;
    position: absolute;
    top: 47px;
    background-color: #f5f9fc;
    .topic-heading{
        line-height: 31px;
        margin-top: 2%;
        .back-to-topics , .back-to-your-family{
            line-height: 23px;
            margin: 0 34px 0px 17px;
            cursor: pointer;
        }
        .fa-angle-right {
            padding-right: 33px;
        }
    }
    .sub-topic-heading{
        line-height: 31px;
        .back-to-topics , .back-to-your-family{
            line-height: 23px;
            margin: 0 34px 0px 17px;
            cursor: pointer;
        }
        .fa-angle-right {
            padding-right: 33px;
        }
    }
}
.topic-list-wrapper{
    /*z-index: -1;*/
    padding-left: 32px;

}
.sub-topic-list-wrapper{
    /*z-index: -1;*/
    padding-left: 32px;

}
.question-list-wrapper{

    padding: 1% 0%;

    .questions-list{
        float: left;
        width: 100%;
        list-style: none;
        .question-answer {
            float: left;
            width: 100%;
            .question-label{
                padding-left: 10px; 
                color: #bebebe;
            }
            .answer{
                input {
                    width: 100%;
                    text-align: right;
                    border: 0;
                    background: #f5f9fc;
                    outline-width: 0px;
                }
                input:focus {
                    border-bottom: 2px solid #74b7ef !important;
                    box-shadow: none;
                }
                input[type='radio'] {
                    width: 10%;
                }
                select {
                    background: transparent;
                }
                .fa-plus-circle {
                    line-height: 27px;
                }

                .placeholder-symbol {
                    border-bottom: none;
                    background: transparent;
                    font-size: 14px;
                    padding: 2.5px 0 0 3px;
                    font-weight: 700;
                    line-height: 20px;
                    /*                    border-bottom: 1px solid rgb(204, 204, 204);
                                        background: rgb(255, 255, 255);*/
                }
            }
            .contingent-beneficiary-table {
                width: 100%;
            }
            .deleteModal {
                text-align: center;
                width: 25px;
            }
            .right-arrow {
                text-align: center;
                width: 25px;
            }
            .service-files-table {
                /*width: 41vw !important;*/
                margin-bottom: 15px;
                tr {
                    td.file-name-input {
                        padding: 4px 4px 4px 1px !important;
                        input {   
                            width: 100%;
                            border: 0;
                            background: #f5f9fc;
                            outline-width: 0px;
                            text-align:center;
                        }
                        input:focus {
                            border-bottom: 2px solid #74b7ef !important;
                            box-shadow: none;
                        }
                    }
                    td.file-select-type {
                        padding: 3px 10px 3px 1px !important;
                        .selectboxit-container {
                            margin-bottom: 0px;
                            width: 80% !important;
                            span {
                                text-align:center !important;
                            }
                        }
                    }
                    th {
                        padding: 4px 5px 4px 5px !important;
                        text-align: center;
                    }
                }
                .file-name-error {
                    border-radius: 0;
                    font-size: 12px;
                    padding: 1px 5px !important;
                    font-weight: 400;
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;
                }
                .fileUploadRow {
                    text-align: center;

                }
            }
            .upload-statement {
                list-style: none;
                margin-bottom: 26px;

                .modal-upload-file-input {
                    width: auto;
                    height: auto;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: 1;
                    margin-top: 0px;
                    cursor: pointer;
                }
                .upload-statement-button {
                    width: auto !important;
                    font-size: 13px;
                    padding: 3px 20px;
                    border-radius: 4px;
                    background: transparent;
                    border: 1px solid #1d99d4;
                    color: #1d99d4;
                    max-width: 80%;
                    font-weight: 700;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    display: inline-block;
                    overflow: hidden;
                }
                .uploaded-modal-file {
                    width: 100%;

                    td.modal-file-name {
                        font-size: 15px;
                        width: 80%;
                        padding: 5px 5px 5px 0px;
                    }
                }
            }
        }
        .modal-table {
            width: 95%;
            margin-left: 10px;
            font-size: 15px;
            .table-header-border {
                padding: 4% 0%;
                font-size: 16px;
                color: #bebebe;
                border-bottom: 2px solid #d4d4d4;
            }
            .table-border {
                border-top: 1px solid #bebebe;
            }
        }
        .type-heading{
            margin-bottom: 15px
        }
    }

    .main-tabset {
        margin-bottom: 2%;
        .nav {
            .main-tabset-item a {
                padding: 8px 15px;
            }
            .main-tabset-item.active {
                background-color: #1788e5 !important;
            }
        }
    }

}
.add-file-btn {
    .btn {
        background: none;
        padding: 2px 20px;
        color: #2a88bd !important;
    }
    .btn:hover {
        color: #2a88bd;
    }
}
.add-more-row {
    .btn {
        background: none;
        padding: 2px 20px;
        color: #2a88bd !important;
    }
    .btn:hover {
        color: #2a88bd;
    }
}
.products-list{
    cursor:pointer;
    padding: 0 15px !important;
    .nested-div{
        padding: 0 0 0px 9px !important;
        .position-absolute{
            top: 38% !important;
        }
        .service-title {
            font-size: 16px !important;
        }
    }
    &.selected{
        .nested-div{
            background-color: #2079ee;
            h4 {
                color:#fff !important;
            }
        }
    }
}


.service-preview {

    .back-to-topics,
    .back-to-sub-topics {
        font-size: 23px;
        cursor: pointer;
        margin-top: 5px;
    }

    .sub-topic-heading h3,
    .topic-heading h3 {
        border-bottom: 1.5px solid #d4d4d4 !important;
        display: inline-block;
        margin-top: 0px;
        padding: 0% !important;
        padding-bottom: 1% !important;
        margin-left: 3%;
        width: 44%;

    }
    .sub-topic-section {
        .sub-topic-list-wrapper{
            margin-left: 3%;
            padding-left: 5%;
        }
    }

    .question-list-wrapper {
        padding: 1% 0%;
        .questions-list {
            .type-file{
                font-size: 14px;  
            }
            .question-answer {
                .answer {
                    text-align: right;
                    font-size: 15px;
                    /*display: flex;*/
                    justify-content: flex-end;

                    label.radio-custom-label {
                        width: 100%;
                        text-align: left;
                        /*margin-left: 10%;*/
                    }
                    .service-input-validate {
                        display: inline-block;
                        max-width: 100%;
                        margin-bottom: 5px;
                        font-weight: 400;
                        color: #ac1818;
                        background: #f8caca;
                        font-size: 11px;
                        width: 100%;
                        text-align: center;
                    } 
                }
                select {
                    background: transparent;
                }
                table {
                    tr {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.service-modal-questions {
    .questions-list{
        padding: 0% 0% 1% 4%;   
    }
    .topic-heading .back-to-questions {
        font-size: 23px;
        cursor: pointer;
        margin-top: 5px;
    }
}

.service-preview-file {
    margin-bottom: 15%; 
}

.single-column {
    width: 50% !important;
    float:left;
    padding: 1%;
}
.double-column li {
    width: 48% !important;
    float: left;
    margin-right: 2%;
}
.copy-tabs.selected-tab a{
    border: 1.5px solid #d4d4d4;
    border-bottom: 1.5px solid #f5f9fc;
    color: #fff;
    background-color: #3097D1;
    z-index: 20;
}

.copy-tabs a:hover {
    background: #3097D1 !important;
    color: #fff !important;
}
.copy-tabs a {
    padding: 2px 10px !important;
    color: #636b6f; 
    border-radius: 0px !important;
}
.tabs-section-border {
    margin-top: -2px !important;
    border: 1.5px solid #d4d4d4 !important;
    z-index: 10;
    margin-left: 0%;
    padding: 3% 0% 0% 1% !important;
}
.file-uploader{
    .modal-dialog{
        .modal-content, .modal-footer, .modal-body{
            float: left;
            width:100%;
        }
        .modal-body{
            .progress{
                margin-bottom: 0;
            }
            .inner-left{
                input{
                    border-radius: 0;
                }
            }
        }
    }
}
.file-uploader{
    @media (min-width: 768px){
        .modal-dialog {
            width: 380px;
            margin-top: 125px;
            .modal-body{
                padding:25px 40px;
            }
            .modal-header {
                .close{
                    color: #fff;
                    opacity: 1;
                    text-shadow: rgb(255, 255, 255) 0px 0px;
                }
            }   
        }

        .bfd-progress{
            height:7px;
            .progress{
                height:7px;
            }
            .progress-bar{
                background: #0972bd;
            }
        }
        .bfd-info{
            width:100%;
            float: left;
            font-size:13px;
            margin-top:10px;
            display:none;
        }
        .bfd-progress{
            width:100%;
            float: left;
            margin-top:10px;
        }
    }

    .bfd-dropfield {
        display: inline;
        padding: 1px;
        float: left;
        width:100%;
        margin-top: 0;
    }

    .bfd-dropfield-inner {
        border:1px dashed #888;
        color: #888;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        padding: 11px;
        height: 130px !important;
        padding-top: 78px !important;
        border-radius:5px;
        position:relative;
        margin-top:15px;
        em {
            color: #2179ee;
            font-style: normal;
        }
        &:before {
            content: " ";
            background-image: url(/img/upload-icon.png);
            width: 64px;
            height: 44px;
            float: left;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -32px;
            margin-top: -36px;
        }
    }
    .bfd-dropfield-inner.bfd-dragover {
        border-color: #bbb;
        color: #000;

        .bfd-info {
            overflow: hidden;
            white-space: nowrap; 
        }
        .bfd-error-message {
            text-align: center; 
        }
        .bfd-remove {
            cursor: pointer; 
        }
    }
    .bfd-files{
        padding-left:0; 
        padding-right: 0;
        .form-control {
            margin-bottom: 0;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .inner-left {
            width:100%;
            float: left;
            margin-bottom:0;
        }
        .uploadedfile {
            display: none;
        }
    }
}
.paddingRight0 {
    padding-right: 0 !important;
}
.paddingLeft0 {
    padding-left: 0 !important;
}
.bdf-files {
    .inner-left {
        width: 100%;
        float: left;
        margin-bottom: 0;
    }
}
label.modal-error {
    border-radius: 0;
    width: 100%;
    position: absolute;
    bottom: -22px;
    left: 0;
    font-size: 13px;
    /* padding: 7px; */
    font-weight: 400;
    padding-left: 15px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
label.file-size {
    float: left;
    width: 100%;
    text-align: right;
    color: #ABB1C9;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}

.activeInputs {
    border-bottom: 1px solid rgb(204, 204, 204) !important;
    background: rgb(255, 255, 255) !important;
    padding-right: 10px !important;
}
.table-single-error {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    color: #ac1818;
    background: #f8caca;
    font-size: 11px;
    width: 100%;
    text-align: center;
}

