@import "../../plugin/jquery.selectBoxIt.css";
@import "../app.scss";
@import "../includes/navbar.scss";  
@import "../includes/footer.scss";    
@import "../../plugin/jquery.selectBoxIt.css";
@import "../client/single-service-questions.scss";

.header { 
    .home-heading {
        p{
            padding-top: 77px;  
            font-size: 43px;
            span {
                display: inline;
            }
        }
    }
    .proceed {
        @media screen and (max-width:767px){
            float: left;
            padding-top: 118px;
        }
        .btn-blue{
            float: right;
            margin-top: -94px;
            padding: 12px 38px;
            font-size: 18px;
            margin-right: 102px; 
        }
    }
}

@media screen and (max-width:767px){
    padding: 65px 0 0 0;
}

.blog-news{
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            padding-right: 22px; 
            a {
                font-size: 16px;
                color: #cbcfd4;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
    a:active,a:hover {
        color: #2179EE;
        text-decoration: none;
    }
    .heading{  
        padding-top: 45px;
        color: #2f353e;
        font-size: 34px;
        font-weight: bold;

        @media screen and (max-width:767px){
            padding-top: 0;
        }
    }
    .blog-img {
        display:block;
        border: 2px solid #f4f3f3;
        float: left;
        margin-bottom: 15px;
        text-decoration: none;
        div {
            padding: 0px 22px 10px 22px;
        }
        .excerpt-second{
            display:none;
        }
        .excerpt-handler{
            color: #31363c;
            cursor: pointer;
        }
    }  
    .first-three-images {
        height: 215px;
        background-position: center center;
        background-size: cover;  
        @media screen and (max-width:991px){
            height: 24vw;
        }    
        @media screen and (max-width:767px){
            height: 215px;
        }
    }
    .p-bottom{
        padding-bottom: 35px;
    }
    h5 {
        color: #31363c;
        font-size: 21px;
        font-weight: bold;
    }
    p {    color: #89898f;
           font-size: 14px;

    }
    .category {
        color: #b8b9bf;
        font-size: 14px;
        padding-top: 10px;
    }
    .author-name {
        float: left;
        color:#89898f;
    }
    .date{
        float: right;
        color: #b8b9bf;
    }
}
.blog-news{
    ul {
        li.active a{
            color:#2179EE !important; 
        }
    }
}

#subscribe-modal{
    text-align: center;
    .close{
        margin: 3px 10px;
        font-size: 29px;
        font-weight: 300;
        z-index: 5;
        position: relative;
    }
    .modal-dialog{
        height: 100%;
        margin: auto;
    }
    .modal-content{
        @extend .absolute-center;
        border-radius: 0;
        max-width: 100%;
        width: 690px;
    }
    .modal-body{    
        padding: 40px 0;
        p{
            margin: 40px 0;
            color:$grey-text;
        }
        form{
            margin-bottom: 10px;
            .input-field{
                display: inline-block;
                padding: 6px 10px 5px 10px;
                font-size: 14px;
                border:1px solid $light-grey-border;
                &:focus, &:active{
                    outline: none;
                } 
            }
            .btn-green{
                font-size: 14px;
                letter-spacing: 1px;
                padding: 6px 25px 5px 25px;
                display: inline-flex;
                vertical-align: top;
                margin-left: -3px;
            }
        }
        .server-response{  
            width: 100%;
            float: left;
            .success{
                margin: 5px 0px;
                color: #0f8b16;
            }
            .error{
                margin: 5px 0px;
                color: #cc4418;
            }
        }
    }
}
