// Fonts
$fa-font-path: "../fonts/font-awesome";

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Home
$green: #2079ed;
$white: #fff;
$light-grey-border:#ebecec;
$dark-grey-border:#ccd0d2;
$dark-blue-border:#002d62;
$dark-blue:#344354;//#002d62
$navy-blue: #344354;
$navy-blue2: #2179EE;
$dark-grey-bg: #344354;
$navy-blue: #344354;
$black-text:#444444;
$grey-bg: #f0f0f0;
$dark-grey:#49494a;
$grey-text:#6b6b6b;

//Dashboard
$dashboard-sidebar: #354052;
$box-back-light-green:#f5f9fc;
$dashboard-border-color:#e3e7ea;