//login modal
@import "includes/login-modal.scss";
.flash-message{
            /*display: grid;*/
            max-width: 100%;
            text-align: center; 
        }
.btn-white{
    @extend .btn;
    background-color:  $white;
    color: $green;
    padding: 8px 14px;
    cursor:pointer;
    border-radius:0px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    outline:none;
    border: 1px solid $white;
    &:hover, &:focus, &:active{
        background-color:  $green;
        color: $white;
        outline:none;
    }
}
.btn-green{
    @extend .btn;
    background-color: #2179EE;
    color: $white;
    padding: 8px 14px;
    cursor:pointer;
    border-radius:0px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    outline:none;
    border: 1px solid  #2179EE;
    &:hover, &:focus, &:active{
        color: $white;
        outline:none;
    }
}
.btn-blue{
    background-color: #2179EE;
    padding: 13px 52px; 
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 40px;

    @media screen and (max-width:767px){
        padding: 5px 30px;  
    }
}
.dashboard-link {
    width: 85%;
    padding: 13px 0px; 
}
.raymond-james-link {
    width: 85%;

}

.btn-blue:hover {   
    background-color: #0863de;
    color: #fff;
}
.btn-white-bordered{
    @extend .btn;
    background-color: transparent;
    color: $white;/*twpm slide-5*/
    #slide5{
        text-align: center;
        padding: 110px 0 170px 0px;
        background-color: $white;
        h1{
            /*font-weight: 300;*/
            /*font-size: 40px;*/
            margin-bottom: 30px;
            color: $black-text;
            font-family: Lato;
            font-size: 32px;
            font-weight: 700; 
            line-height: 44px;
            text-align: center;
        }  
        .investment-form{
            position: relative;
            overflow: hidden;
            height: 200px;
            max-width: 640px;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 50px;
            background-color: $grey-bg;
            p{
                @extend .absolute-center;
                font-size: 22px;
            }
        }
        .investment-intake{
            margin: 0 auto;
            @media screen and (min-width:992px){
                width: 62%;
            }
            #investment-intake-form{
                select{
                    background-color: transparent;
                    border: none;
                    border-radius: 0px;
                    border-bottom: 1px solid $text-color;
                    padding-bottom: 3px;
                }
                .green_btn{
                    /*background: $green;*/
                    background-color: #2179EE;
                    padding: 10px 50px;
                    @media screen and (max-width:767px){
                        padding: 5px 30px;
                    }
                    font-size: 16px;
                    color: $white;
                    font-weight: 600;
                    margin-top: 12px;
                }
                .white_btn{
                    background: $white;
                    padding: 4px 60px;
                    @media screen and (max-width:767px){
                        padding: 5px 40px;
                    }
                    font-size: 17px;
                    color: $green;
                    font-weight: 600;
                    margin-top: 60px;
                    border: 2px solid $green;
                    margin-right: 10px;
                }
                p,span,ul{
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 38px;
                    margin-bottom: 0;
                    @media screen and (max-width:768px){
                        font-size: 14px;
                        line-height: 35px;
                    }
                    &.green_btn,&.white_btn{
                        line-height: inherit;
                    }
                }
                .investment_wrapper{
                    position: relative;
                    display: inline-block;
                    max-width: 100%;
                    .consent{
                        z-index: 1;
                    }
                    .level{
                        z-index: 2;
                    }
                    .query_type{
                        z-index: 3;
                    }
                }
                ul{
                    position: absolute;
                    left: 0;
                    /*right: 0;*/
                }
                .select-input{
                    border: none;
                    border-radius: 0px;
                    border-bottom: 1px solid $text-color;
                    padding-bottom: 3px;
                    font-size: 21px;
                    font-weight: 200;
                    line-height: 35px;
                    text-align: center;
                    width: 105px;
                    /*color: $green;*/
                    color: #2179ed !important;
                    font-weight: 400;
                    max-width: 100%;
                    display: inline-block; //span
                    /*padding-right: 25px;*/
                    @media screen and (max-width:768px){
                        font-size: 14px;
                        line-height: 35px;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .ul-border{
                    border: 1px solid $text-color;
                    padding: 0;
                }
                ul > li{
                    display: none;
                    list-style: none;
                    background: $white;
                    color: $green;
                    white-space: pre;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-bottom: 1px solid $light-grey-border;
                    &:last-child{
                        border-bottom: 0;
                    }
                    &:hover{
                        background: $light-grey-border;
                        color: $gray;
                    }
                }
                .highlighted{
                    display: block;
                }
                .dialogue-2{
                    display: none;
                    .contact-input{
                        border: none;
                        text-align: center;
                        border-radius: 0;
                        border-bottom: 1px solid $light-grey-border;
                        padding: 0 20px 3px 20px;
                        font-size: 25px;
                        font-weight: 100;
                        color: $green;
                        @media screen and (max-width:767px){
                            font-size: 14px;
                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                font-size: 14px;
                                color: $green;
                            }
                            &::-moz-placeholder { /* Firefox 19+ */
                                font-size: 14px;
                                color: $green;
                            }
                            &:-ms-input-placeholder { /* IE 10+ */
                                font-size: 14px;
                                color: $green;
                            }
                            &:-moz-placeholder { /* Firefox 18- */
                                font-size: 14px;
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
    }
    /*slide-5--end*/
    padding: 8px 14px;
    cursor:pointer;
    border-radius:0px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    outline:none;
    border: 1px solid $white;
    &:hover, &:focus, &:active{
        color: $white;
        outline:none;
    }
}

.absolute-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

.graphics{
    background-image: url('../../img/graphics.png');
    width:40px;
    height: 40px;
    background-size: 195px 90px;
}
.arrow-right{
    @extend .graphics;
    background-position: 82px -39px;
    width: 36px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.services-arrow-left{
    @extend .graphics;
    background-position: 82px -21px;
    width: 36px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.blog-arrow-left{
    @extend .graphics;
    background-position: 0px -25px;
    width: 34px;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}
.blog-arrow-right{
    @extend .graphics;
    background-position: -31px -25px;
    width: 34px;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}

body {
    font-family: 'Lato',sans-serif;
    font-weight: 400; 
    font-size: 16px;
    background-color: #fff;
    overflow-x:hidden;
}

.black-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $white;
    bottom: 0;
    background-color: #70c5a3;

}
/*icons*/
.facebook-icon{
    @extend .graphics;
    background-position: 115px 0px;
    display: inline-block;
    height: 19px;
    width: 17px;
}
.twitter-icon{
    @extend .graphics;
    background-position: 99px 2px;
    display: inline-block;
    height: 19px;
    width: 17px;
}
.flag-icon{
    @extend .graphics;
    background-position: 172px 1px;
    width: 35px;
    background-size: 173px 77px;
    display: inline-block;
    height: 25px;
    vertical-align: middle;
}
.overtop-icon{
    @extend .graphics;
    background-position: 131px 1px;
    width: 20px;
    display: inline-block;
    height: 25px;
    vertical-align: middle;
}
.users-icon{
    @extend .graphics;
    background-position: 154px 1px;
    width: 25px;
    display: inline-block;
    height: 25px;
    vertical-align: middle;
}
.login,.reset-password,.register{
    margin-top: 50px;
}
.header{
    background-color: #334353; 
    padding-top: 100px;
    padding-bottom: 40px;

    h2{
        color: #fff;
        font-size: 63px;
        font-weight: 100;
        span {
            color: #00d80d; 
        }
    } 
    .home-heading>*{
        font-size: 48px;
        color: white;
        font-family: lato;
        font-weight: 700;
        line-height: 58px;
        text-transform: uppercase;
    } 
    .home-heading {
        p {
            span {
                color: #2079ed;
                display: block;
            }
        }

    }
    .tag-line {
        p {
            font-size: 20px;
            color: #d6dcdf;
        }
    }
}

/*Contact modal*/
#get-started-modal{
    .modal-dialog{
        position: absolute;
        left: 50%;
        margin: 0;
        @media screen and (min-width:767px){
            top: 50%;
            transform: translate(-50%, -50%);
            width: 660px;
        }
        @media screen and (max-width:768px){ 
            top: 0;
            transform: translate(-50%, 0);
            width: 400px; 
            margin: 14px 0;
        }
        @media screen and (max-width:440px){
            width: calc(100% - 30px);
            margin: 14px 0;
        }
    }
    .modal-content{
        border-radius: 0;
    }
    .modal-body{
        overflow: hidden;
        width: 100%;
        padding-bottom: 25px;
        h3{
            text-align: center;
        }
        .left-side{
            padding: 0;
            color: $grey-text;
            .call, .offices, .chat{
                padding: 0;
                margin: 5px 0;
                overflow: hidden;
            }
            .icon{
                width:100px;
                float: left;
                font-size: 12px;
                text-transform: uppercase;
                text-align:center;
                span{
                    font-size: 26px;
                    /*@extend .graphics;*/
                    display: block;
                    color:$black-text;
                }
            }
            p{
                float: left;
                max-width: calc(100% - 150px);
                margin: 14px 30px 14px 20px;
                font-size: 12px;
                line-height: 1.25;
                span{
                    display: block;
                }
                @media screen and (max-width:440px){
                    font-size: 12px;
                    max-width: calc(100% - 110px);
                    margin: 14px 0;
                }
            }
            a{
                float: left;
                max-width: calc(100% - 150px);
                margin: 14px 30px 14px 20px;
                padding: 12px 14px;
                font-size: 15px;
                width: 100%;
                border-radius: 4px;
                @media screen and (max-width:440px){
                    max-width: calc(100% - 110px);
                    margin: 14px 0;
                }
            }
            .call{
                p{
                    span{
                        color: $black-text;
                        font-size: 22px;
                        @media screen and (max-width:440px){
                            font-size: 17px;
                        }
                        a{
                            @media screen and (max-width:440px){
                                color: $black-text;
                                display: block;
                                font-size: 17px;
                                margin: 0;
                                padding: 0;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
            .offices{
                p{
                    color:$black-text;
                    padding: 5px 0;
                }
            }
            @media screen and (max-width:768px){
                padding-left: 15px;
                padding-left: 15px;
                margin-bottom: 20px;
            }
        }
    }
    .close{
        margin-right: 8px;
        margin-top: 2px;
    }
    .contact-form{
        .select-option{
            color: $grey-text;
        }
        .input-group, .form-control{
            &:focus, &:active{
                border-color: $dark-grey-border;
                outline: 0;
                box-shadow: none;
            }
        }
        .form-control{
            border-radius: 0;
            outline: 0;

            width: 261px;
            margin-right: 26px;
            margin-bottom: 0px !important;
            padding: 12px 12px 15px 12px;
            height: 48px;
            border-radius: 0;
            font-size: 16px;
            padding-left: 14px;
            box-shadow: none;

        }
        .select-type{
            color: $grey-text;
            padding-top:0px! important;
         
        }
        .form-group{
            .selectboxit-container {
                .selectboxit-list{
                    width:170px;
                    overflow:scroll;
                    height:280px;
                }

            }
            input[type='text']{
                width: 261px;
                margin-right: 26px;
                margin-bottom: 0px !important;
                padding: 12px 12px 15px 12px;
                height: 48px;
                border-radius: 0;
                font-size: 16px;
                padding-left: 14px;
                box-shadow: none;
            }
        }
    }
    .right-side{
        padding-top:10px;
        padding-left: 15px;
        overflow: hidden;
        .btn-green{
            /*            font-size: 13px;
                        margin: 10px 0 50px 0px;
                        border-radius: 4pxz*/

            border-radius: 3px;
            color: #fff;
            font-family: Lato;
            font-size: 15px;
            line-height: 13px;
            text-align: center;
            width: 150px;
            height: 48px;
            padding: 12px 40px;
            background-color: #2179EE;
            text-decoration: none;
            margin-left:24%
        }
        .contact-response p{
            padding: 78px 0;
            font-size: 20px;
            color: #1bd41b;
        }
        @media screen and (min-width:768px){
            border-left: 1px solid $dark-grey-border;
            padding-left: 30px;
        }
    }
}
/*END*/

/*Hoshi*/
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
    outline: none;
}
.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
    color: $text-color;
    font-weight: 100;
    font-size: 14px;
}
.input--filled .input__label-content--hoshi {
    color: #3d9be9;
    font-size: 12px;
}
.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}
.icon {
    color: #ddd;
    font-size: 150%;
}
.input--hoshi {
    overflow: hidden;
}
.input__field--hoshi {
    margin-top: 1em;
    padding: 0.85em 0.15em;
    width: 100%;
    background: transparent;
    color: #6b6b6b;
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: 14px;
}
.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 0.5em);
    text-align: left;
    pointer-events: none;
}
.input__label-content--hoshi {
    position: absolute;
}
.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: calc(100% - 5px);
    border-bottom: 1px solid #B9C1CA;
}
.input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 4px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.input__label--hoshi-color-1::after {
    border-color: hsl(200, 100%, 50%);
}
.input__label--hoshi-color-2::after {
    border-color: #3d9be9;
}
.input__label--hoshi-color-3::after {
    border-color: hsl(20, 100%, 50%);
}
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}
@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}
@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}
.hoshi-text{
    padding: 0.85em 0.85em;
    width: 100%;
    background: transparent;
    color: #c0c1c2;
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: 14px;
    border-radius: 0;
    &:focus{
        box-shadow: none;
        border-color:inherit;
    }
}
/*END*/
/*Errors*/
.err-messages.msg-err{
    color: #a94442;
    font-size: 14px;
    text-align: left;
    margin: 0;
}
.input-error .input__label--hoshi-color-2::after{
    border-color: #a94442;
}
.input-error .input__field--hoshi{
    background-color: rgb(242, 222, 222);
}
.input-error .input__label--hoshi::before, .input-error .input__label--hoshi::after{
    height: calc(100% - -3px);
}
/*END*/
/* .squaredTwo */
.squaredTwo {
    width: 21px;
    height: 21px;
    position: relative;
    background: #1688e5;
    margin-bottom: 13px;
    label {
        width: 17px;
        height: 17px;
        cursor: pointer;
        position: absolute;
        left: 2px;
        top: 2px;
        background: #fff;
        &:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 5px;
            left: 4px;
            border: 3px solid #1688e5;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }
        &:hover::after {
            opacity: 0.3;
        }
    }
    span{
        position: absolute;
        top: -2px;
        left: 27px;
        min-width: 500px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }
    input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
            opacity: 1;
        }    
    }
}
/* end .squaredTwo */
/*Input file button*/
.custom-file-input {
    color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Choose file';
    color: #fff;
    display: inline-block;
    background: #1688e5;
    border: 1px solid #1688e5;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: #1688e5;
}
.custom-file-input:active, .custom-file-input:focus {
    outline: 0 !important;
}
.custom-file-input:active::before {
    background: #1688e5; 
}


.cursor-pointer {
    cursor: pointer;
}
/*END*/


/*sihnup-starting-form*/
#slide5{
    text-align: center;
    padding: 110px 0 170px 0px;
    background-color: $white;
    h1{
        margin-bottom: 30px;
        color: $black-text;
        font-family: Lato;
        font-size: 32px;
        font-weight: 700; 
        line-height: 44px;
        text-align: center;
    }  
    .investment-form{
        position: relative;
        overflow: hidden;
        height: 200px;
        max-width: 640px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: $grey-bg;
        p{
            @extend .absolute-center;
            font-size: 22px;
        }
    }
    .investment-intake{
        margin: 0 auto;
        @media screen and (min-width:992px){
            width: 62%;
        }
        #investment-intake-form{
            select{
                background-color: transparent;
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid $text-color;
                padding-bottom: 3px;
            }


            .white_btn{
                background: $white;
                padding: 4px 60px;
                @media screen and (max-width:767px){
                    padding: 5px 40px;
                }
                font-size: 17px;
                color: $green;
                font-weight: 600;
                margin-top: 60px;
                border: 2px solid $green;
                margin-right: 10px;
            }
            p,span,ul{
                font-size: 23px;
                font-weight: 400;
                line-height: 45px;
                margin-bottom: 0;
                @media screen and (max-width:768px){
                    font-size: 14px;
                    line-height: 35px;
                }
                &.blue-btn,&.white_btn{
                    line-height: inherit;
                }
            }
            .investment_wrapper{
                position: relative;
                display: inline-block;
                max-width: 100%;
                .consent{
                    z-index: 1;
                }
                .level{
                    z-index: 2;
                }
                .query_type{
                    z-index: 3;
                }
            }
            ul{
                position: absolute;
                left: 0;
            }
            .select-input{
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid $text-color;
                padding-bottom: 3px;
                font-size: 21px;
                font-weight: 200;
                line-height: 35px;
                text-align: center;
                width: 105px;
                color: #2179ed !important;
                font-weight: 400;
                max-width: 100%;
                display: inline-block; //span
                @media screen and (max-width:768px){
                    font-size: 14px;
                    line-height: 35px;
                }
                &:focus{
                    outline:none;
                }
            }
            .ul-border{
                border: 1px solid $text-color;
                padding: 0;
            }
            ul > li{
                display: none;
                list-style: none;
                background: $white;
                color: #2179EE;;
                white-space: pre;
                padding-left: 20px;
                padding-right: 20px;
                border-bottom: 1px solid $light-grey-border;
                &:last-child{
                    border-bottom: 1px solid $text-color;
                }
                &:hover{
                    background: $light-grey-border;
                    color: $gray;
                }
            }
            .highlighted{
                display: block;
            }
            .dialogue-2{
                display: none;
                .contact-input{
                    border: none;
                    text-align: center;
                    border-radius: 0;
                    border-bottom: 1px solid $light-grey-border;
                    padding: 0 20px 3px 20px;
                    font-size: 25px;
                    font-weight: 100;
                    color: $green;
                    @media screen and (max-width:767px){
                        font-size: 14px;
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            font-size: 14px;
                            color: $green;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            font-size: 14px;
                            color: $green;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            font-size: 14px;
                            color: $green;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            font-size: 14px;
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}
/*END*/

/*contact_bar*/
#slide8{
    background-color: #2079ed;
    color: $white;
    h2{
        font-weight:400;
        margin: 30px 0;
        span{
            float: right;
            a{
                @media screen and (max-width:440px){
                    color: $white;
                }
            }
        }
        @media screen and (max-width:992px){
            padding: 0 10px;
        }
        @media screen and (max-width:768px){
            text-align: center;
            span{
                display:block;
                float:none;
                margin-top:5px; 
            }
        }
        &.cta{
            @media screen and (max-width:485px){
                display: none;
            }
        } 
        &.mobile-cta{
            display: none;
            @media screen and (max-width:485px){
                display: block;
            }
        }
    }
}
/*END*/


