/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.get-started .heading {
  font-weight: bold;
  font-size: 25px;
  padding: 7px 0px;
  color: #000;
}

.get-started p {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.get-started p span {
  color: #2179ee;
}

.get-started .grey-active-service {
  font-size: 14px;
}

.get-started .grey-active-service a {
  color: #c5cad0;
  font-weight: 100;
  padding-left: 0;
  cursor: pointer;
}

.get-started .grey-active-service a.active {
  color: #000;
}

.get-started .grey-active-service a:active, .get-started .grey-active-service a:focus {
  text-decoration: none;
}

.get-started .grey-active-service a:hover {
  color: #2179ee;
}

.get-started .grey-active-service span {
  padding-left: 16px;
  font-weight: 100;
}

.service-name {
  margin-right: 15px;
  padding: 0 15px;
}

.service-name .previous {
  width: 25px;
  float: left;
  background-color: #f5f9fc;
  height: 115px;
}

.service-name .service-options {
  width: calc(100% - 50px);
  float: left;
}

.service-name .service-options .recommended {
  font-size: 10px;
  color: #2179ee;
}

.service-name .next {
  width: 25px;
  float: left;
  background-color: #f5f9fc;
  height: 115px;
}

.service-name .nested-div {
  position: relative;
  height: 115px;
  background-color: #f5f9fc;
  padding: 0 15px;
}

.service-name .nested-div .position-absolute {
  top: 40%;
  position: absolute;
}

.service-name .nested-div .position-absolute i {
  font-size: 10px;
  color: #2179ee;
  display: inline-block;
  margin-top: -16px;
  float: left;
}

.service-name .nested-div .position-absolute p {
  font-size: 16px;
  line-height: 19px;
  padding: 0 15px 15px 0px;
  margin: 0;
}

.service-name .nested-div .position-absolute h4 {
  font-size: 18px;
  color: #131111;
  font-weight: 700;
}

.service-name .bg-blue {
  background-color: #2179ee;
  color: #fff;
}

.service-name .bg-blue a {
  color: #fff !important;
}

.service-name .p-inc-height {
  padding-top: 33px;
  color: #b6bcc4;
}

.open-service-name .row {
  margin-right: 45px;
}

.open-service-name .row .left-div {
  background-color: #f5f9fc;
  margin: 0 15px;
  padding: 5px 0px !important;
  color: #30363e;
  float: left;
  width: 100%;
  height: auto;
}

.open-service-name .row .left-div recommended-service-div {
  padding: 15px 25px 30px 25px !important;
}

.open-service-name .row .left-div a.get-started-btn {
  font-size: 15px;
  color: #2179ee;
  float: right;
  background-color: #2179ee;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin-right: 40px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  padding: 13px 44px;
  border: 1px solid #2179ee;
  border-radius: 3px;
}

.open-service-name .row .left-div a:hover {
  background-color: #0863de;
}

.open-service-name .row .pd-left {
  padding-left: 25px;
}

.open-service-name .row i {
  font-size: 15px;
  color: #2179ee;
}

.open-service-name .row h2 {
  font-size: 25px;
  margin-top: 0;
  font-weight: bold;
  color: #000;
  border: 0;
  line-height: 0.7;
  padding-bottom: 0;
}

.open-service-name .row h5 {
  font-size: 16px;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 0;
  color: #000;
}

.open-service-name .row p {
  font-size: 16px;
  padding: 0;
  font-weight: 400;
  color: #73777e;
}

.service-options.owl-carousel {
  margin-bottom: 40px;
}

.service-options.owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.service-options.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.service-options.owl-carousel .active-list, .service-options.owl-carousel .products-list {
  cursor: pointer;
  padding: 0 15px !important;
}

.service-options.owl-carousel .active-list.selected .nested-div, .service-options.owl-carousel .products-list.selected .nested-div {
  background-color: #2079ee;
}

.service-options.owl-carousel .active-list.selected .nested-div i, .service-options.owl-carousel .active-list.selected .nested-div p, .service-options.owl-carousel .products-list.selected .nested-div i, .service-options.owl-carousel .products-list.selected .nested-div p {
  color: #fff;
}

.service-options.owl-carousel .active-list.empty .nested-div, .service-options.owl-carousel .products-list.empty .nested-div {
  background-color: #f5f9fc;
}

.service-options.owl-carousel .active-list.empty .nested-div p, .service-options.owl-carousel .products-list.empty .nested-div p {
  color: #000;
}

/*services-page-changes*/
.slide-left, .slide-right {
  color: #999999;
}

/*active-services */
.active-services .left-div {
  margin-left: -15px;
}

.active-services .left-div .pending-items, .active-services .left-div .documents-list {
  background-color: #f5f9fc;
  border: 1px solid #d3e0e9;
}

.active-services .left-div .pending-items h2, .active-services .left-div .documents-list h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.active-services .left-div .pending-items .no-doc-message, .active-services .left-div .documents-list .no-doc-message {
  display: none;
}

.active-services .left-div .pending-items {
  padding: 15px 15px;
  margin-bottom: 30px;
}

.active-services .left-div .pending-items ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.active-services .left-div .pending-items ul li a {
  cursor: pointer;
  color: #000;
}

.active-services .left-div .documents-list {
  padding: 15px 15px;
}

.active-services .left-div .documents-list .border-bottom {
  border-bottom: 1px solid #eaedef;
  padding-bottom: 10px;
}

.active-services .left-div .documents-list .border-bottom a {
  cursor: pointer;
  color: #000;
}

.active-services .left-div .documents-list .border-bottom a .red-box {
  background-color: red;
  width: 39px;
  height: 39px;
  display: inline-block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 6px;
}

.active-services .left-div .documents-list .border-bottom a .file-name {
  padding-left: 15px;
  font-size: 20px;
}

.active-services .right-div {
  /*padding-right: 45px;*/
}

.active-services .right-div .que-ans-list {
  background-color: #f5f9fc;
  padding-bottom: 95px;
}

.active-services .right-div .que-ans-list .panel-default {
  border-radius: 0 !important;
}

.active-services .right-div .que-ans-list .panel-heading {
  background-color: #f5f9fc;
  border-radius: 0 !important;
}

.active-services .right-div .que-ans-list button {
  float: right;
  background-color: #2179ee;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin-right: 30px;
  font-weight: 600;
  color: #fff;
  padding: 13px 44px;
  border: 1px solid #2179ee;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 17px;
  text-transform: uppercase;
}

.active-services .right-div .que-ans-list button:hover {
  background-color: #0863de;
}

.active-services .right-div #services-question-form {
  padding: 0;
  margin: 0;
}

.active-services .right-div #services-question-form .sections .section-left {
  margin-left: 0;
}

.active-services .right-div #services-question-form .sections .section-left h2 {
  margin-top: 20px;
}

.active-services .right-div #services-question-form .sections .section-left p {
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

.active-services .right-div #services-question-form .sections .section-right {
  margin-top: 0;
}

.active-services .right-div #services-question-form .sections .section-right .inner-left input {
  width: 100%;
}

.active-services .right-div #services-question-form .sections .horizontal input {
  min-height: 55px;
  margin: 16px 20px 16px 0;
  width: 45%;
  float: none;
  font-family: inherit;
  padding: 0 15px;
}

.active-services .right-div #services-question-form .sections .horizontal .headings {
  width: 50%;
}

.active-services .right-div #services-question-form .sections .horizontal .headings .input-title {
  display: inline;
  float: none;
  width: 0;
  margin-top: 0;
  text-transform: capitalize;
}

.active-services .right-div #services-question-form .update-pan-card h2 {
  color: #000;
}

.active-services .p-0 {
  padding: 0;
}

.red {
  background-color: red;
  height: 45px;
  width: 45px;
}

.service-preview {
  float: left;
  width: 100%;
  position: relative;
  padding: 0 25px;
}

.service-preview i.fa {
  color: #796c70 !important;
}

.service-preview a:hover {
  background-color: transparent !important;
}

.service-preview h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.service-preview .topic-list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
}

.service-preview .topic-list .single-topic {
  text-transform: uppercase;
  padding: 11px 0 8px 8px;
  font-size: 12px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}

.service-preview .topic-list .fa-angle-right {
  line-height: 20px;
  padding-right: 30px;
  font-size: 16px;
}

.service-preview .sub-topic-list {
  list-style: none;
  padding-left: 3%;
  padding-bottom: 20px;
}

.service-preview .sub-topic-list .single-sub-topic {
  text-transform: uppercase;
  padding: 11px 0 8px 8px;
  font-size: 12px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}

.service-preview .sub-topic-list .fa-angle-right {
  line-height: 20px;
  padding-right: 30px;
  font-size: 16px;
}

.topic-section {
  float: left;
  width: 100%;
}

.pre-topic-questions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pre-topic-questions i {
  margin-left: 20%;
}

.sub-topic-section {
  float: left;
  width: 100%;
  padding: 0% 2% !important;
}

.question-section {
  float: left;
  width: 100%;
  position: absolute;
  top: 47px;
  background-color: #f5f9fc;
}

.question-section .topic-heading {
  line-height: 31px;
  margin-top: 2%;
}

.question-section .topic-heading .back-to-topics, .question-section .topic-heading .back-to-your-family {
  line-height: 23px;
  margin: 0 34px 0px 17px;
  cursor: pointer;
}

.question-section .topic-heading .fa-angle-right {
  padding-right: 33px;
}

.question-section .sub-topic-heading {
  line-height: 31px;
}

.question-section .sub-topic-heading .back-to-topics, .question-section .sub-topic-heading .back-to-your-family {
  line-height: 23px;
  margin: 0 34px 0px 17px;
  cursor: pointer;
}

.question-section .sub-topic-heading .fa-angle-right {
  padding-right: 33px;
}

.topic-list-wrapper {
  /*z-index: -1;*/
  padding-left: 32px;
}

.sub-topic-list-wrapper {
  /*z-index: -1;*/
  padding-left: 32px;
}

.question-list-wrapper {
  padding: 1% 0%;
}

.question-list-wrapper .questions-list {
  float: left;
  width: 100%;
  list-style: none;
}

.question-list-wrapper .questions-list .question-answer {
  float: left;
  width: 100%;
}

.question-list-wrapper .questions-list .question-answer .question-label {
  padding-left: 10px;
  color: #bebebe;
}

.question-list-wrapper .questions-list .question-answer .answer input {
  width: 100%;
  text-align: right;
  border: 0;
  background: #f5f9fc;
  outline-width: 0px;
}

.question-list-wrapper .questions-list .question-answer .answer input:focus {
  border-bottom: 2px solid #74b7ef !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.question-list-wrapper .questions-list .question-answer .answer input[type='radio'] {
  width: 10%;
}

.question-list-wrapper .questions-list .question-answer .answer select {
  background: transparent;
}

.question-list-wrapper .questions-list .question-answer .answer .fa-plus-circle {
  line-height: 27px;
}

.question-list-wrapper .questions-list .question-answer .answer .placeholder-symbol {
  border-bottom: none;
  background: transparent;
  font-size: 14px;
  padding: 1.5px 0 0 2px;
  font-weight: 700;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-list-wrapper .questions-list .question-answer .contingent-beneficiary-table {
  width: 100%;
}

.question-list-wrapper .questions-list .question-answer .deleteModal {
  text-align: center;
  width: 25px;
}

.question-list-wrapper .questions-list .question-answer .right-arrow {
  text-align: center;
  width: 25px;
}

.question-list-wrapper .questions-list .question-answer .service-files-table {
  /*width: 41vw !important;*/
  margin-bottom: 15px;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-name-input {
  padding: 4px 4px 4px 1px !important;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-name-input input {
  width: 100%;
  border: 0;
  background: #f5f9fc;
  outline-width: 0px;
  text-align: center;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-name-input input:focus {
  border-bottom: 2px solid #74b7ef !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-select-type {
  padding: 3px 10px 3px 1px !important;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-select-type .selectboxit-container {
  margin-bottom: 0px;
  width: 80% !important;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-select-type .selectboxit-container span {
  text-align: center !important;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr th {
  padding: 4px 5px 4px 5px !important;
  text-align: center;
}

.question-list-wrapper .questions-list .question-answer .service-files-table .file-name-error {
  border-radius: 0;
  font-size: 12px;
  padding: 1px 5px !important;
  font-weight: 400;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.question-list-wrapper .questions-list .question-answer .service-files-table .fileUploadRow {
  text-align: center;
}

.question-list-wrapper .questions-list .question-answer .upload-statement {
  list-style: none;
  margin-bottom: 26px;
}

.question-list-wrapper .questions-list .question-answer .upload-statement .modal-upload-file-input {
  width: auto;
  height: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin-top: 0px;
  cursor: pointer;
}

.question-list-wrapper .questions-list .question-answer .upload-statement .upload-statement-button {
  width: auto !important;
  font-size: 13px;
  padding: 3px 20px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #1d99d4;
  color: #1d99d4;
  max-width: 80%;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.question-list-wrapper .questions-list .question-answer .upload-statement .uploaded-modal-file {
  width: 100%;
}

.question-list-wrapper .questions-list .question-answer .upload-statement .uploaded-modal-file td.modal-file-name {
  font-size: 15px;
  width: 80%;
  padding: 5px 5px 5px 0px;
}

.question-list-wrapper .questions-list .modal-table {
  width: 95%;
  margin-left: 10px;
  font-size: 15px;
}

.question-list-wrapper .questions-list .modal-table .table-header-border {
  padding: 4% 0%;
  font-size: 16px;
  color: #bebebe;
  border-bottom: 2px solid #d4d4d4;
}

.question-list-wrapper .questions-list .modal-table .table-border {
  border-top: 1px solid #bebebe;
}

.question-list-wrapper .questions-list .type-heading {
  margin-bottom: 15px;
}

.question-list-wrapper .main-tabset {
  margin-bottom: 2%;
}

.question-list-wrapper .main-tabset .nav .main-tabset-item a {
  padding: 8px 15px;
}

.question-list-wrapper .main-tabset .nav .main-tabset-item.active {
  background-color: #1788e5 !important;
}

.add-file-btn .btn {
  background: none;
  padding: 2px 20px;
  color: #2a88bd !important;
}

.add-file-btn .btn:hover {
  color: #2a88bd;
}

.add-more-row .btn {
  background: none;
  padding: 2px 20px;
  color: #2a88bd !important;
}

.add-more-row .btn:hover {
  color: #2a88bd;
}

.products-list {
  cursor: pointer;
  padding: 0 15px !important;
}

.products-list .nested-div {
  padding: 0 0 0px 9px !important;
}

.products-list .nested-div .position-absolute {
  top: 38% !important;
}

.products-list .nested-div .service-title {
  font-size: 16px !important;
}

.products-list.selected .nested-div {
  background-color: #2079ee;
}

.products-list.selected .nested-div h4 {
  color: #fff !important;
}

.service-preview .back-to-topics,
.service-preview .back-to-sub-topics {
  font-size: 23px;
  cursor: pointer;
  margin-top: 5px;
}

.service-preview .sub-topic-heading h3,
.service-preview .topic-heading h3 {
  border-bottom: 1.5px solid #d4d4d4 !important;
  display: inline-block;
  margin-top: 0px;
  padding: 0% !important;
  padding-bottom: 1% !important;
  margin-left: 3%;
  width: 44%;
}

.service-preview .sub-topic-section .sub-topic-list-wrapper {
  margin-left: 3%;
  padding-left: 5%;
}

.service-preview .question-list-wrapper {
  padding: 1% 0%;
}

.service-preview .question-list-wrapper .questions-list .type-file {
  font-size: 14px;
}

.service-preview .question-list-wrapper .questions-list .question-answer .answer {
  text-align: right;
  font-size: 15px;
  /*display: flex;*/
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.service-preview .question-list-wrapper .questions-list .question-answer .answer label.radio-custom-label {
  width: 100%;
  text-align: left;
  /*margin-left: 10%;*/
}

.service-preview .question-list-wrapper .questions-list .question-answer .answer .service-input-validate {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  color: #ac1818;
  background: #f8caca;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.service-preview .question-list-wrapper .questions-list .question-answer select {
  background: transparent;
}

.service-preview .question-list-wrapper .questions-list .question-answer table tr {
  cursor: pointer;
}

.service-modal-questions .questions-list {
  padding: 0% 0% 1% 4%;
}

.service-modal-questions .topic-heading .back-to-questions {
  font-size: 23px;
  cursor: pointer;
  margin-top: 5px;
}

.service-preview-file {
  margin-bottom: 15%;
}

.single-column {
  width: 50% !important;
  float: left;
  padding: 1%;
}

.double-column li {
  width: 48% !important;
  float: left;
  margin-right: 2%;
}

.copy-tabs.selected-tab a {
  border: 1.5px solid #d4d4d4;
  border-bottom: 1.5px solid #f5f9fc;
  color: #fff;
  background-color: #3097D1;
  z-index: 20;
}

.copy-tabs a:hover {
  background: #3097D1 !important;
  color: #fff !important;
}

.copy-tabs a {
  padding: 2px 10px !important;
  color: #636b6f;
  border-radius: 0px !important;
}

.tabs-section-border {
  margin-top: -2px !important;
  border: 1.5px solid #d4d4d4 !important;
  z-index: 10;
  margin-left: 0%;
  padding: 3% 0% 0% 1% !important;
}

.file-uploader .modal-dialog .modal-content, .file-uploader .modal-dialog .modal-footer, .file-uploader .modal-dialog .modal-body {
  float: left;
  width: 100%;
}

.file-uploader .modal-dialog .modal-body .progress {
  margin-bottom: 0;
}

.file-uploader .modal-dialog .modal-body .inner-left input {
  border-radius: 0;
}

@media (min-width: 768px) {
  .file-uploader .modal-dialog {
    width: 380px;
    margin-top: 125px;
  }
  .file-uploader .modal-dialog .modal-body {
    padding: 25px 40px;
  }
  .file-uploader .modal-dialog .modal-header .close {
    color: #fff;
    opacity: 1;
    text-shadow: white 0px 0px;
  }
  .file-uploader .bfd-progress {
    height: 7px;
  }
  .file-uploader .bfd-progress .progress {
    height: 7px;
  }
  .file-uploader .bfd-progress .progress-bar {
    background: #0972bd;
  }
  .file-uploader .bfd-info {
    width: 100%;
    float: left;
    font-size: 13px;
    margin-top: 10px;
    display: none;
  }
  .file-uploader .bfd-progress {
    width: 100%;
    float: left;
    margin-top: 10px;
  }
}

.file-uploader .bfd-dropfield {
  display: inline;
  padding: 1px;
  float: left;
  width: 100%;
  margin-top: 0;
}

.file-uploader .bfd-dropfield-inner {
  border: 1px dashed #888;
  color: #888;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 11px;
  height: 130px !important;
  padding-top: 78px !important;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
}

.file-uploader .bfd-dropfield-inner em {
  color: #2179ee;
  font-style: normal;
}

.file-uploader .bfd-dropfield-inner:before {
  content: " ";
  background-image: url(/img/upload-icon.png);
  width: 64px;
  height: 44px;
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -36px;
}

.file-uploader .bfd-dropfield-inner.bfd-dragover {
  border-color: #bbb;
  color: #000;
}

.file-uploader .bfd-dropfield-inner.bfd-dragover .bfd-info {
  overflow: hidden;
  white-space: nowrap;
}

.file-uploader .bfd-dropfield-inner.bfd-dragover .bfd-error-message {
  text-align: center;
}

.file-uploader .bfd-dropfield-inner.bfd-dragover .bfd-remove {
  cursor: pointer;
}

.file-uploader .bfd-files {
  padding-left: 0;
  padding-right: 0;
}

.file-uploader .bfd-files .form-control {
  margin-bottom: 0;
}

.file-uploader .bfd-files .row {
  margin-left: 0;
  margin-right: 0;
}

.file-uploader .bfd-files .inner-left {
  width: 100%;
  float: left;
  margin-bottom: 0;
}

.file-uploader .bfd-files .uploadedfile {
  display: none;
}

.paddingRight0 {
  padding-right: 0 !important;
}

.paddingLeft0 {
  padding-left: 0 !important;
}

.bdf-files .inner-left {
  width: 100%;
  float: left;
  margin-bottom: 0;
}

label.modal-error {
  border-radius: 0;
  width: 100%;
  position: absolute;
  bottom: -22px;
  left: 0;
  font-size: 13px;
  /* padding: 7px; */
  font-weight: 400;
  padding-left: 15px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

label.file-size {
  float: left;
  width: 100%;
  text-align: right;
  color: #ABB1C9;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}

.activeInputs {
  border-bottom: 1px solid #cccccc !important;
  background: white !important;
  padding-right: 10px !important;
}

.table-single-error {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  color: #ac1818;
  background: #f8caca;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.17.47
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.bootstrap-datetimepicker-widget {
  list-style: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  display: block;
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}

@media (min-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu:before, .bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}

.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}

.bootstrap-datetimepicker-widget a[data-action]:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}

.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}

.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}

.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}

.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}

.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}

.bootstrap-datetimepicker-widget table th.disabled, .bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}

.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eee;
}

.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}

.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777;
}

.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
  background: #eee;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
  color: #777;
}

.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}

.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #337ab7;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #337ab7;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget table td span:hover {
  background: #eee;
}

.bootstrap-datetimepicker-widget table td span.active {
  background-color: #337ab7;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td span.old {
  color: #777;
}

.bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}

.bootstrap-datetimepicker-widget.wider {
  width: 21em;
}

.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}

.input-group.date .input-group-addon {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.service-preview {
  float: left;
  width: 100%;
  position: relative;
  padding: 0 25px;
}

.service-preview h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.service-preview .topic-list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
}

.service-preview .topic-list .single-topic {
  text-transform: uppercase;
  padding: 11px 0 8px 8px;
  font-size: 12px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}

.service-preview .topic-list .fa-angle-right {
  line-height: 20px;
  padding-right: 30px;
  font-size: 16px;
}

.service-preview .sub-topic-list {
  list-style: none;
  padding-left: 3%;
  padding-bottom: 20px;
}

.service-preview .sub-topic-list .single-sub-topic {
  text-transform: uppercase;
  padding: 11px 0 8px 8px;
  font-size: 12px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}

.service-preview .sub-topic-list .fa-angle-right {
  line-height: 20px;
  padding-right: 30px;
  font-size: 16px;
}

.topic-section {
  float: left;
  width: 100%;
}

.pre-topic-questions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pre-topic-questions i {
  margin-left: 20%;
}

.sub-topic-section {
  float: left;
  width: 100%;
  padding: 0% 2% !important;
}

.question-section {
  float: left;
  width: 100%;
  position: absolute;
  top: 47px;
  background-color: #f5f9fc;
}

.question-section .topic-heading {
  line-height: 31px;
  margin-top: 2%;
}

.question-section .topic-heading .back-to-topics, .question-section .topic-heading .back-to-your-family {
  line-height: 23px;
  margin: 0 34px 0px 17px;
  cursor: pointer;
}

.question-section .topic-heading .fa-angle-right {
  padding-right: 33px;
}

.question-section .sub-topic-heading {
  line-height: 31px;
}

.question-section .sub-topic-heading .back-to-topics, .question-section .sub-topic-heading .back-to-your-family {
  line-height: 23px;
  margin: 0 34px 0px 17px;
  cursor: pointer;
}

.question-section .sub-topic-heading .fa-angle-right {
  padding-right: 33px;
}

.topic-list-wrapper {
  /*z-index: -1;*/
  padding-left: 32px;
}

.sub-topic-list-wrapper {
  /*z-index: -1;*/
  padding-left: 32px;
}

.question-list-wrapper {
  padding: 1% 0%;
}

.question-list-wrapper .questions-list {
  float: left;
  width: 100%;
  list-style: none;
}

.question-list-wrapper .questions-list .question-answer {
  float: left;
  width: 100%;
}

.question-list-wrapper .questions-list .question-answer .question-label {
  padding-left: 10px;
  color: #bebebe;
}

.question-list-wrapper .questions-list .question-answer .answer input {
  width: 100%;
  text-align: right;
  border: 0;
  background: #f5f9fc;
  outline-width: 0px;
}

.question-list-wrapper .questions-list .question-answer .answer input:focus {
  border-bottom: 2px solid #74b7ef !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.question-list-wrapper .questions-list .question-answer .answer input[type='radio'] {
  width: 10%;
}

.question-list-wrapper .questions-list .question-answer .answer select {
  background: transparent;
}

.question-list-wrapper .questions-list .question-answer .answer .fa-plus-circle {
  line-height: 27px;
}

.question-list-wrapper .questions-list .question-answer .answer .placeholder-symbol {
  border-bottom: none;
  background: transparent;
  font-size: 14px;
  padding: 2.5px 0 0 3px;
  font-weight: 700;
  line-height: 20px;
  /*                    border-bottom: 1px solid rgb(204, 204, 204);
                                        background: rgb(255, 255, 255);*/
}

.question-list-wrapper .questions-list .question-answer .contingent-beneficiary-table {
  width: 100%;
}

.question-list-wrapper .questions-list .question-answer .deleteModal {
  text-align: center;
  width: 25px;
}

.question-list-wrapper .questions-list .question-answer .right-arrow {
  text-align: center;
  width: 25px;
}

.question-list-wrapper .questions-list .question-answer .service-files-table {
  width: 100% !important;
  margin-bottom: 15px;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-name-input {
  padding: 4px 4px 4px 1px !important;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-name-input input {
  width: 100%;
  border: 0;
  background: #f5f9fc;
  outline-width: 0px;
  text-align: left;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-name-input input:focus {
  border-bottom: 2px solid #74b7ef !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-select-type {
  padding: 3px 10px 3px 1px !important;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-select-type .selectboxit-container {
  margin-bottom: 0px;
  width: 80% !important;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr td.file-select-type .selectboxit-container span {
  text-align: center !important;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr th {
  padding: 4px 5px 4px 5px !important;
  text-align: center;
}

.question-list-wrapper .questions-list .question-answer .service-files-table tr th:first-of-type {
  text-align: left;
}

.question-list-wrapper .questions-list .question-answer .service-files-table .file-name-error {
  border-radius: 0;
  font-size: 12px;
  padding: 1px 5px !important;
  font-weight: 400;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.question-list-wrapper .questions-list .question-answer .service-files-table .fileUploadRow {
  text-align: center;
}

.question-list-wrapper .questions-list .question-answer .upload-statement {
  list-style: none;
  margin-bottom: 26px;
}

.question-list-wrapper .questions-list .question-answer .upload-statement .modal-upload-file-input {
  width: auto;
  height: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin-top: 0px;
  cursor: pointer;
}

.question-list-wrapper .questions-list .question-answer .upload-statement .upload-statement-button {
  width: auto !important;
  font-size: 13px;
  padding: 3px 20px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #1d99d4;
  color: #1d99d4;
  max-width: 80%;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.question-list-wrapper .questions-list .question-answer .upload-statement .uploaded-modal-file {
  width: 100%;
}

.question-list-wrapper .questions-list .question-answer .upload-statement .uploaded-modal-file td.modal-file-name {
  font-size: 15px;
  width: 80%;
  padding: 5px 5px 5px 0px;
}

.question-list-wrapper .questions-list .modal-table {
  width: 95%;
  margin-left: 10px;
  font-size: 15px;
}

.question-list-wrapper .questions-list .modal-table .table-header-border {
  padding: 4% 0%;
  font-size: 16px;
  color: #bebebe;
  border-bottom: 2px solid #d4d4d4;
}

.question-list-wrapper .questions-list .modal-table .table-border {
  border-top: 1px solid #bebebe;
}

.question-list-wrapper .questions-list .type-heading {
  margin-bottom: 15px;
}

.question-list-wrapper .main-tabset {
  margin-bottom: 2%;
}

.question-list-wrapper .main-tabset .nav .main-tabset-item a {
  padding: 8px 15px;
}

.question-list-wrapper .main-tabset .nav .main-tabset-item.active {
  background-color: #1788e5 !important;
}

.add-file-btn .btn {
  background: none;
  padding: 2px 20px;
  color: #2a88bd !important;
}

.add-file-btn .btn:hover {
  color: #2a88bd;
}

.add-more-row .btn {
  background: none;
  padding: 2px 20px;
  color: #2a88bd !important;
}

.add-more-row .btn:hover {
  color: #2a88bd;
}

.products-list {
  cursor: pointer;
  padding: 0 15px !important;
}

.products-list .nested-div {
  padding: 0 0 0px 9px !important;
}

.products-list .nested-div .position-absolute {
  top: 38% !important;
}

.products-list .nested-div .service-title {
  font-size: 16px !important;
}

.products-list.selected .nested-div {
  background-color: #2079ee;
}

.products-list.selected .nested-div h4 {
  color: #fff !important;
}

.service-preview .back-to-topics,
.service-preview .back-to-sub-topics {
  font-size: 23px;
  cursor: pointer;
  margin-top: 5px;
}

.service-preview .sub-topic-heading h3,
.service-preview .topic-heading h3 {
  border-bottom: 1.5px solid #d4d4d4 !important;
  display: inline-block;
  margin-top: 0px;
  padding: 0% !important;
  padding-bottom: 1% !important;
  margin-left: 3%;
  width: 44%;
}

.service-preview .sub-topic-section .sub-topic-list-wrapper {
  margin-left: 3%;
  padding-left: 5%;
}

.service-preview .question-list-wrapper {
  padding: 1% 0%;
}

.service-preview .question-list-wrapper .questions-list .type-file {
  font-size: 14px;
}

.service-preview .question-list-wrapper .questions-list .question-answer .answer {
  text-align: right;
  font-size: 15px;
  /*display: flex;*/
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.service-preview .question-list-wrapper .questions-list .question-answer .answer label.radio-custom-label {
  width: 100%;
  text-align: left;
  /*margin-left: 10%;*/
}

.service-preview .question-list-wrapper .questions-list .question-answer .answer .service-input-validate {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  color: #ac1818;
  background: #f8caca;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.service-preview .question-list-wrapper .questions-list .question-answer select {
  background: transparent;
}

.service-preview .question-list-wrapper .questions-list .question-answer table tr {
  cursor: pointer;
}

.service-modal-questions .questions-list {
  padding: 0% 0% 1% 4%;
}

.service-modal-questions .topic-heading .back-to-questions {
  font-size: 23px;
  cursor: pointer;
  margin-top: 5px;
}

.service-preview-file {
  margin-bottom: 15%;
}

.single-column {
  width: 50% !important;
  float: left;
  padding: 1%;
}

.double-column li {
  width: 48% !important;
  float: left;
  margin-right: 2%;
}

.copy-tabs.selected-tab a {
  border: 1.5px solid #d4d4d4;
  border-bottom: 1.5px solid #f5f9fc;
  color: #fff;
  background-color: #3097D1;
  z-index: 20;
}

.copy-tabs a:hover {
  background: #3097D1 !important;
  color: #fff !important;
}

.copy-tabs a {
  padding: 2px 10px !important;
  color: #636b6f;
  border-radius: 0px !important;
}

.tabs-section-border {
  margin-top: -2px !important;
  border: 1.5px solid #d4d4d4 !important;
  z-index: 10;
  margin-left: 0%;
  padding: 3% 0% 0% 1% !important;
}

.file-uploader .modal-dialog .modal-content, .file-uploader .modal-dialog .modal-footer, .file-uploader .modal-dialog .modal-body {
  float: left;
  width: 100%;
}

.file-uploader .modal-dialog .modal-body .progress {
  margin-bottom: 0;
}

.file-uploader .modal-dialog .modal-body .inner-left input {
  border-radius: 0;
}

@media (min-width: 768px) {
  .file-uploader .modal-dialog {
    width: 380px;
    margin-top: 125px;
  }
  .file-uploader .modal-dialog .modal-body {
    padding: 25px 40px;
  }
  .file-uploader .modal-dialog .modal-header .close {
    color: #fff;
    opacity: 1;
    text-shadow: white 0px 0px;
  }
  .file-uploader .bfd-progress {
    height: 7px;
  }
  .file-uploader .bfd-progress .progress {
    height: 7px;
  }
  .file-uploader .bfd-progress .progress-bar {
    background: #0972bd;
  }
  .file-uploader .bfd-info {
    width: 100%;
    float: left;
    font-size: 13px;
    margin-top: 10px;
    display: none;
  }
  .file-uploader .bfd-progress {
    width: 100%;
    float: left;
    margin-top: 10px;
  }
}

.file-uploader .bfd-dropfield {
  display: inline;
  padding: 1px;
  float: left;
  width: 100%;
  margin-top: 0;
}

.file-uploader .bfd-dropfield-inner {
  border: 1px dashed #888;
  color: #888;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 11px;
  height: 130px !important;
  padding-top: 78px !important;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
}

.file-uploader .bfd-dropfield-inner em {
  color: #2179ee;
  font-style: normal;
}

.file-uploader .bfd-dropfield-inner:before {
  content: " ";
  background-image: url(/img/upload-icon.png);
  width: 64px;
  height: 44px;
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -36px;
}

.file-uploader .bfd-dropfield-inner.bfd-dragover {
  border-color: #bbb;
  color: #000;
}

.file-uploader .bfd-dropfield-inner.bfd-dragover .bfd-info {
  overflow: hidden;
  white-space: nowrap;
}

.file-uploader .bfd-dropfield-inner.bfd-dragover .bfd-error-message {
  text-align: center;
}

.file-uploader .bfd-dropfield-inner.bfd-dragover .bfd-remove {
  cursor: pointer;
}

.file-uploader .bfd-files {
  padding-left: 0;
  padding-right: 0;
}

.file-uploader .bfd-files .form-control {
  margin-bottom: 0;
}

.file-uploader .bfd-files .row {
  margin-left: 0;
  margin-right: 0;
}

.file-uploader .bfd-files .inner-left {
  width: 100%;
  float: left;
  margin-bottom: 0;
}

.file-uploader .bfd-files .uploadedfile {
  display: none;
}

.paddingRight0 {
  padding-right: 0 !important;
}

.paddingLeft0 {
  padding-left: 0 !important;
}

.bdf-files .inner-left {
  width: 100%;
  float: left;
  margin-bottom: 0;
}

label.modal-error {
  border-radius: 0;
  width: 100%;
  position: absolute;
  bottom: -22px;
  left: 0;
  font-size: 13px;
  /* padding: 7px; */
  font-weight: 400;
  padding-left: 15px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

label.file-size {
  float: left;
  width: 100%;
  text-align: right;
  color: #ABB1C9;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}

.activeInputs {
  border-bottom: 1px solid #cccccc !important;
  background: white !important;
  padding-right: 10px !important;
}

.table-single-error {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  color: #ac1818;
  background: #f8caca;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.view-documents-table {
  margin-left: 47px;
  font-size: 14px;
}

.view-documents-table thead {
  border-bottom: 1px solid #c2c2c2;
}

.view-documents-table tbody tr td {
  padding: 15px 0;
  border-bottom: 1px solid #c2c2c2;
}

.modal-table {
  margin-left: 47px;
  font-size: 14px;
}

.modal-table thead {
  border-bottom: 1px solid #c2c2c2;
}

.modal-table tbody tr td {
  padding: 10px 0;
  border-bottom: 1px solid #c2c2c2;
}
