@import"../client/twpmDashboard.scss";
@import "../../plugin/datePicker.min.scss";

.service-preview {
    float:left;
    width:100%;
    position:relative;
    padding: 0 25px;

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .topic-list {
        list-style: none;
        padding-left: 0;
        padding-bottom: 20px;

        .single-topic{
            text-transform: uppercase;
            padding: 11px 0 8px 8px;
            font-size: 12px;
            border-bottom: 1px solid #d4d4d4;
            cursor: pointer;
        }

        .fa-angle-right{
            line-height: 20px;
            padding-right: 30px;
            font-size: 16px;
        }
    }
    .sub-topic-list {
        list-style: none;
        padding-left: 3%;
        padding-bottom: 20px;
        .single-sub-topic{
            text-transform: uppercase;
            padding: 11px 0 8px 8px;
            font-size: 12px;
            border-bottom: 1px solid #d4d4d4;
            cursor: pointer;
        }
        .fa-angle-right{
            line-height: 20px;
            padding-right: 30px;
            font-size: 16px;
        }
    }
}
.topic-section{
    float: left;
    width: 100%;
}
.pre-topic-questions{
    align-items: center;
    display: flex;
    i{
        margin-left: 20%;
    }
}
.sub-topic-section{
    float: left;
    width: 100%;
    padding: 0% 2% !important;
}
.question-section { 
    float: left;
    width: 100%;
    position: absolute;
    top: 47px;
    background-color: #f5f9fc;
    .topic-heading{
        line-height: 31px;
        margin-top: 2%;
        .back-to-topics , .back-to-your-family{
            line-height: 23px;
            margin: 0 34px 0px 17px;
            cursor: pointer;
        }
        .fa-angle-right {
            padding-right: 33px;
        }
    }
    .sub-topic-heading{
        line-height: 31px;
        .back-to-topics , .back-to-your-family{
            line-height: 23px;
            margin: 0 34px 0px 17px;
            cursor: pointer;
        }
        .fa-angle-right {
            padding-right: 33px;
        }
    }
}
.topic-list-wrapper{
    /*z-index: -1;*/
    padding-left: 32px;

}
.sub-topic-list-wrapper{
    /*z-index: -1;*/
    padding-left: 32px;

}
.question-list-wrapper{

    padding: 1% 0%;

    .questions-list{
        float: left;
        width: 100%;
        list-style: none;
        .question-answer {
            float: left;
            width: 100%;
            .question-label{
                padding-left: 10px; 
                color: #bebebe;
            }
            .answer{
                input {
                    width: 100%;
                    text-align: right;
                    border: 0;
                    background: #f5f9fc;
                    outline-width: 0px;
                }
                input:focus {
                    border-bottom: 2px solid #74b7ef !important;
                    box-shadow: none;
                }
                input[type='radio'] {
                    width: 10%;
                }
                select {
                    background: transparent;
                }
                .fa-plus-circle {
                    line-height: 27px;
                }

                .placeholder-symbol {
                    border-bottom: none;
                    background: transparent;
                    font-size: 14px;
                    padding: 2.5px 0 0 3px;
                    font-weight: 700;
                    line-height: 20px;
                    /*                    border-bottom: 1px solid rgb(204, 204, 204);
                                        background: rgb(255, 255, 255);*/
                }
            }
            .contingent-beneficiary-table {
                width: 100%;
            }
            .deleteModal {
                text-align: center;
                width: 25px;
            }
            .right-arrow {
                text-align: center;
                width: 25px;
            }
            .service-files-table {
                width: 100% !important;
                margin-bottom: 15px;
                tr {
                    td.file-name-input {
                        padding: 4px 4px 4px 1px !important;
                        input {   
                            width: 100%;
                            border: 0;
                            background: #f5f9fc;
                            outline-width: 0px;
                            text-align:left;
                        }
                        input:focus {
                            border-bottom: 2px solid #74b7ef !important;
                            box-shadow: none;
                        }
                    }
                    td.file-select-type {
                        padding: 3px 10px 3px 1px !important;
                        .selectboxit-container {
                            margin-bottom: 0px;
                            width: 80% !important;
                            span {
                                text-align:center !important;
                            }
                        }
                    }
                    th {
                        padding: 4px 5px 4px 5px !important;
                        text-align: center;
                    }
                    th:first-of-type {
                        text-align: left;

                    }
                }
                .file-name-error {
                    border-radius: 0;
                    font-size: 12px;
                    padding: 1px 5px !important;
                    font-weight: 400;
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;
                }
                .fileUploadRow {
                    text-align: center;

                }
            }
            .upload-statement {
                list-style: none;
                margin-bottom: 26px;

                .modal-upload-file-input {
                    width: auto;
                    height: auto;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: 1;
                    margin-top: 0px;
                    cursor: pointer;
                }
                .upload-statement-button {
                    width: auto !important;
                    font-size: 13px;
                    padding: 3px 20px;
                    border-radius: 4px;
                    background: transparent;
                    border: 1px solid #1d99d4;
                    color: #1d99d4;
                    max-width: 80%;
                    font-weight: 700;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    display: inline-block;
                    overflow: hidden;
                }
                .uploaded-modal-file {
                    width: 100%;

                    td.modal-file-name {
                        font-size: 15px;
                        width: 80%;
                        padding: 5px 5px 5px 0px;
                    }
                }
            }
        }
        .modal-table {
            width: 95%;
            margin-left: 10px;
            font-size: 15px;
            .table-header-border {
                padding: 4% 0%;
                font-size: 16px;
                color: #bebebe;
                border-bottom: 2px solid #d4d4d4;
            }
            .table-border {
                border-top: 1px solid #bebebe;
            }
        }
        .type-heading{
            margin-bottom: 15px
        }
    }

    .main-tabset {
        margin-bottom: 2%;
        .nav {
            .main-tabset-item a {
                padding: 8px 15px;
            }
            .main-tabset-item.active {
                background-color: #1788e5 !important;
            }
        }
    }

}
.add-file-btn {
    .btn {
        background: none;
        padding: 2px 20px;
        color: #2a88bd !important;
    }
    .btn:hover {
        color: #2a88bd;
    }
}
.add-more-row {
    .btn {
        background: none;
        padding: 2px 20px;
        color: #2a88bd !important;
    }
    .btn:hover {
        color: #2a88bd;
    }
}
.products-list{
    cursor:pointer;
    padding: 0 15px !important;
    .nested-div{
        padding: 0 0 0px 9px !important;
        .position-absolute{
            top: 38% !important;
        }
        .service-title {
            font-size: 16px !important;
        }
    }
    &.selected{
        .nested-div{
            background-color: #2079ee;
            h4 {
                color:#fff !important;
            }
        }
    }
}


.service-preview {

    .back-to-topics,
    .back-to-sub-topics {
        font-size: 23px;
        cursor: pointer;
        margin-top: 5px;
    }

    .sub-topic-heading h3,
    .topic-heading h3 {
        border-bottom: 1.5px solid #d4d4d4 !important;
        display: inline-block;
        margin-top: 0px;
        padding: 0% !important;
        padding-bottom: 1% !important;
        margin-left: 3%;
        width: 44%;

    }
    .sub-topic-section {
        .sub-topic-list-wrapper{
            margin-left: 3%;
            padding-left: 5%;
        }
    }

    .question-list-wrapper {
        padding: 1% 0%;
        .questions-list {
            .type-file{
                font-size: 14px;  
            }
            .question-answer {
                .answer {
                    text-align: right;
                    font-size: 15px;
                    /*display: flex;*/
                    justify-content: flex-end;

                    label.radio-custom-label {
                        width: 100%;
                        text-align: left;
                        /*margin-left: 10%;*/
                    }
                    .service-input-validate {
                        display: inline-block;
                        max-width: 100%;
                        margin-bottom: 5px;
                        font-weight: 400;
                        color: #ac1818;
                        background: #f8caca;
                        font-size: 11px;
                        width: 100%;
                        text-align: center;
                    } 
                }
                select {
                    background: transparent;
                }
                table {
                    tr {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.service-modal-questions {
    .questions-list{
        padding: 0% 0% 1% 4%;   
    }
    .topic-heading .back-to-questions {
        font-size: 23px;
        cursor: pointer;
        margin-top: 5px;
    }
}

.service-preview-file {
    margin-bottom: 15%; 
}

.single-column {
    width: 50% !important;
    float:left;
    padding: 1%;
}
.double-column li {
    width: 48% !important;
    float: left;
    margin-right: 2%;
}
.copy-tabs.selected-tab a{
    border: 1.5px solid #d4d4d4;
    border-bottom: 1.5px solid #f5f9fc;
    color: #fff;
    background-color: #3097D1;
    z-index: 20;
}

.copy-tabs a:hover {
    background: #3097D1 !important;
    color: #fff !important;
}
.copy-tabs a {
    padding: 2px 10px !important;
    color: #636b6f; 
    border-radius: 0px !important;
}
.tabs-section-border {
    margin-top: -2px !important;
    border: 1.5px solid #d4d4d4 !important;
    z-index: 10;
    margin-left: 0%;
    padding: 3% 0% 0% 1% !important;
}
.file-uploader{
    .modal-dialog{
        .modal-content, .modal-footer, .modal-body{
            float: left;
            width:100%;
        }
        .modal-body{
            .progress{
                margin-bottom: 0;
            }
            .inner-left{
                input{
                    border-radius: 0;
                }
            }
        }
    }
}
.file-uploader{
    @media (min-width: 768px){
        .modal-dialog {
            width: 380px;
            margin-top: 125px;
            .modal-body{
                padding:25px 40px;
            }
            .modal-header {
                .close{
                    color: #fff;
                    opacity: 1;
                    text-shadow: rgb(255, 255, 255) 0px 0px;
                }
            }   
        }

        .bfd-progress{
            height:7px;
            .progress{
                height:7px;
            }
            .progress-bar{
                background: #0972bd;
            }
        }
        .bfd-info{
            width:100%;
            float: left;
            font-size:13px;
            margin-top:10px;
            display:none;
        }
        .bfd-progress{
            width:100%;
            float: left;
            margin-top:10px;
        }
    }

    .bfd-dropfield {
        display: inline;
        padding: 1px;
        float: left;
        width:100%;
        margin-top: 0;
    }

    .bfd-dropfield-inner {
        border:1px dashed #888;
        color: #888;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        padding: 11px;
        height: 130px !important;
        padding-top: 78px !important;
        border-radius:5px;
        position:relative;
        margin-top:15px;
        em {
            color: #2179ee;
            font-style: normal;
        }
        &:before {
            content: " ";
            background-image: url(/img/upload-icon.png);
            width: 64px;
            height: 44px;
            float: left;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -32px;
            margin-top: -36px;
        }
    }
    .bfd-dropfield-inner.bfd-dragover {
        border-color: #bbb;
        color: #000;

        .bfd-info {
            overflow: hidden;
            white-space: nowrap; 
        }
        .bfd-error-message {
            text-align: center; 
        }
        .bfd-remove {
            cursor: pointer; 
        }
    }
    .bfd-files{
        padding-left:0; 
        padding-right: 0;
        .form-control {
            margin-bottom: 0;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .inner-left {
            width:100%;
            float: left;
            margin-bottom:0;
        }
        .uploadedfile {
            display: none;
        }
    }
}
.paddingRight0 {
    padding-right: 0 !important;
}
.paddingLeft0 {
    padding-left: 0 !important;
}
.bdf-files {
    .inner-left {
        width: 100%;
        float: left;
        margin-bottom: 0;
    }
}
label.modal-error {
    border-radius: 0;
    width: 100%;
    position: absolute;
    bottom: -22px;
    left: 0;
    font-size: 13px;
    /* padding: 7px; */
    font-weight: 400;
    padding-left: 15px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
label.file-size {
    float: left;
    width: 100%;
    text-align: right;
    color: #ABB1C9;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}

.activeInputs {
    border-bottom: 1px solid rgb(204, 204, 204) !important;
    background: rgb(255, 255, 255) !important;
    padding-right: 10px !important;
}
.table-single-error {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    color: #ac1818;
    background: #f8caca;
    font-size: 11px;
    width: 100%;
    text-align: center;
} 

.view-documents-table {
    margin-left: 47px;
    font-size: 14px;
    thead {
        border-bottom: 1px solid #c2c2c2;
    }
    tbody {
        tr {
            td{
                padding: 15px 0;
                border-bottom: 1px solid #c2c2c2;
            }
        }
    }
}
.modal-table {
    margin-left: 47px;
    font-size: 14px;
    thead {
        border-bottom: 1px solid #c2c2c2;
    }
    tbody {
        tr {
            td{
                padding: 10px 0;
                border-bottom: 1px solid #c2c2c2;
            }
        }
    }
}