/*@import "../app.scss";*/
.header-bar {
  background-color: #fff;
  border-bottom: 2px solid #B6BCC5;
  padding: 10px 0px 10px 0px;
}

.header-bar .logo {
  height: 56px;
  width: 56px;
  float: left;
}

.header-bar p {
  float: left;
  color: #214876;
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  margin: 18px 0px 0px 23px;
  font-weight: 700;
}

.wrapper {
  background: white;
}

.wrapper .step {
  float: left;
  width: 100%;
  padding-top: 16px;
}

.wrapper .step p {
  font-size: 17px;
  color: #676767;
  font-weight: 700;
  padding-bottom: 16px;
  margin-bottom: 0;
}

.wrapper .step .blue-line {
  border-bottom: 3px solid #3f71ff;
}

.wrapper .step .grey-line {
  border-bottom: 3px solid #eaeaea;
}

.wrapper .site-heading-1 {
  padding-top: 50px;
}

.wrapper .site-heading-1 p {
  font-size: 16px;
  color: #979a9f;
}

.wrapper .site-heading-1 h2 {
  color: #343a41;
  font-size: 34px;
  font-weight: 700;
}

.wrapper .site-heading-1 .custom-row {
  margin-left: -8px;
  margin-right: -8px;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 65px;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper a {
  float: left;
  width: 100%;
  text-decoration: none;
  color: #636b6f;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper.selected a {
  color: #ffffff;
  cursor: pointer;
  background-color: #2179ee;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper.selected a p {
  color: #fff;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper a:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #2179ee;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper a:hover p {
  color: #fff;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper .annual-return {
  border: 1px solid grey;
  padding-bottom: 23px;
  padding-top: 11px;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper .annual-return h4 {
  font-size: 16px;
  font-weight: 700;
}

.wrapper .site-heading-1 .custom-row .plans-wrapper .annual-return p {
  font-size: 13px;
  margin-bottom: 0;
  font-style: italic;
}

.wrapper .debt h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}

.wrapper .next-page {
  text-align: center;
  padding-top: 50px;
  float: left;
  width: 100%;
}

.wrapper .next-page .btn-info {
  border-radius: 3px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 150px;
  padding: 10px;
  background-color: #2179EE;
}

.wrapper .next-page p {
  font-size: 17px;
  color: #979a9f;
  display: inline;
  cursor: pointer;
  text-decoration: none;
  padding-right: 36px;
}

.wrapper .padding {
  padding-top: 165px;
}

.wrapper .step5-padding {
  padding-top: 80px;
}

.wrapper .step8-padding {
  padding-top: 115px;
}

.footer {
  float: left;
  width: 100%;
  padding-top: 100px;
}

.footer .description {
  border-top: 2px solid lightgray;
  margin: 0px 0 11px;
  text-align: center;
  font-size: 13px;
  color: #bdb8b8;
  padding-top: 5px;
}

.footer p {
  font-size: 13px;
  color: #bdb8b8;
  border: none;
}

@media screen and (max-width: 767px) {
  .plans-wrapper .annual-return {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=signUpTwelve.css.map */
