/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.get-started .heading {
  font-weight: bold;
  font-size: 25px;
  padding: 7px 0px;
  color: #000;
}

.get-started p {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.get-started p span {
  color: #2179ee;
}

.get-started .grey-active-service {
  font-size: 14px;
}

.get-started .grey-active-service a {
  color: #c5cad0;
  font-weight: 100;
  padding-left: 0;
  cursor: pointer;
}

.get-started .grey-active-service a.active {
  color: #000;
}

.get-started .grey-active-service a:active, .get-started .grey-active-service a:focus {
  text-decoration: none;
}

.get-started .grey-active-service a:hover {
  color: #2179ee;
}

.get-started .grey-active-service span {
  padding-left: 16px;
  font-weight: 100;
}

.service-name {
  margin-right: 15px;
  padding: 0 15px;
}

.service-name .previous {
  width: 25px;
  float: left;
  background-color: #f5f9fc;
  height: 115px;
}

.service-name .service-options {
  width: calc(100% - 50px);
  float: left;
}

.service-name .service-options .recommended {
  font-size: 10px;
  color: #2179ee;
}

.service-name .next {
  width: 25px;
  float: left;
  background-color: #f5f9fc;
  height: 115px;
}

.service-name .nested-div {
  position: relative;
  height: 115px;
  background-color: #f5f9fc;
  padding: 0 15px;
}

.service-name .nested-div .position-absolute {
  top: 40%;
  position: absolute;
}

.service-name .nested-div .position-absolute i {
  font-size: 10px;
  color: #2179ee;
  display: inline-block;
  margin-top: -16px;
  float: left;
}

.service-name .nested-div .position-absolute p {
  font-size: 16px;
  line-height: 19px;
  padding: 0 15px 15px 0px;
  margin: 0;
}

.service-name .bg-blue {
  background-color: #2179ee;
  color: #fff;
}

.service-name .bg-blue a {
  color: #fff !important;
}

.service-name .p-inc-height {
  padding-top: 33px;
  color: #b6bcc4;
}

.open-service-name .row {
  margin-right: 45px;
}

.open-service-name .row .left-div {
  background-color: #f5f9fc;
  margin: 0 15px;
  padding: 15px 25px 30px 25px;
  color: #30363e;
  float: left;
  width: 100%;
}

.open-service-name .row .left-div a {
  font-size: 15px;
  color: #2179ee;
  float: right;
  background-color: #2179ee;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin-right: 40px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  padding: 13px 44px;
  border: 1px solid #2179ee;
  border-radius: 3px;
}

.open-service-name .row .left-div a:hover {
  background-color: #0863de;
}

.open-service-name .row .pd-left {
  padding-left: 25px;
}

.open-service-name .row i {
  font-size: 15px;
  color: #2179ee;
}

.open-service-name .row h2 {
  font-size: 25px;
  margin-top: 0;
  font-weight: bold;
  color: #000;
  border: 0;
  line-height: 0.7;
  padding-bottom: 0;
}

.open-service-name .row h5 {
  font-size: 16px;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 0;
  color: #000;
}

.open-service-name .row p {
  font-size: 16px;
  padding: 0;
  font-weight: 400;
  color: #73777e;
}

.service-options.owl-carousel {
  margin-bottom: 40px;
}

.service-options.owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.service-options.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.service-options.owl-carousel .active-list, .service-options.owl-carousel .products-list {
  cursor: pointer;
}

.service-options.owl-carousel .active-list.selected .nested-div, .service-options.owl-carousel .products-list.selected .nested-div {
  background-color: #2079ee;
}

.service-options.owl-carousel .active-list.selected .nested-div i, .service-options.owl-carousel .active-list.selected .nested-div p, .service-options.owl-carousel .products-list.selected .nested-div i, .service-options.owl-carousel .products-list.selected .nested-div p {
  color: #fff;
}

/*services-page-changes*/
.slide-left, .slide-right {
  color: #999999;
}

/*active-services */
.active-services .left-div {
  margin-left: -15px;
}

.active-services .left-div .pending-items, .active-services .left-div .documents-list {
  background-color: #f5f9fc;
  border: 1px solid #d3e0e9;
  border-radius: 4px;
}

.active-services .left-div .pending-items {
  padding: 15px 15px;
  margin-bottom: 30px;
}

.active-services .left-div .pending-items ul {
  list-style: none;
  padding-left: 0;
}

.active-services .left-div .pending-items ul li a {
  cursor: pointer;
  color: #000;
}

.active-services .left-div .documents-list {
  padding: 15px 15px;
}

.active-services .left-div .documents-list .border-bottom {
  border-bottom: 1px solid #eaedef;
  padding-bottom: 25px;
}

.active-services .left-div .documents-list .border-bottom a {
  cursor: pointer;
  color: #000;
}

.active-services .left-div .documents-list .border-bottom a .red-box {
  background-color: red;
  width: 39px;
  height: 39px;
  display: inline-block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 6px;
}

.active-services .left-div .documents-list .border-bottom a .file-name {
  padding-left: 15px;
  font-size: 20px;
}

.active-services .right-div {
  /*padding-right: 45px;*/
}

.active-services .right-div .que-ans-list {
  background-color: #f5f9fc;
  padding-bottom: 95px;
}

.active-services .right-div .que-ans-list .panel-heading {
  background-color: #f5f9fc;
}

.active-services .right-div .que-ans-list button {
  float: right;
  background-color: #2179ee;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin-right: 30px;
  font-weight: 600;
  color: #fff;
  padding: 13px 44px;
  border: 1px solid #2179ee;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 17px;
  text-transform: uppercase;
}

.active-services .right-div .que-ans-list button:hover {
  background-color: #0863de;
}

.active-services .right-div #services-question-form {
  padding: 0;
  margin: 0;
}

.active-services .right-div #services-question-form .sections .section-left {
  margin-left: 0;
}

.active-services .right-div #services-question-form .sections .section-left h2 {
  margin-top: 0;
}

.active-services .right-div #services-question-form .sections .section-left p {
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

.active-services .right-div #services-question-form .sections .section-right {
  margin-top: 0;
}

.active-services .right-div #services-question-form .sections .section-right .inner-left input {
  width: 100%;
}

.active-services .right-div #services-question-form .sections .horizontal input {
  min-height: 55px;
  margin: 16px 20px 16px 0;
  width: 45%;
  float: none;
  font-family: inherit;
  padding: 0 15px;
}

.active-services .right-div #services-question-form .sections .horizontal .headings {
  width: 50%;
}

.active-services .right-div #services-question-form .sections .horizontal .headings .input-title {
  display: inline;
  float: none;
  width: 0;
  margin-top: 0;
  text-transform: capitalize;
}

.active-services .right-div #services-question-form .update-pan-card h2 {
  color: #000;
}

.active-services .p-0 {
  padding: 0;
}

.red {
  background-color: red;
  height: 45px;
  width: 45px;
}

/*# sourceMappingURL=twpmDashboard.css.map */
