@extends('frontend.layouts.client')

@section('title')
@stop

@section('meta_description')
@stop
@section('after-styles')
{{ Html::style(elixir('css/single-service-questions.css')) }}
@stop
@section('content')
<div class="dashboard ">
    <div id="dashboard-content">
        <div class="container-fluid wrapper">
            <?php $activeClass4 = 'active'; ?>
            @include('frontend.includes.client_sidebar')
            <div class="right-content back-div">
                <?php
                $page_title = $currentService->title;
                ?>
                @include('frontend.includes.client_header')
                <div class="col-sm-12 recommended-service-div">
                    {{ Form::open([ 'route' => 'frontend.client.saveServiceQuestionAnswer', 'id' => 'services-question-form' , 'class' => 'col-sm-11 col-xs-11']) }}
                    {{ Form::input('hidden','serviceId',$currentService->id) }}
                    <h3></h3> 
                    <fieldset>
                        <section class="sections">
                            <div class="col-sm-12 ">
                                <div class="col-md-4 col-xs-11 section-left">
                                    <div class="annual-portfolio">
                                        <p style="margin-bottom: 0;">LIABILITIES</p>
                                    </div>
                                    <h2>Other non-business related debts.</h2>
                                    <p></p>
                                </div>
                                <div class="col-sm-6 col-sm-offset-1 section-right">
                                    {{ Form::input('hidden','data[203][questionName]','Do you have any other non-business related debts?') }}
                                    <div class="col-sm-8 inner-left">
                                        {{ Form::label('label', 'Do you have any other non-business related debts?') }}
                                        <label class="radio-custom-label">{{ Form::radio('data[203][answer][semiAnnualODConfirmation]', 'yes',false,['class'=>'semiAnnualODConfirmation']) }}Yes
                                            <span class="radio-icon"></span>
                                        </label>
                                        <label class="radio-custom-label">{{ Form::radio('data[203][answer][semiAnnualODConfirmation]', 'no',false,['class'=>'semiAnnualODConfirmation']) }}No
                                            <span class="radio-icon"></span>
                                        </label>
                                    </div>
                                    <!-- info table starts -->
                                    <div class="col-sm-12 paddingLeft0 inner-left SemiAnnualODDetailTable" style="display: none;" >
                                        <div class="col-sm-12 ">
                                            <div class="col-sm-12 ">
                                                <div class="row">
                                                    <div class="add-child">
                                                        <h6> List other debts.</h6>

                                                        <table id='semiAnnualCCInfo'>
                                                            <thead>
                                                                <tr> 
                                                                    <td>Item</td> 
                                                                    <td> </td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="SemiAnnualCardInfo">
                                                                </tr> 
                                                            </tbody>
                                                        </table> 
                                                        <div class="col-md-4 ">
                                                            <div class="row">
                                                                <button type='button' class="SemiAnnualCCBTN add-dependent" style="cursor:pointer; background: transparent; border: 1px solid #048cdc; color: #018aff; margin-top: 24px; border-radius: 3px;" data-toggle="modal" data-target="#SemiAnnualCCModal">Add debt</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- info table finsih -->

                                </div>




                                <!-- modal starts --> 
                                <div class="sections">
                                    <div id="SemiAnnualCCModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style= "background-color: #0972bd; color:#fff; border: none;">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">ADD NON-BUSINESS DEBT</h4>
                                                </div>
                                                <div class="modal-body" style="overflow: hidden;">
                                                    <div class="row">

                                                        <!-- first step starts -->
                                                        <div class=" setup-content" id="step-1">
                                                            <div class="row">
                                                                <div class="col-sm-6 col-sm-offset-3 section-right">
                                                                    <!-- first step content starts here -->
                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'Give this debt a nickname?') }}
                                                                        {{ Form::input('text','data[203][answer][semi-annual-od-debt-nickname]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODDebtNickname', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'Nick Name']) }}
                                                                    </div>

                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'In whose name is this debt?') }}
                                                                        <i class="fa fa-angle-down" aria-hidden="true" style="position:absolute; right: 28%; z-index: 1; top: 42px; font-size: 16px;"></i>
                                                                        <select class="status valid semiAnnualODOnDebtName"  id="ODothers" name="data[3][answer][semi-annual-od-on-debt-name]" required="" aria-invalid="false" style="display: none;">
                                                                            <option selected="" disabled="" value="">SELECT</option>
                                                                            <option value="1">My Name</option>
                                                                            <option value="2">Spouse / Partner</option>
                                                                            <option value="3">Joint</option>
                                                                            <option value="4">Other</option>
                                                                        </select> 
                                                                    </div> 


                                                                    <div class="col-sm-12 inner-left odOtherNames" style="display: none;">
                                                                        {{ Form::label('label', 'Their Name?') }}
                                                                        {{ Form::input('text','data[203][answer][semi-annual-od-on-debt-other-name]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODOnDebtOtherName', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'Name']) }}
                                                                    </div>


                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'For what were the proceeds of this loan used?') }}
                                                                        {{ Form::input('text','data[203][answer][semiAnnualODLoanUsedProceed]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODLoanUsedProceed', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'']) }}
                                                                    </div>


                                                                    <div class="col-sm-9 paddingRight0">
                                                                        <button class="nextBtn" style="border-radius: 3px; color: #fff; font-family: Lato; font-size: 18px; line-height: 24px; text-align: center; width: 150px;  padding: 12px 35px; background-color: #2179EE; text-decoration: none;  border: none; margin-left: 62px; margin-top: 40px; float: right; margin-bottom: 40px;" type="button" >Next</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- first step finsih -->
                                                        <!-- second step starts -->
                                                        <div class=" setup-content" id="step-2" style="display: none">
                                                            <div class="row">
                                                                <div class="col-sm-6 col-sm-offset-3 section-right">

                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'Who is the lender?') }}
                                                                        {{ Form::input('number','data[10][answer][semiAnnual credit point balance]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODLender', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'']) }}
                                                                    </div>

                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'When was this loan originated?') }}
                                                                        {{ Form::input('text','answer[SemgiiAnnual-consolidation date][202]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control datetimepicker SemiAnnualODConsolidationLoanDate', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'MM/DD/YYYY']) }}
                                                                    </div>

                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'What is the term of loan in months?') }}
                                                                        {{ Form::input('number','data[10][answer][semi-annual-od-loan-term]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODLoanTerm', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'']) }}
                                                                    </div>

                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'What is the rate of interest?') }}
                                                                        {{ Form::input('number','data[10][answer][semi-annual-od-interest-rate]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODInterestRate', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'%']) }}
                                                                    </div>

                                                                    <div class="col-sm-9 paddingRight0">
                                                                        <!--id='SemiAnnualAddCardBtn'-->  
                                                                        <button  class='nextBtn pull-right' type="button" style="border-radius: 3px; color: #fff;
                                                                                 font-family: Lato;
                                                                                 font-size: 18px;
                                                                                 line-height: 24px;
                                                                                 text-align: center;
                                                                                 width: 150px;
                                                                                 padding: 12px 35px;
                                                                                 background-color: #2179EE;
                                                                                 text-decoration: none;
                                                                                 border: none;
                                                                                 margin-top: 40px;
                                                                                 margin-bottom: 40px;">
                                                                            Next
                                                                        </button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- second step finsih -->

                                                        <!-- third step starts --> 
                                                        <div class=" setup-content" id="step-3" style="display: none">
                                                            <div class="row">
                                                                <div class="col-sm-6 col-sm-offset-3 section-right">
                                                                    <div class="col-sm-12 inner-left">
                                                                        <i class="fa fa-dollar"></i>
                                                                        {{ Form::label('label', 'What was the original loan amount?') }}
                                                                        {{ Form::input('number','data[10][answer][semiAnnual cc monthly payment]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODOriginalLoanAmount', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'$']) }}
                                                                    </div>

                                                                    <div class="col-sm-12 inner-left">
                                                                        <i class="fa fa-dollar"></i>
                                                                        {{ Form::label('label', 'What is the current balance?') }}
                                                                        {{ Form::input('number','data[10][answer][semiAnnual cc pay per month]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODCurrentBalance', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'$']) }}
                                                                    </div>


                                                                    <div class="col-sm-12 inner-left">
                                                                        <i class="fa fa-dollar "></i>
                                                                        {{ Form::label('label', 'What is the minimum monthly payemnt?') }}
                                                                        {{ Form::input('number','data[10][answer][semiAnnual cc new purchases]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODMinMonthlyPayment', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'$']) }}
                                                                    </div>

                                                                    <div class="col-sm-12 inner-left">
                                                                        <i class="fa fa-dollar"></i>
                                                                        {{ Form::label('label', 'What do you typically pay per month?') }}
                                                                        {{ Form::input('number','data[10][answer][semiAnnual cc credit limit]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODPayPerMonth', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'$']) }}
                                                                    </div>

                                                                    <div class="col-sm-9 paddingRight0">
                                                                        <!--id='SemiAnnualAddCardBtn'-->  
                                                                        <button  class='nextBtn pull-right' type="button" style="border-radius: 3px; color: #fff;
                                                                                 font-family: Lato;
                                                                                 font-size: 18px;
                                                                                 line-height: 24px;
                                                                                 text-align: center;
                                                                                 width: 150px;
                                                                                 padding: 12px 35px;
                                                                                 background-color: #2179EE;
                                                                                 text-decoration: none;
                                                                                 border: none;
                                                                                 margin-top: 40px;
                                                                                 margin-bottom: 40px;">
                                                                            Next
                                                                        </button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- tihrd step finsih -->

                                                        <!-- fourth step starts --> 
                                                        <div class=" setup-content" id="step-3" style="display: none">
                                                            <div class="row">
                                                                <div class="col-sm-6 col-sm-offset-3 section-right">
                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'Is this a revolving loan?') }}
                                                                        <label class="radio-custom-label">{{ Form::radio('data[10][semiAnnualODRevolvingLoan]', 'yes',false,['class'=>'semiAnnualODRevolvingLoan','required'=>'required']) }}Yes
                                                                            <span class="radio-icon"></span>
                                                                        </label>
                                                                        <label class="radio-custom-label">{{ Form::radio('data[10][semiAnnualODRevolvingLoan]', 'no',false,['class'=>'semiAnnualODRevolvingLoan','required'=>'required']) }}No
                                                                            <span class="radio-icon"></span>
                                                                        </label>
                                                                    </div>


                                                                    <div class="col-sm-12 inner-left">
                                                                        {{ Form::label('label', 'Is their Collateral pledged against this loan (i.e, house, car, etc.)?') }}
                                                                        <label class="radio-custom-label">{{ Form::radio('data[10][answer][semi-annual-od-collateral-pledge]', 'yes',false,['class'=>'semiAnnualODCollateralPledge','required'=>'required']) }}Yes
                                                                            <span class="radio-icon"></span>
                                                                        </label>
                                                                        <label class="radio-custom-label">{{ Form::radio('data[10][answer][semi-annual-od-collateral-pledge]', 'no',false,['class'=>'semiAnnualODCollateralPledge','required'=>'required']) }}No
                                                                            <span class="radio-icon"></span>
                                                                        </label>
                                                                    </div>

                                                                    <div class="col-sm-12 inner-left">
                                                                        <i class="fa fa-dollar"></i>
                                                                        {{ Form::label('label', 'Describe the collateral?') }}
                                                                        {{ Form::input('number','data[10][answer][semiAnnual cc credit limit]',null,['data-validation'=> '' , 'class'=>'custom-validation form-control semiAnnualODCollateralDescribe', 'data-rule-regex'=>"false", 'required'=>true , 'placeholder'=>'$']) }}
                                                                    </div>

                                                                    <div class="col-sm-9 paddingRight0">
                                                                        <!--id='SemiAnnualAddCardBtn'-->  
                                                                        <button  id="SemiAnnualCCBTNnew" class='finishBtn SemiAnnualAddCardBtn pull-right' type="button" style="border-radius: 3px; color: #fff;
                                                                                 font-family: Lato;
                                                                                 font-size: 18px;
                                                                                 line-height: 24px;
                                                                                 text-align: center;
                                                                                 width: 150px;
                                                                                 padding: 12px 35px;
                                                                                 background-color: #2179EE;
                                                                                 text-decoration: none;
                                                                                 border: none;
                                                                                 margin-top: 40px;
                                                                                 margin-bottom: 40px;">
                                                                            Finsih
                                                                        </button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- fourth step finsih -->


                                                        <!-- steps form finsih -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </section>
                    </fieldset>
                    {{ Form::close() }}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal finsih -->

<!-- modal section finish -->
@stop
@section('after-scripts')
{{ Html::script(elixir('js/annual-portfolio-review.js')) }}
<script>
    $(document).ready(function () {
        $('.nextBtn, .finishBtn').on('click', function () {
            var $this = $(this);
            var form = $this.closest('form');
            if (form.valid() === true) {
                console.log('2');
                var nextDiv = $this.closest('.setup-content').next('.setup-content');
                if (nextDiv.length) {
                    nextDiv.siblings().hide();
                    nextDiv.show();
                } else {
                    if ($('.finishBtn').hasClass('edit-form')) {
                        console.log('11');
                        $('#SemiAnnualCCModal').modal('hide');
                        SemiAnnualHELOCDetails[$(this).attr('data-index')] = {
                            semiAnnualODDebtNickname: $('#SemiAnnualCCModal .semiAnnualODDebtNickname').val(),
                            semiAnnualODOnDebtName: $('#SemiAnnualCCModal .semiAnnualODOnDebtName').val(),
                            semiAnnualODOnDebtOtherName: $('#SemiAnnualCCModal .semiAnnualODOnDebtOtherName').val(),
                            semiAnnualODLoanUsedProceed: $('#SemiAnnualCCModal .semiAnnualODLoanUsedProceed').val(),

                            semiAnnualODLender: $('#SemiAnnualCCModal .semiAnnualODLender').val(),
                            SemiAnnualODConsolidationLoanDate: $('#SemiAnnualCCModal .SemiAnnualODConsolidationLoanDate').val(),
                            semiAnnualODLoanTerm: $('#SemiAnnualCCModal .semiAnnualODLoanTerm').val(),
                            semiAnnualODInterestRate: $('#SemiAnnualCCModal .semiAnnualODInterestRate').val(),

                            semiAnnualODOriginalLoanAmount: $('#SemiAnnualCCModal .semiAnnualODOriginalLoanAmount').val(),
                            semiAnnualODCurrentBalance: $('#SemiAnnualCCModal .semiAnnualODCurrentBalance').val(),
                            semiAnnualODMinMonthlyPayment: $('#SemiAnnualCCModal .semiAnnualODMinMonthlyPayment').val(),
                            semiAnnualODPayPerMonth: $('#SemiAnnualCCModal .semiAnnualODPayPerMonth').val(),

                            semiAnnualODRevolvingLoan: $('#SemiAnnualCCModal .semiAnnualODRevolvingLoan').val(),
                            semiAnnualODCollateralPledge: $('#SemiAnnualCCModal .semiAnnualODCollateralPledge').val(),
                            semiAnnualODCollateralDescribe: $('#SemiAnnualCCModal .semiAnnualODCollateralDescribe').val()
                        },
                                $('#semiAnnualCCInfo tbody tr[data-index=' + $(this).attr('data-index') + ']').html('<td>' + $('#SemiAnnualCCModal .semiAnnualODDebtNickname').val() + '</td>  <td><i class="fa fa-pencil" aria-hidden="true"></i></td> <td><i class="fa fa-trash"  aria-hidden="true"></i></td>');
                    } else {
                        console.log('22');
                        $('.SemiAnnualCCBTN').trigger('click');
                        $('#SemiAnnualCCModal').modal('hide');
                    }
                }
            }
            return false;
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("select").selectBoxIt();
        $('.datetimepicker').datetimepicker({
            format: 'MM/DD/YYYY'
        });
        $(document).on('change', '.semiAnnualODConfirmation', function () {
            if ($(this).val() === 'yes') {
                $('.SemiAnnualODDetailTable').show();
            } else {
                $('.SemiAnnualODDetailTable').hide();
            }
        });

        $(document).on('change', '.semiAnnual-cashback-confirmation', function () {
            if ($(this).val() === 'yes' || $(this).prop('checked', true).val() === 'yes') {
                $('.CashBackYesOption ').show();
            } else {
                $('.CashBackYesOption, .exchangeforCasgYesOption').hide();
            }
        });

        $(document).on('change', '.semiAnnualexchange-point-cash', function () {
            if ($(this).val() === 'yes') {
                $('.exchangeforCasgYesOption ').show();
            } else {
                $('.exchangeforCasgYesOption').hide();
            }
        });

        var SemiAnnualHELOCDetails = [];
        $(document).on('click', '.SemiAnnualCCBTN', function () {
            $('#SemiAnnualCCModal #step-1').show();
            $('#SemiAnnualCCModal #step-2,  #SemiAnnualCCModal #step-3 ').hide();
            $('#SemiAnnualCCModal').find('.error-alert').remove();
            $('#SemiAnnualCCModal input[type="text"], #SemiAnnualCCModal input[type="number"]').val('');
            $('#SemiAnnualCCModal input[type="radio"]').prop('checked', false);
            if ($('#SemiAnnualCCModal .semiAnnualODDebtNickname').val() && $('#SemiAnnualCCModal .semiAnnualODDebtNickname').val()) {
                if ($(this).hasClass('edit-form')) {
                    console.log('edit form');
                    SemiAnnualHELOCDetails[$(this).attr('data-index')] = {
                        semiAnnualODDebtNickname: $('#SemiAnnualCCModal .semiAnnualODDebtNickname').val(),
                        semiAnnualODOnDebtName: $('#SemiAnnualCCModal .semiAnnualODOnDebtName').val(),
                        semiAnnualODOnDebtOtherName: $('#SemiAnnualCCModal .semiAnnualODOnDebtOtherName').val(),
                        semiAnnualODLoanUsedProceed: $('#SemiAnnualCCModal .semiAnnualODLoanUsedProceed').val(),

                        semiAnnualODLender: $('#SemiAnnualCCModal .semiAnnualODLender').val(),
                        SemiAnnualODConsolidationLoanDate: $('#SemiAnnualCCModal .SemiAnnualODConsolidationLoanDate').val(),
                        semiAnnualODLoanTerm: $('#SemiAnnualCCModal .semiAnnualODLoanTerm').val(),
                        semiAnnualODInterestRate: $('#SemiAnnualCCModal .semiAnnualODInterestRate').val(),

                        semiAnnualODOriginalLoanAmount: $('#SemiAnnualCCModal .semiAnnualODOriginalLoanAmount').val(),
                        semiAnnualODCurrentBalance: $('#SemiAnnualCCModal .semiAnnualODCurrentBalance').val(),
                        semiAnnualODMinMonthlyPayment: $('#SemiAnnualCCModal .semiAnnualODMinMonthlyPayment').val(),
                        semiAnnualODPayPerMonth: $('#SemiAnnualCCModal .semiAnnualODPayPerMonth').val(),

                        semiAnnualODRevolvingLoan: $('#SemiAnnualCCModal .semiAnnualODRevolvingLoan').val(),
                        semiAnnualODCollateralPledge: $('#SemiAnnualCCModal .semiAnnualODCollateralPledge').val(),
                        semiAnnualODCollateralDescribe: $('#SemiAnnualCCModal .semiAnnualODCollateralDescribe').val()
                    },
                            $('#semiAnnualCCInfo tbody tr[data-index=' + $(this).attr('data-index') + ']').html('<td>' + $('#SemiAnnualCCModal .semiAnnualODDebtNickname').val() + '</td>  <td><i class="fa fa-pencil" aria-hidden="true"></i></td> <td><i class="fa fa-trash"  aria-hidden="true"></i></td>');
                } else {
                    $('#semiAnnualCCInfo tbody').append('<tr data-index=' + SemiAnnualHELOCDetails.length + '><td>' + $('#SemiAnnualCCModal .semiAnnualODDebtNickname').val() + '</td>   <td> <i class="fa fa-pencil" aria-hidden="true"></i></td><td><i class="fa fa-trash"  aria-hidden="true"></i></td></tr>');
                    SemiAnnualHELOCDetails.push({
                        semiAnnualODDebtNickname: $('#SemiAnnualCCModal .semiAnnualODDebtNickname').val(),
                        semiAnnualODOnDebtName: $('#SemiAnnualCCModal .semiAnnualODOnDebtName').val(),
                        semiAnnualODOnDebtOtherName: $('#SemiAnnualCCModal .semiAnnualODOnDebtOtherName').val(),
                        semiAnnualODLoanUsedProceed: $('#SemiAnnualCCModal .semiAnnualODLoanUsedProceed').val(),

                        semiAnnualODLender: $('#SemiAnnualCCModal .semiAnnualODLender').val(),
                        SemiAnnualODConsolidationLoanDate: $('#SemiAnnualCCModal .SemiAnnualODConsolidationLoanDate').val(),
                        semiAnnualODLoanTerm: $('#SemiAnnualCCModal .semiAnnualODLoanTerm').val(),
                        semiAnnualODInterestRate: $('#SemiAnnualCCModal .semiAnnualODInterestRate').val(),

                        semiAnnualODOriginalLoanAmount: $('#SemiAnnualCCModal .semiAnnualODOriginalLoanAmount').val(),
                        semiAnnualODCurrentBalance: $('#SemiAnnualCCModal .semiAnnualODCurrentBalance').val(),
                        semiAnnualODMinMonthlyPayment: $('#SemiAnnualCCModal .semiAnnualODMinMonthlyPayment').val(),
                        semiAnnualODPayPerMonth: $('#SemiAnnualCCModal .semiAnnualODPayPerMonth').val(),

                        semiAnnualODRevolvingLoan: $('#SemiAnnualCCModal .semiAnnualODRevolvingLoan').val(),
                        semiAnnualODCollateralPledge: $('#SemiAnnualCCModal .semiAnnualODCollateralPledge').val(),
                        semiAnnualODCollateralDescribe: $('#SemiAnnualCCModal .semiAnnualODCollateralDescribe').val()
                    });
                }
                $('#SemiAnnualCCModal .semiAnnualODDebtNickname, #SemiAnnualCCModal .semiAnnualODOnDebtOtherName').val('');
                $('#SemiAnnualCCModal .semiAnnualODOnDebtName, #SemiAnnualCCModal .semiAnnualODOnDebtName').val('');
            } else {

            }
        });
        $(document).on('click', '#semiAnnualCCInfo .fa-pencil', function () {
            $('#SemiAnnualCCModal').modal();
            $('#SemiAnnualCCModal #step-1').show();
            $('#SemiAnnualCCModal #step-2, #SemiAnnualCCModal #step-3').css('display', 'none');
            $('#SemiAnnualCCModal .inner-left input').parent().find('label.error').remove();
            var index = $(this).closest('tr').attr('data-index');
            SemiAnnualCCDetails = SemiAnnualHELOCDetails[index];
            $('#SemiAnnualCCModal .semiAnnualODDebtNickname').val(SemiAnnualCCDetails.semiAnnualODDebtNickname);
            $('#SemiAnnualCCModal .semiAnnualODOnDebtName').val(SemiAnnualCCDetails.semiAnnualODOnDebtName);
            $('#SemiAnnualCCModal .semiAnnualODOnDebtOtherName').val(SemiAnnualCCDetails.semiAnnualODOnDebtOtherName);
            $('#SemiAnnualCCModal .semiAnnualODLoanUsedProceed').val(SemiAnnualCCDetails.semiAnnualODLoanUsedProceed);

            $('#SemiAnnualCCModal .semiAnnualODLender').val(SemiAnnualCCDetails.semiAnnualODLender);
            $('#SemiAnnualCCModal .SemiAnnualODConsolidationLoanDate').val(SemiAnnualCCDetails.SemiAnnualODConsolidationLoanDate);
            $('#SemiAnnualCCModal .semiAnnualODLoanTerm').val(SemiAnnualCCDetails.semiAnnualODLoanTerm);
            $('#SemiAnnualCCModal .semiAnnualODInterestRate').val(SemiAnnualCCDetails.semiAnnualODInterestRate);

            $('#SemiAnnualCCModal .semiAnnualODOriginalLoanAmount').val(SemiAnnualCCDetails.semiAnnualODOriginalLoanAmount);
            $('#SemiAnnualCCModal .semiAnnualODCurrentBalance').val(SemiAnnualCCDetails.semiAnnualODCurrentBalance);
            $('#SemiAnnualCCModal .semiAnnualODMinMonthlyPayment').val(SemiAnnualCCDetails.semiAnnualODMinMonthlyPayment);
            $('#SemiAnnualCCModal .semiAnnualODPayPerMonth').val(SemiAnnualCCDetails.semiAnnualODPayPerMonth);

            $('#SemiAnnualCCModal .semiAnnualODRevolvingLoan[value=' + SemiAnnualCCDetails.semiAnnualODRevolvingLoan + ']').prop('checked', true);
            $('#SemiAnnualCCModal .semiAnnualODCollateralPledge[value=' + SemiAnnualCCDetails.semiAnnualODCollateralPledge + ']').prop('checked', true);

            $('#SemiAnnualCCBTNnew').addClass('edit-form');
            $('#SemiAnnualCCBTNnew').attr('data-index', index);
        });
        $(document).on('click', '.SemiAnnualCCBTN', function () {
            $('.SemiAnnualCCBTN').removeClass('edit-form');
            $('#SemiAnnualCCModal input[type="text"], #SemiAnnualCCModal input[type="number"]').val('');
            $('#SemiAnnualCCModal input[type="radio"]').prop('checked', false);
        });
        $(document).on('click', '.fa-trash', function () { // <-- changes
            $(this).closest('tr').remove();
            return false;
        });


        $("#ODothers").on('change', function () {
            if ($(this).val() === '4') {
                $('.odOtherNames').show();
            } else {
                $('.odOtherNames').hide();
            }
        });

    });

</script>
@stop