<!-- uploader starts -->
                                                                   
<div class="col-sm-12 paddingLeft0 inner-left paddingRight0 otherlong-care-info-statement js">
                                                                        <input type="file" name="other_long_care_info_statement" id="file-21" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
                                                                        <label for="file-21" class=" upload-statment upload-statement-click" style="font-size:14px; color: #0991e1; width: auto !important; font-weight: normal;  border: 1px solid #0991e1;"> 
                                                                            <span style="font-size: 0"></span>Upload file 
                                                                        </label>

                                                                        <label  class="btn upload-statment-noclick hide" style="color: #0991e1; box-shadow: 0 0 0 ; font-size:14px;  border: 1px solid #0991e1; width: auto !important; cursor: not-allowed;" > 
                                                                            Upload  file
                                                                        </label>

                                                                        <div class="other-long-term-care-info hide"> 
                                                                            <div class="col-sm-12 row inner-left" style="display:block">
                                                                                <table>
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <td style="font-size: 13px;">Documents</td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- uplaoder finish -->

$(document).each(function () {
            $(document).on('change', '.otherlong-care-info-statement input[type=file]', function () {
                if ($('.otherlong-care-info-statement .upload-statment span').text().length > 0) {
                    $('.otherlong-care-info-statement .other-long-term-care-info').removeClass('hide');
                    $('.otherlong-care-info-statement .other-long-term-care-info table tbody').append('<tr style="border-bottom:0"><td><span class="filename"></span><input type="hidden" name="upload_file_path" class="uploadFilePath"> </td></td>   <td style="text-align:right;"><i class="fa fa-trash"></td></tr>');
                    $(".other-long-term-care-info .filename").text($('.otherlong-care-info-statement .upload-statment span').text());
                    $(".otherlong-care-info-statement .upload-statement-click").addClass('hide');
                    $(".otherlong-care-info-statement .upload-statment-noclick ").removeClass('hide').css('cursor', 'not-allowed');
                    var otherLongTermCareInfo = new FormData();
                    otherLongTermCareInfo.append('file', $('[name=other_long_care_info_statement]')[0].files[0]);
                    $.ajax({
                        type: "post",
                        url: ajaxUploadDocument,
                        async: true,
                        data: otherLongTermCareInfo,
                        cache: false,
                        contentType: false,
                        processData: false,
                        timeout: 60000,
                        success: function (response) {
                            $(".other-long-term-care-info .uploadFilePath").val(response.message);
                        },
                        xhr: function () {
                            var myXhr = $.ajaxSettings.xhr();
                            return myXhr;
                        }

                    });

                }
            });
        });
        
        $('.otherlong-care-info-statement table').on('click', '.fa-trash', function () {
            $(this).closest('tr').remove();
            $(".otherlong-care-info-statement .upload-statement-click").removeClass('hide');
            $(".otherlong-care-info-statement .upload-statment-noclick").addClass('hide').css('cursor', 'pointer');
            $('.otherlong-care-info-statement .upload-statment span').text('');
        });