body {
	padding-top: 20px;
}
header {
	margin-bottom: 10px;
}
h1 {
	margin: auto;
	text-align: center;
	padding: 10 0 10 0px;
	font-family: monospace;
	background: #f6f0f0;
	width: 300px
}

.calendar {
	margin: auto;
	height: 300px;
	width: 300px;
	background: #89d8de;
	/*text-align: center;*/

}

.months {
	float: left;
	margin: 15 0 0 12px;
	font-family: initial;
	padding-left: 5px;

	font-size: 17px;	
}
.years {
	float: left;
	margin: 15 0 0 12px;
	font-family: initial;
	font-size: 17px;	
	
}
table {
	margin: auto;
	padding-top: 10px;
	margin-bottom: 0px;
}
th{
	padding: 7 8 0 8px;
}
.days tr {
	font-size: 12px;
	text-align: center;
}
td {
	padding: 10px;
}

#full-date {
	width: 100%;
	height: 35px;
	background: white;
	border: 1px solid #cfc9c9;
	text-align: center;
	font-size: 20px;
	padding-top: 2px;
}
td:hover,.intro {
	color: white;
	font-weight: bold;
	background: #76d876;
	text-decoration: underline;
}
