#chatstack-container * {
  font-family: "Lato Regular", sans-serif;
  font-size-adjust: none;
  font-size: 100%;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 400;
  font: normal normal 100% "Lato Regular", sans-serif;
  text-align: left;
  text-align-last: auto;
  text-decoration: none;
  text-height: auto;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  background: none 0 0 auto repeat scroll padding-box transparent;
  background-color: transparent;
  background-image: none;
  border: 0 none transparent;
  border-radius: 0;
  bottom: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  clear: none;
  content: normal;
  cursor: auto;
  direction: ltr;
  float: none;
  float-offset: 0 0;
  height: auto;
  inline-box-align: last;
  left: auto;
  line-height: inherit;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  outline: medium none invert;
  outline-offset: 0;
  padding: 0;
  resize: none;
  right: auto;
  top: auto;
  vertical-align: baseline;
  white-space: normal;
  white-space-collapse: collapse;
  width: auto;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: auto;
  text-align: start;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
#chatstack-container .chatstack-js-frame {
  display: none; }
#chatstack-container .chatstack-js-frame.chatstack-lightbox {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }
#chatstack-container .chatstack-launcher-frame {
  z-index: 2147483000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  max-height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  border: none; }
  #chatstack-container .chatstack-launcher-frame.initiate, #chatstack-container .chatstack-launcher-frame.offline {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: none; }
#chatstack-container.tab.opened .chatstack-app-frame {
  display: block;
  width: 340px;
  height: 470px;
  position: fixed;
  bottom: 0;
  right: 100px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: none;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.15);
  border-radius: 7px 7px 0 0;
  z-index: 2147483647; }
  #chatstack-container.tab.opened .chatstack-app-frame.mobile {
    width: 100%;
    height: 100%;
    right: 0; }
#chatstack-container.tab.opened .chatstack-launcher-frame, #chatstack-container.tab.opened.offline .chatstack-app-frame {
  display: none; }
#chatstack-container.docked.opened .chatstack-launcher-frame {
  display: none; }
#chatstack-container.floating.opened .chatstack-launcher-frame {
  display: block; }
#chatstack-container .chatstack-app-frame {
  display: none;
  height: 100%; }
#chatstack-container.app.parent.floating.opened .chatstack-app.parent, #chatstack-container.app.parent.docked.opened .chatstack-app.parent {
  position: fixed;
  top: auto;
  left: auto;
  right: 25px;
  bottom: 100px;
  height: calc(100% - 125px);
  width: 360px !important;
  max-width: 360px !important;
  max-height: 750px !important;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden; }
#chatstack-container.app.parent.floating.opened.offline .chatstack-app.parent, #chatstack-container.app.parent.docked.opened.offline .chatstack-app.parent {
  display: none; }
#chatstack-container.app.parent.docked.opened .chatstack-app.parent {
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 0; }
#chatstack-container.app.floating.opened, #chatstack-container.app.docked.opened {
  border: none;
  box-shadow: none; }
  #chatstack-container.app.floating.opened .chatstack-app-frame, #chatstack-container.app.docked.opened .chatstack-app-frame {
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  #chatstack-container.app.floating.opened.offline .chatstack-app-frame, #chatstack-container.app.docked.opened.offline .chatstack-app-frame {
    display: none; }
#chatstack-container.offline .chatstack-app-frame {
  display: none; }
#chatstack-container.offline.opened .chatstack-launcher-frame.offline {
  display: block;
  width: 350px;
  height: 482px;
  bottom: 10px;
  right: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
#chatstack-container.app.popup.parent.docked.opened .chatstack-app.parent, #chatstack-container.app.popup.parent.docked.opened .chatstack-app-frame {
  width: 100% !important;
  max-width: none !important; }
#chatstack-container.initiate-opened .chatstack-launcher-frame.initiate {
  display: block;
  width: 310px;
  height: auto;
  bottom: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
