#chatstack-app-frame-body .sprite { background-image: url('../../../images/Sprite.png') !important; background-repeat: no-repeat !important; }
#chatstack-app-frame-body .sprite.Adore { background-position: 0px -26px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Angry { background-position: -26px -26px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Celebrate { background-position: -52px 0px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Cool { background-position: -52px -26px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Cry { background-position: 0px -52px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Dizzy { background-position: -26px -52px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Frown { background-position: -52px -52px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Hysterical { background-position: -78px 0px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Impish { background-position: -78px -26px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Kissed { background-position: -78px -52px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Laugh { background-position: 0px 0px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Money { background-position: -26px -78px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Sad { background-position: -52px -78px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Shock { background-position: -78px -78px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Sleep { background-position: -104px 0px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Adore.Small { background-position: -72px -130px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Angry.Small { background-position: -90px -130px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Celebrate.Small { background-position: -108px -130px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Cool.Small { background-position: -126px -130px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Cry.Small { background-position: -148px 0px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Dizzy.Small { background-position: -148px -18px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Frown.Small { background-position: -148px -36px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Hysterical.Small { background-position: -148px -54px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Impish.Small { background-position: -148px -72px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Kissed.Small { background-position: -148px -90px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Laugh.Small { background-position: -148px -108px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Money.Small { background-position: -148px -126px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Sad.Small { background-position: 0px -148px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Shock.Small { background-position: -18px -148px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Sleep.Small { background-position: -36px -148px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Smile.Small { background-position: -54px -148px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Stop.Small { background-position: -72px -148px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Study.Small { background-position: -90px -148px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Surprise.Small { background-position: -108px -148px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Sweat.Small { background-position: -126px -148px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Tired.Small { background-position: -18px -130px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Wink.Small { background-position: -130px -18px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Woo.Small { background-position: -130px -54px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Smile { background-position: -104px -26px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Stop { background-position: -26px 0px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Study { background-position: -104px -78px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Surprise { background-position: 0px -104px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Sweat { background-position: -26px -104px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Tired { background-position: -52px -104px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Wink { background-position: 0px -78px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Woo { background-position: -78px -104px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.Collapse { background-position: -155px -148px; width: 9px; height: 16px; }
#chatstack-app-frame-body .sprite.Cross { background-position: -104px -52px; width: 24px; height: 24px; }
#chatstack-app-frame-body .sprite.CrossSmall { background-position: -54px -130px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Disconnect { background-position: -130px 0px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Expand { background-position: -144px -148px; width: 9px; height: 16px; }
#chatstack-app-frame-body .sprite.Feedback { background-position: -130px -36px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Notification { background-position: -104px -104px; width: 22px; height: 22px; }
#chatstack-app-frame-body .sprite.Popup { background-position: -130px -72px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.SmilieButton { background-position: -36px -130px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.SoundOff { background-position: -130px -90px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.SoundOn { background-position: -130px -108px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.TickSmall { background-position: 0px -130px; width: 16px; height: 16px; }
#chatstack-app-frame-body .sprite.Typing { background-position: -166px 0px; width: 13px; height: 10px; }
