#loginModal {
    .modal-dialog{
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 660px;
        position: absolute;
        left: 50%;
        margin: 0;
    }
    .modal-content{
        border-radius: 0;
    }
    .modal-header {
        text-align: center;
        border: 0;
        padding: 5px 7px;
        .modal-title{
            padding-top: 10px;
        }
    }
    .modal-body{
        width: 100%;
        text-align: center;
        padding-top: 0px;
        overflow:hidden;
        .button-section{
            margin-bottom: 20px;
            .login-blue-btn {
                margin-top: 15px !important;
                padding: 13px 40px !important; 
            }
        }
        /*        ul {
                    list-style:none;
                    display: inline-block;
                    margin: 0;
                    margin-top: 15px;
                    padding: 0;
                    li {
                        float: left;
                        .btn-blue{
                            margin: 0;
                        }
                    }
                    p {
                        float: left;
                        display: inline;
                        padding: 13px 22px;
                        font-size: 17px;
                    }
                }*/
        .left{
            text-align:left;
            h2{
                margin-top: 0;
                color: #343a41;
                font-weight: 700;
            }
        }
        .right{
            label{
                font-size: 13px;
                color: #403f3f;
                display: block;
            }
        }
        .selectboxit-outer{

        }
        .selectboxit-container {
            width: 100%;
            .selectboxit-text{
                padding-top: 8px;
                height: 48px;
            }
            .selectboxit-arrow-container{
                display:none;
            }
            /*            span {
                            max-width: 100% !important;
                            color: #555555!important;
                               padding-top: 4px;
                            height: 48px;
                            border-radius: 0;
                            font-size: 15.5px;
                            font-weight: 400;
                            text-align: left;
                            box-shadow: none;
                        }*/
            .selectboxit {
                border-radius: 0;
                border: 1px solid #ccd0d2;
                height: 48px;
                width:100% !important;
                margin-top: 0px;
                background: #fff;
            }
            .selectboxit-options{ 
                border-radius:0 !important; 
                width: 100% !important;
                .selectboxit-option{
                    padding:0 !important;
                    border-bottom: 1px solid #b1b1b1;
                    text-align:center; 
                    border-radius:0; 
                    a:hover { 
                        background-color: #f1f1f1;
                        color: #027dca;
                    }
                    .selectboxit-option-anchor{
                        line-height: 40px;
                        display: block;
                        color: #1084e9;
                        background-color: #fff;
                        background-image: none;
                        /*color: #333333;*/
                        font-size: 14px; 
                        padding: 0;
                        height: 36px;
                    } 
                }
                .selectboxit-focus:hover  {
                    background-color: #fff; 
                }
            }
        }

    }
}

