.home-navbar{
    color:$white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:10;
    padding: 14px 0 14px 0;
    border-radius: 0;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    .navbar-brand{
        padding:0;
        margin: 0!important;
        cursor: pointer; 
    }
    .logo-img{
        float: left;
        width: 130px;
    }
    #frontend-navbar-collapse {
        text-align: center;
    }
    .navbar-nav{ 
        display: inline-block;
        float:none;
    }
    ul{ 
        &.navbar-nav{ 
            li{
                margin: 0 15px;
                a{
                    padding: 15px 0 5px 0px;
                    font-size: 18px;
                    &:active,&:hover{
                        border-bottom:0;
                        color:  #2179EE;
                    }
                    &:focus{
                        background-color: transparent;
                    }
                }  
                &.active{
                    a{
                        border-bottom:0;
                        color: #2179EE;
                    }
                }
            }
            .active{
                a{
                    color: #2179EE;
                }
            }
        }
        &.login-links{
            @extend .list-inline;
            position: absolute;
            right: 40px;
            top: 10px;
            li{
                line-height: 1;
                &:first-child{
                    border-right: 1px solid $white;
                }
                a{
                    font-size: 13px;
                }
            }
        }
        li{
            a{
                color:$white;
                cursor: pointer;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.83);

                &:hover{
                    background: transparent;
                }
            } 
        }
    }
    .navbar-right{
        margin-top: -13px;
        .getstart-bg{
            background-color: $navy-blue2;
            border-right: 1px solid #686C73;
            border-bottom: 1px solid #686C73;

        }
        .contact-modal-show {
            /*text-shadow:none;*/
        }
        li{
            display:inline-block;
            font-size: 13px;
            height: 40px;
            margin: -3px;
            background-color: #686C73;
            @media screen and (max-width: 767px) {
                font-size: 18px;
                height: 0px; 
                margin: 0px; 
                background-color:none; 
                border-right: 1px solid #fff;
                .getstart-bg{
                    background-color: none;
                    font-size: 18px;
                    border: 0;
                }
            }
            a{
                font-family: Lato;	
                font-size: 14px;
                font-weight: 700;
                text-shadow:none;
                line-height: 17px;
                &:focus{
                    background-color: transparent;
                }
                @media screen and (max-width: 767px) {
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                    padding: 4px 15px 4px 15px;
                    border-right: 1px solid #fff;
                }
            }  
            &:last-child{
                a{
                    border-right: 0;
                }
            } 
        }
        @media screen and (max-width: 991px) {

            /*.navbar-right {*/
            padding-top: 30px;
            padding-right: 44px;  
        }
        /*}*/
    }

    @media screen and (max-width: 767px) {
        background-color: $dark-blue;
        padding: 5px 0px;
        #frontend-navbar-collapse{
            border: 0;
            box-shadow: none;
        }
        ul{
            &.navbar-nav{
                li{
                    text-align: left;
                    a{
                        display: inline-block;
                        border-bottom: 2px solid transparent;
                    }
                }
            }
            &.navbar-right{
                text-align: left;
                margin-bottom: 15px;
            }
        }
        .navbar-header{
            .navbar-toggle{
                margin-bottom: 0;
                margin-top: 5px;
                .icon-bar{
                    width: 26px;
                    height: 4px;
                    border-radius: 1px;
                    background-color: $white;
                    border: 1px solid $dark-blue;
                }
            }
        }
        .logo-img{
            margin-left: 15px;
            margin-top: 2px;
            width: 98px;
        }
    }
    @media screen and (max-width: 767px) {
        ul{
            width:100%;
            float:left; 
        }
    }

}  
.blue-nav,.blue-nav2{
    background-color: $dark-blue;
    transition-property: all;
    transition-duration: 0.5s;  
    transition-timing-function: ease-in-out;
}

